<section id="ui-left">
    <img id="logo" src="icons/fvtt.png" height="50px">
    <template id="controls"></template>
    <template id="players"></template>
</section>
<section id="ui-middle">
    <header id="ui-top" class="offset">
        <template id="navigation"></template>
        <div id="loading">
            <div id="loading-bar">
                <label id="context"></label>
                <label id="progress"></label>
            </div>
        </div>
    </header>
    <footer id="ui-bottom">
        <template id="camera-views"></template>
        <div>
            <template id="hotbar"></template>
            <div id="fps"></div>
        </div>
    </footer>
</section>
<section id="ui-right">
    <template id="sidebar"></template>
</section>
<template id="notifications"></template>
<template id="hud"></template>
<template id="board"></template>
<template id="pause"></template>
