<form id="setup-authentication" class="app dark" method="post" autocomplete="off">
    <h1>{{{ localize "SETUP.AdminAccess" }}}</h1>
    <div class="form-group">
        <label for="key">{{ localize "SETUP.AdminKeyLabel" }}</label>
        <input id="key" name="adminKey" type="password"/>
        <p class="notes">{{ localize "SETUP.AdminKeyPrompt" }}</p>
    </div>
    <div class="form-group">
        <button type="submit" name="action" value="adminAuth">
            <i class="fas fa-key"></i> {{localize "Submit" }}
        </button>
    </div>
</form>