{{cprTrace "CPR-CYBERWARE-CONTENT.HBS"}}
{{#each this as |cyberware c|}}
{{#unless foundation.data.data.core}}
<li class="item flexrow" data-item-id="{{foundation.data._id}}" draggable="false">
    <div class="item-name cyberware-name text-nowrap">
        <a class="name item-view">{{foundation.name}} {{cprShowOptionSlotStatus foundation}}{{#if foundation.data.data.isUpgraded}}<sup><i class="fab fa-uniregistry"></sup></i>{{/if}}</a>
    </div>
    <div class="item-detail cyberware-data text-nowrap">
        {{localize (cprFindConfigValue "cyberwareTypeList" foundation.data.data.type)}}
    </div>
    <div class="item-detail cyberware-actions text-nowrap">
        {{#unless (cprListContains "fashionware,cyberwareInternal,cyberwareExternal" foundation.data.data.type)}}
        {{!-- INSTALL ACTION --}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-uninstall-glyph.hbs" foundation}}
        {{!-- ITEM MANAGEMENT --}}
        {{#if data.data.isUpgraded}}
          {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-upgrade-glyph.hbs"}}
        {{else}}
          {{#unless (cprIsEmpty (cprFilter (cprFilter foundation.actor.data.filteredItems.itemUpgrade "data.data.type" "cyberware") "data.data.isInstalled" false))}}
            {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-upgrade-glyph.hbs"}}
          {{/unless}}
        {{/if}}
        {{/unless}}
    </div>
</li>
{{/unless}}
{{#each optionals as |optional o|}}
<li class="item flexrow" data-item-id="{{optional.data._id}}" data-foundational-id="{{../foundation.id}}" draggable="false">
    <div class="item-name cyberware-name flexrow text-nowrap">
        <a class="name item-view"><span class="name">&nbsp;{{optional.name}}</span>{{#if optional.data.data.isUpgraded}}<sup><i class="fab fa-uniregistry"></sup></i>{{/if}}</a>
    </div>
    <div class="item-detail cyberware-data text-nowrap">
        {{localize (cprFindConfigValue "cyberwareTypeList" optional.data.data.type)}}
    </div>
    <div class="item-detail cyberware-actions text-nowrap">
        {{#unless (cprListContains "fashionware,cyberwareInternal,cyberwareExternal" foundation.data.data.type)}}
        {{!-- INSTALL ACTION --}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-uninstall-glyph.hbs" optional}}
        {{!-- ITEM MANAGEMENT --}}
        {{#if data.data.isUpgraded}}
          {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-upgrade-glyph.hbs"}}
        {{else}}
          {{#unless (cprIsEmpty (cprFilter (cprFilter actor.data.filteredItems.itemUpgrade "data.data.type" "cyberware") "data.data.isInstalled" false))}}
            {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-upgrade-glyph.hbs"}}
          {{/unless}}
        {{/if}}
        {{/unless}}
    </div>
</li>
{{/each}}
{{/each}}
{{cprTrace "END CPR-CYBERWARE-CONTENT.HBS"}}
