{{cprTrace "CPR-IMAGE-BLOCK.HBS"}}
<div class="image-block">
  <img class="profile-img"
    src="{{actor.img}}"
    data-edit="img"
    title="{{actor.name}}"
  />
</div>
{{cprTrace "END CPR-IMAGE-BLOCK.HBS"}}
