{{cprTrace "CPR-STAT-BLOCK.HBS"}}
{{!-- Partials to create stat-units from template --}}
{{#each data.data.stats as |stat s|}}
<div class="stat-block">
  <div class="block-label">
    <a class="rollable" data-roll-type="stat" data-roll-title="{{s}}">
      {{localize (cprFindConfigValue "statList" s)}}
    </a>
  </div>
  <div class="block-data">
    {{#unless (cprIsDefined this.max)}}
    <input class="" name="data.stats.{{s}}.value" type="number" value="{{this.value}}" />
    {{else}}
    <div class="min-of-max-container">
      <input class="" name="data.stats.{{s}}.value" type="number" value="{{this.value}}" />
      <div class="of-stat bg-red fg-white text-normal text-bold">of</div>
      <input class="" name="data.stats.{{s}}.max" type="number" value="{{this.max}}" />
    </div>
    {{/unless}}
  </div>
</div>
{{/each}}
{{cprTrace "END CPR-STAT-BLOCK.HBS"}}
