{{cprTrace "CPR-HUMANITY-BLOCK.HBS"}}
<div class="humanity-block main-block">
  <div class="block-label text-normal">
    {{localize "CPR.characterSheet.leftPane.humanity"}}
  </div>
  <div class="block-data min-of-max-container">
    <input class="width-full" name="data.derivedStats.humanity.value" type="number" value="{{data.data.derivedStats.humanity.value}}"
      data-dtype="Number" />
    <div class="of bg-red fg-white text-normal text-bold">of</div>
    <input class="width-full" name="data.derivedStats.humanity.max" type="number" value="{{data.data.derivedStats.humanity.max}}"
      data-dtype="Number" />
  </div>
</div>
{{cprTrace "END CPR-HUMANITY-BLOCK.HBS"}}
