{{cprTrace "CPR-HITPOINT-BLOCK.HBS"}}
<div class="hitpoint-block main-block">
  <div class="block-label">
    <span>{{localize "CPR.global.generic.hitpoints"}}</span>
  </div>
  <div class="block-data min-of-max-container">
    <input class="text-center" name="data.derivedStats.hp.value" type="number" value="{{data.data.derivedStats.hp.value}}"
      data-dtype="Number" />
    <div class="of bg-red fg-white text-normal text-bold">of</div>
    <input class="text-center" name="data.derivedStats.hp.max" type="number" value="{{data.data.derivedStats.hp.max}}"
      data-dtype="Number" />

  </div>
</div>
{{cprTrace "END CPR-HITPOINT-BLOCK.HBS"}}
