{{cprTrace "CPR-IP-BLOCK.HBS"}}
<div class="handle-block main-block">
  <div class="block-label">
    {{localize "CPR.characterSheet.leftPane.improvementPoints"}}
  </div>
  <div class="block-data flex-space-between">
    <span class="width-full text-center">{{actor.data.data.improvementPoints.value}}</span>
    <div class="width-half no-wrap">
      <a class="improvement-points-edit-button" title="{{localize "CPR.characterSheet.leftPane.improvementPointsEdit"}}"><i class="fas fa-edit"></i></a>
      <a class="improvement-points-open-ledger" title="{{localize "CPR.ledger.ledgerOpen"}}"><i class="fas fa-sticky-note"></i></a>
    </div>
  </div>
</div>
{{cprTrace "END CPR-IP-BLOCK.HBS"}}
