{{cprTrace "CPR-ITEM-CONTENT.HBS"}}
<li class="item flexrow" data-item-id="{{item.id}}" data-item-category="{{item.type}}" draggable="true">
  <div class="item-name text-nowrap">
    <a class="name item-edit" title="{{item.name}}&#13{{localize "CPR.characterSheet.bottomPane.fight.clickToViewTheItem"}}&#13{{localize "CPR.characterSheet.bottomPane.fight.controlClickToSendToChat"}}">{{item.name}}</a>&nbsp;
  </div>
  <div class="item-detail text-nowrap">
    {{item.data.data.amount}}
  </div>
  <div class="item-name gear-data text-nowrap">
    {{#if (cprCompare item.data.data.amount ">" "1")}}
      {{#if (cprCompare (cprCompare item.type "===" "ammo") "&&" (cprCompare (cprCompare item.data.data.variety "!==" "grenade") "&&" (cprCompare item.data.data.variety "!==" "rocket")))}}
        {{localize "CPR.containerSheet.items.priceListingSingleAll" price=(cprMath "product" item.data.data.price.market "0.1") category=(localize (cprGetProp (cprFindConfigObj "itemPriceCategory") item.data.data.price.category)) priceAll=(cprMath "product" item.data.data.price.market item.data.data.amount "0.1")}}
      {{else}}
        {{localize "CPR.containerSheet.items.priceListingSingleAll" price=item.data.data.price.market category=(localize (cprGetProp (cprFindConfigObj "itemPriceCategory") item.data.data.price.category)) priceAll=(cprMath "product" item.data.data.price.market item.data.data.amount)}}
      {{/if}}
    {{else}}
      {{#if (cprCompare (cprCompare item.type "===" "ammo") "&&" (cprCompare (cprCompare item.data.data.variety "!==" "grenade") "&&" (cprCompare item.data.data.variety "!==" "rocket")))}}
        {{localize "CPR.containerSheet.items.priceListingSingle" price=(cprMath "product" item.data.data.price.market "0.1") category=(localize (cprGetProp (cprFindConfigObj "itemPriceCategory") item.data.data.price.category))}}
      {{else}}
        {{localize "CPR.containerSheet.items.priceListingSingle" price=item.data.data.price.market category=(localize (cprGetProp (cprFindConfigObj "itemPriceCategory") item.data.data.price.category))}}
      {{/if}}
    {{/if}}
  </div>
  <div class="item-end text-nowrap">
    {{> "systems/cyberpunk-red-core/templates/actor/container/cpr-container-actions.hbs" (cprMergeForPartialArg "item,actor,isGM" item actor isGM)}}
  </div>
</li>
{{cprTrace "END CPR-ITEM-CONTENT.HBS"}}
