<div class="table-draw" data-table-id="{{ table.id }}">
    {{#if description}}
    <div class="table-description">{{{description}}}</div>
    {{/if}}
    {{{ rollHTML }}}
    <ol class="table-results">
        {{#each results}}
        <li class="table-result flexrow" data-result-id="{{ this.id }}">
            <img class="result-image" src="{{this.icon}}"/>
            <div class="result-text">{{{this.text}}}</div>
        </li>
        {{/each}}
    </ol>
</div>