{{cprTrace "CPR-CYBERWARE.HBS"}}
<li class="text-padding-left">{{localize (cprFindConfigValue "cyberwareTypeList" data.data.type)}}</li>
<li class="text-padding-left">
{{#if data.data.isFoundational}}
{{localize "CPR.global.generic.foundational"}} {{localize "CPR.global.itemTypes.cyberware"}}
{{else}}
{{localize "CPR.global.generic.foundational"}} {{localize "CPR.global.itemTypes.cyberware"}} {{localize "CPR.itemSheet.cyberware.option"}}
{{/if}}
</li>
{{cprTrace "END CPR-CYBERWARE.HBS"}}
