{{cprTrace "CPR-CRITICALINJURY.HBS"}}
<li class="text-padding-left">{{localize "CPR.global.criticalInjury.quickfix"}}: {{localize (cprFindConfigValue "criticalInjuryQuickFix" data.data.quickFix.type)}} {{#if (cprCompare data.data.quickFix.type "===" "paramedic")}} ({{localize "CPR.itemSheet.criticalInjury.dv"}} {{data.data.quickFix.dvParamedic}}){{/if}} {{#if (cprCompare data.data.quickFix.type "===" "firstAidParamedic")}} ({{localize "CPR.itemSheet.criticalInjury.dv"}} {{data.data.quickFix.dvFirstAid}} / {{localize "CPR.itemSheet.criticalInjury.dv"}} {{data.data.quickFix.dvParamedic}}){{/if}}</li>
<li class="text-padding-left">{{localize "CPR.itemSheet.criticalInjury.treatment"}}: {{localize (cprFindConfigValue "criticalInjuryTreatment" data.data.treatment.type)}} {{#if (cprCompare data.data.treatment.type "===" "surgery")}} ({{localize "CPR.itemSheet.criticalInjury.dv"}} {{data.data.treatment.dvSurgery}}){{/if}} {{#if (cprCompare data.data.treatment.type "===" "paramedicSurgery")}} ({{localize "CPR.itemSheet.criticalInjury.dv"}} {{data.data.treatment.dvParamedic}} / {{localize "CPR.itemSheet.criticalInjury.dv"}} {{data.data.treatment.dvSurgery}}){{/if}}</li>
{{cprTrace "END CPR-CRITICALINJURY.HBS"}}
