{{cprTrace "CPR-MOOK-SHEET.HBS"}}
<form>
  <div class="mook-sheet">
    <div class="mook-name side-banner">
      <div class="bg-red fg-white text-largest">
        <a class = "change-mook-name">{{actor.name}}</a>
      </div>
    </div>

    <div class="mook-details">
      <div class="mook-img-and-stats">
        <div class="mook-image bg-red {{#if (cprCompare (cprCompare actor.data.flags.collapsedImage "===" undefined) "||" (cprCompare actor.data.flags.collapsedImage "===" true))}}mook-image-small-toggle{{/if}}">
          {{> "systems/cyberpunk-red-core/templates/actor/mooks/cpr-mook-image.hbs"}}
        </div>
        <div class="mook-stats-and-derived">
          <div class="mook-stats pad-thin fg-white bg-red">
            {{> "systems/cyberpunk-red-core/templates/actor/mooks/cpr-mook-stats.hbs"}}
          </div>
          <div class="mook-derived-stats pad-thin fg-white bg-red">
            <div class="mook-hp">
              <span class="text-padding-left">{{localize "CPR.global.generic.hitpoints"}}</span>
              <div class="min-of-max-container">
                <input class="text-center" name="data.derivedStats.hp.value" type="number"
                  value="{{data.data.derivedStats.hp.value}}" data-dtype="Number" />
                <div class="of bg-red fg-white text-normal text-bold">of</div>
                <input class="text-center" name="data.derivedStats.hp.max" type="number"
                  value="{{data.data.derivedStats.hp.max}}" data-dtype="Number" />
              </div>
            </div>
            <div class="mook-wounded">
              <span class="text-padding-left">{{localize "CPR.mookSheet.woundState"}}</span>
              <div class="bg-white text-center text-normal text-bold fg-black">
                {{localize (cprFindConfigValue "woundState" data.data.derivedStats.currentWoundState)}}
              </div>
            </div>
            <div class="mook-deathsave">
              <span class="text-padding-right" title="{{localize "CPR.mookSheet.deathSave.roll"}}">
                <a class="rollable" data-roll-title="{{localize "CPR.mookSheet.deathSave.title"}}" data-roll-type="deathsave">
                  {{localize "CPR.mookSheet.deathSave.title"}}</a>
              </span>
              <div class="width-full bg-white text-center text-normal text-bold fg-black">
                <span title="{{localize "CPR.mookSheet.deathSave.reset"}}&#13{{localize "CPR.global.generic.deathPenalty" }}: {{data.data.derivedStats.deathSave.penalty}}&#13{{localize "CPR.mookSheet.deathSave.hoverCriticalInjuryPenalty" }}: {{data.data.derivedStats.deathSave.basePenalty}}"><a class="reset-deathsave-value text-bold">{{data.data.derivedStats.deathSave.value}}</a></span>
                <a class="increase-deathsave-value"><i class="far fa-arrow-alt-circle-up text-smaller" title="{{localize "CPR.mookSheet.deathSave.increase"}}"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mook-gear fg-white pad-thin bg-red">
        <div class="mook-weapon-list">
          {{> "systems/cyberpunk-red-core/templates/actor/mooks/cpr-mook-weapons.hbs"}}
        </div>
        <div class="mook-armor">
          {{> "systems/cyberpunk-red-core/templates/actor/mooks/cpr-mook-armor.hbs"}}
        </div>
      </div>
      <div class="mook-skills pad-thin fg-white bg-red">
        {{> "systems/cyberpunk-red-core/templates/actor/mooks/cpr-mook-skills.hbs"}}
      </div>
      <div class="mook-special pad-thin fg-white bg-red">
        {{> "systems/cyberpunk-red-core/templates/actor/mooks/cpr-mook-gear.hbs"}}
      </div>
      <div class="mook-crit pad-thin fg-white bg-red">
        {{> "systems/cyberpunk-red-core/templates/actor/mooks/cpr-mook-criticalInjury.hbs"}}
      </div>
      <div class="mook-notes pad-thin fg-white bg-red">
        <div>
          <span class="text-padding-left">{{localize "CPR.global.generic.notes"}}</span>
        </div>
        <div class="mook-edit-section fg-black text-padding-left">
          {{editor content=data.data.information.notes target="data.information.notes" button=true owner=owner editable=editable}}
        </div>
      </div>
    </div>
  </div>
</form>
{{cprTrace "END CPR-MOOK-SHEET.HBS"}}
