{{cprTrace "CPR-MOOK-ARMOR.HBS"}}
<div class="armor-section">
  <div class="bg-red fg-white">
    <span class="item-name section-name text-nowrap text-padding-left">
      {{localize "CPR.global.itemTypes.armor"}}
    </span>
  </div>
  <div class="armor-content fg-black">
    <ol class="items-list fight-armor-list">
      {{#each (cprSort actor.data.filteredItems.armor "name") as |armor| }}
        {{#if (cprCompare armor.data.data.equipped "===" "equipped")}}
          <li class="item armor-piece">
            <li class="flex-space-between item flexrow" data-item-id="{{armor.id}}">
              <div class="item-name armor-name text-nowrap">
                <a class="name deletable item-edit" tabindex="0" data-item-id="{{armor.id}}" title="{{localize "CPR.mookSheet.items.clickToViewItem"}}, {{localize "CPR.mookSheet.items.ctrlClickToSendToChat"}}, {{localize "CPR.mookSheet.items.pressDeleteToDelete"}}">{{armor.name}}</a>
              </div>
              {{#if armor.data.data.isHeadLocation}}
                <div class="text-right">
                  {{localize "CPR.global.location.head"}}
                </div>
                <div class="text-right">
                  {{#if (cprCompare armor.data.data.headLocation.ablation ">" 0)}}
                    <span class="fg-red">
                  {{/if}}
                  {{cprMath "subtract" armor.data.data.headLocation.sp armor.data.data.headLocation.ablation}}
                  {{#if (cprCompare armor.data.data.headLocation.ablation ">" 0)}}
                    </span>
                  {{/if}}
                  /{{armor.data.data.headLocation.sp}}
                  <a class="ablate" data-location="head">
                    <i class="far fa-arrow-alt-circle-down" title="{{localize "CPR.mookSheet.items.armor.ablateArmor"}}"></i>
                  </a>
                  {{#if (cprCompare armor.id "===" ../actor.data.data.externalData.currentArmorHead.id)}}
                    <a class="armor-current" data-location="head" data-item-id="{{armor.id}}">
                    <i class="fas fa-star" title="{{localize "CPR.actorSheets.commonActions.resyncHeadArmor"}}"></i></a>
                  {{else}}
                    <a class="armor-current" data-location="head" data-item-id="{{armor.id}}">
                    <i class="far fa-star" title="{{localize "CPR.actorSheets.commonActions.makeHeadArmorActive"}}"></i></a>
                  {{/if}}
                </div>
              {{/if}}
              {{#if armor.data.data.isBodyLocation}}
                <div class="text-right">
                  {{localize "CPR.global.location.body"}}
                </div>
                <div class="text-right">
                  {{#if (cprCompare armor.data.data.bodyLocation.ablation ">" 0)}}
                    <span class="fg-red">
                  {{/if}}
                  {{cprMath "subtract" armor.data.data.bodyLocation.sp armor.data.data.bodyLocation.ablation}}
                  {{#if (cprCompare armor.data.data.bodyLocation.ablation ">" 0)}}
                    </span>
                  {{/if}}
                  /{{armor.data.data.bodyLocation.sp}}
                  <a class="ablate" data-location="body">
                    <i class="far fa-arrow-alt-circle-down" title="{{localize "CPR.mookSheet.items.armor.ablateArmor"}}"></i>
                  </a>
                  {{#if (cprCompare armor.id "===" ../actor.data.data.externalData.currentArmorBody.id)}}
                    <a class="armor-current" data-location="body" data-item-id="{{armor.id}}">
                    <i class="fas fa-star" title="{{localize "CPR.actorSheets.commonActions.resyncBodyArmor"}}"></i></a>
                  {{else}}
                    <a class="armor-current" data-location="body" data-item-id="{{armor.id}}">
                    <i class="far fa-star" title="{{localize "CPR.actorSheets.commonActions.makeBodyArmorActive"}}"></i></a>
                  {{/if}}
                </div>
              {{/if}}
              {{#if armor.data.data.isShield}}
                <div class="text-right">
                  {{localize "CPR.global.generic.shield"}}
                </div>
                <div class="text-right">
                  {{#if (cprCompare armor.data.data.shieldHitPoints.value "<" armor.data.data.shieldHitPoints.max)}}
                    <span class="fg-red">
                  {{/if}}
                  {{armor.data.data.shieldHitPoints.value}}
                  {{#if (cprCompare armor.data.data.shieldHitPoints.value "<" armor.data.data.shieldHitPoints.max)}}
                    </span>
                  {{/if}}
                  /{{armor.data.data.shieldHitPoints.max}}
                  <a class="ablate" data-location="shield">
                    <i class="far fa-arrow-alt-circle-down" title="{{localize "CPR.mookSheet.damageShield"}}"></i>
                  </a>
                  {{#if (cprCompare armor.id "===" ../actor.data.data.externalData.currentArmorShield.id)}}
                    <a class="armor-current" data-location="shield" data-item-id="{{armor.id}}">
                    <i class="fas fa-star" title="{{localize "CPR.actorSheets.commonActions.resyncShield"}}"></i></a>
                  {{else}}
                    <a class="armor-current" data-location="shield" data-item-id="{{armor.id}}">
                    <i class="far fa-star" title="{{localize "CPR.actorSheets.commonActions.makeShieldActive"}}"></i></a>
                  {{/if}}
                </div>
              {{/if}}
            </li>
          </li>
        {{/if}}
      {{/each}}
    </ol>
  </div>
</div>
{{cprTrace "END CPR-MOOK-ARMOR.HBS"}}
