{{cprTrace "CPR-MOOK-IMAGE.HBS"}}
<div class="mook-image-toggle side-banner fg-white" data-text="{{#if (cprCompare (cprCompare actor.data.flags.collapsedImage "===" undefined) "||" (cprCompare actor.data.flags.collapsedImage "===" true))}}{{localize "CPR.mookSheet.image.expand"}}{{else}}{{localize "CPR.mookSheet.image.collapse"}}{{/if}}"></div>
<div class="mook-image-block {{#if (cprCompare (cprCompare actor.data.flags.collapsedImage "===" undefined) "||" (cprCompare actor.data.flags.collapsedImage "===" true))}}hide{{/if}}">
  <img class="mook-image-block-img"
    src="{{actor.img}}"
    data-edit="img"
    title="{{actor.name}}"
  />
</div>
{{cprTrace "END CPR-MOOK-IMAGE.HBS"}}
