{{cprTrace "CPR-MOOK-SKILLS.HBS"}}
<div class="bg-red fg-white flexrow">
  <span class="text-nowrap text-padding-left">
    {{localize "CPR.mookSheet.skills.title"}}
  </span>
  <span class="text-right">
    <a class="mod-mook-skill">
      <i class="fas fa-edit"></i>
    </a>
  </span>
</div>
<div class="bg-white fg-black text-padding-left">
  {{#each (cprSort (cprGetMookSkills actor.data.filteredItems.skill) "name") as |skill s|}}
    {{#if (cprCompare skill.data.data.level ">" 0)}}
      <span class="item deletable" data-item-id="{{skill.id}}" tabindex="0">
        <a class="rollable"  data-roll-type="skill" data-roll-title="{{skill.name}}" title="{{localize "CPR.mookSheet.skills.clickToRollThisSkill"}}, {{localize "CPR.mookSheet.skills.pressDeleteToReset"}}">
          {{#if skill.data.data.core}}{{localize (cprSplitJoinCoreSkills skill.name)}}{{else}}{{skill.name}}{{/if}}
            {{#if (cprCompare (cprSystemConfig "mookSheetSkillDisplay") "===" "level")}}
              (+{{skill.data.data.level}}){{#unless @last}},{{/unless}}
            {{/if}}
            {{#if (cprCompare (cprSystemConfig "mookSheetSkillDisplay") "===" "base")}}
              (+{{cprMath "sum" skill.data.data.level (cprGetSkillStat skill ../actor)}}){{#unless @last}},{{/unless}}
            {{/if}}
            {{#if (cprCompare (cprSystemConfig "mookSheetSkillDisplay") "===" "total")}}
              (+{{cprMath "sum" skill.data.data.level (cprGetSkillStat skill ../actor) skill.data.data.skillmod}}){{#unless @last}},{{/unless}}
            {{/if}}
        </a>
        {{#if (cprCompare skill.data.data.core "===" false)}}
          <a class="item-edit skill-custom" title="{{localize "CPR.actorSheets.commonActions.editCustomSkill"}}"><i class="fas fa-edit"></i></a>
        {{/if}}
      </span>
    {{/if}}
  {{/each}}
</div>
{{cprTrace "END CPR-MOOK-SKILLS.HBS"}}
