{{cprTrace "CPR-MOOK-CRITICALINJURY.HBS"}}
<div class="items-header bg-red fg-white flexrow">
  <span class="item-name section-name text-nowrap text-padding-left">
    {{localize "CPR.mookSheet.criticalInjuries"}} <a class="roll-critical-injury" title="{{localize "CPR.mookSheet.criticalInjuryRoll"}}" data-item-type="criticalInjury"><i class="fas fa-dice text-padding-right"></i></a>
  </span>
</div>
<div class="bg-white fg-black text-padding-left">
{{#each actor.data.filteredItems.criticalInjury as |item i|}}
    <a class="name item-edit deletable {{#if item.data.data.deathSaveIncrease}}text-bold{{/if}}" title="{{localize "CPR.mookSheet.items.clickToViewItem"}}, {{localize "CPR.mookSheet.items.ctrlClickToSendToChat"}}, {{localize "CPR.mookSheet.items.pressDeleteToDelete"}}" tabindex="0" data-item-id="{{item.id}}">
      {{item.name}}{{#if (cprCompare item.data.data.location "===" "body")}}<i class="fas fa-user-injured text-padding-left"></i>{{/if}}{{#if (cprCompare item.data.data.location "===" "head")}}<i class="fas fa-tired text-padding-left"></i>{{/if}}{{#unless @last}},{{/unless}}
    </a>
{{/each}}
</div>
{{cprTrace "END CPR-MOOK-CRITICALINJURY.HBS"}}
