{{cprTrace "CPR-SKILLS-CATEGORY.HBS"}}
<div class="collapsible">
    <li class="items-header flexrow collapsible">

        <span class="item-name skill-name bg-black text-nowrap text-padding-left expand-button"
            id="skillTab-{{category}}" title="{{localize "CPR.actorSheets.commonActions.toggleCategoryPinned"}}">
            {{localize (cprFindConfigValue "skillCategories" category)}}&nbsp;
            {{#if (cprListContains sheet.options.collapsedSections (cprGeneratePartial "skillTab-VAR" category))}}
            <i class="fas fa-plus bg-black collapse-icon"></i>
            <i class="fas fa-minus bg-black expand-icon hide"></i>
            {{else}}
            <i class="fas fa-plus bg-black collapse-icon hide"></i>
            <i class="fas fa-minus bg-black expand-icon"></i>
            {{/if}}
        </span>
        <span class="item-detail skill-mod-value bg-black text-nowrap">{{localize "CPR.characterSheet.rightPane.skills.skillMod"}}</span>
        <span class="item-detail skill-level bg-black text-nowrap">{{localize "CPR.characterSheet.rightPane.skills.lvl"}}</span>
        <span class="item-detail skill-base bg-black text-nowrap">{{localize "CPR.characterSheet.rightPanke.skills.base"}}</span>
        <span class="item-detail skill-favorite bg-black text-nowrap toggle-favorite-visibility" id="skillTab-{{category}}-showFavorites" title="{{localize "CPR.characterSheet.rightPane.skills.toggleCategoryAll"}}"><i class="far fa-eye show-favorites"></i><i class="far fa-eye-slash hide-favorites hide"></i></span>
    </li>
    <ol class="items-list">

        {{#each (cprSortCoreSkills (cprFilter actor.data.filteredItems.skill "data.data.category" category) ) as |skill s|}}
        {{#if (cprSheetContentFilter ../this.sheet.options.cprContentFilter skill.translatedName)}}
        <li class="item skill-name flexrow{{#if skill.data.data.favorite}} favorite{{else}}{{#if (cprListContains ../sheet.options.collapsedSections (cprGeneratePartial "skillTab-VAR" ../category))}} hide{{/if}}{{/if}}" data-item-id="{{skill.data._id}}"
            data-skill-category="{{skill.data.data.category}}" draggable="true">
            <div class="item-name text-nowrap">
                <a class="rollable {{#if skill.data.data.basic}}text-bold{{/if}}" data-roll-type="skill"
                    data-roll-title="{{skill.name}}">
                    {{#if skill.data.data.core}}{{localize (cprSplitJoinCoreSkills skill.name)}}{{else}}{{skill.name}}{{/if}} {{#if (cprCompare skill.data.data.difficulty "===" "difficult")}}(x2) {{/if}}<strong>({{localize
                        (cprFindConfigValue
                        "statList" skill.data.data.stat)}})</strong>
                </a>

                {{#if (cprCompare skill.data.data.core "===" false)}}
                <a class="item-edit skill-custom" title="{{localize "CPR.actorSheets.commonActions.editCustomSkill"}}"><i class="fas fa-edit"></i></a>
                <a class="item-action skill-custom" title="{{localize "CPR.characterSheet.rightPane.skills.editCustomSkill"}}" data-action-type="delete"><i class="fas fa-trash-alt"></i></a>
                {{/if}}
            </div>
            <div class="item-detail skill-mod-value text-nowrap {{#if (cprCompare skill.data.data.skillmod "===" 0)}} zero-not-visible {{/if}}">
                <input class="number skill-input" value="{{skill.data.data.skillmod}}" type="number"
                  data-item-prop="data.mod" data-dtype="Number">
            </div>
            <div class="item-detail skill-level text-nowrap">
                <input class="number skill-input" value="{{skill.data.data.level}}" type="number"
                    data-item-prop="data.level" data-dtype="Number">
            </div>
            <div class="item-detail skill-base text-nowrap">
                {{cprMath "sum" skill.data.data.level skill.data.data.skillmod (lookup (cprGetProp ../actor.data.data.stats skill.data.data.stat) 'value')}}
            </div>
            <div class="item-detail skill-favorite text-nowrap">
                <a class="item-action" data-action-type="favorite" title="{{localize "CPR.actorSheets.commonActions.togglePin"}}">
                    {{#if skill.data.data.favorite}}
                    <i class="fas fa-thumbtack fg-black favorite"></i>
                    {{else}}
                    <i class="fas fa-thumbtack fg-grey"></i>
                    {{/if}}
                </a>
            </div>
        </li>
        {{/if}}
        {{/each}}
    </ol>
</div>
{{cprTrace "END CPR-SKILLS-CATEGORY.HBS"}}
