{{cprTrace "CPR-BLACK-ICE-SHEET.HBS"}}
<form>
  {{#if (cprIsDebug)}}
    actor ID: {{actor.id}}
  {{/if}}
  <div class="bice-sheet">
    <div class="bice-stats bg-red fg-white text-normal">
      <div class="bice-top flexrow bg-white">
        <div class="flexrow width-long bice-label-corner-right bg-red"></div>
        <div class="flexrow width-long bice-label-corner-both bg-red"></div>
        {{#each (cprFindConfigObj "blackIceStatList")}}
          <div class="flexrow bice-label-corner-both bg-red"></div>
        {{/each}}
        <div class="flexrow bice-label-corner-both bg-red"></div>
        <div class="flexrow bice-label-corner-left bg-red"></div>
      </div>
      <div class="bice-head flexrow text-center block-label">
        <div class="width-long">{{localize "CPR.global.generic.name"}}</div>
        <div class="width-long">{{localize "CPR.global.generic.class"}}</div>
        {{#each (cprFindConfigObj "blackIceStatList") as |stat s|}}
          <div>
            {{#unless (cprCompare s "===" "rez")}}
              <a class="rollable" data-roll-type="stat" data-roll-title="{{s}}" title="{{localize "CPR.actorSheets.rolling.clickToRollThisStat"}}">
            {{/unless}}
            {{localize stat}}
            {{#unless (cprCompare s "===" "rez")}}
              </a>
            {{/unless}}
          </div>
        {{/each}}
        <div>
          {{localize "CPR.blackIceSheet.cost"}}
        </div>
        <div>
          {{localize "CPR.global.generic.actions"}}
        </div>
      </div>
      <div class="bice-val flexrow pad-thin">
        <div class="block-data width-long bg-white fg-black">
          <input name="name" type="text" value="{{actor.name}}"/>
        </div>
        <div class="width-long width-full">
          <select name="data.class">
            {{#select data.data.class}}
              {{#each (cprFindConfigObj "blackIceType") as |class c|}}
                <option value="{{c}}">{{localize class}}</option>
              {{/each}}
            {{/select}}
          </select>
        </div>
        {{#each data.data.stats as |stat s|}}
          {{#if (cprCompare s "===" "rez")}}
            <div class="min-of-max-container">
              <input class="text-center" name="data.stats.rez.value" type="number" value="{{this.value}}" />
              <div class="of bg-red fg-white text-normal text-bold">of</div>
              <input class="text-center" name="data.stats.rez.max" type="number" value="{{this.max}}" />
            </div>
          {{else}}
            <div class="block-data text-large">
              <input name="data.stats.{{s}}" type="number" value="{{this}}"/>
            </div>
          {{/if}}
        {{/each}}
        <div class="block-data text-large">
          <input name="data.cost" type="number" value="{{data.data.cost}}"/>
        </div>

        <div class="block-data text-large">
          {{#if actor.token.data.flags.cyberpunk-red-core.programId}}
          {{#if (cprCompare data.data.class "!==" "other")}}
            <a class="rollable" data-roll-type="damage"  data-program-id="{{actor.token.data.flags.cyberpunk-red-core.programId}}" data-netrunner-id="{{actor.token.data.flags.cyberpunk-red-core.netrunnerTokenId}}" data-scene-id="{{actor.token.data.flags.cyberpunk-red-core.sceneId}}"><i class="fas fa-tint red-fg" title="{{localize "CPR.actorSheets.commonActions.rollDamage"}}" ></i></a>
          {{/if}}
          {{/if}}
          {{#unless actor.token.data.flags.cyberpunk-red-core.netrunnerTokenId}}
          <a class="configure-from-program"><i class="fas fa-wrench red-fg" title="{{localize "CPR.blackIceSheet.configureFromProgram"}}" ></i></a>
          {{/unless}}
        </div>

      </div>
    </div>
    <div class="bice-details bg-red pad-thin">
      <div class="bice-icon">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
      </div>
      <div class="bice-effects">
        <div class="flexrow bg-red pad-thin text-padding-left">
          <span class="fg-white text-center text-vert-center">{{localize "CPR.blackIceSheet.effects"}}:</span>
          <input class="bg-white fg-black width-longer" name="data.effect" type="text" value="{{data.data.effect}}"/>
        </div>
        <div class="flexrow bg-red pad-thin text-padding-left">
          <span class="fg-white text-center text-vert-center">{{localize "CPR.global.generic.notes"}}:</span>
          <input class="bg-white fg-black width-longer" name="data.notes" type="text" value="{{data.data.notes}}"/>
        </div>
      </div>
    </div>
  </div>
</form>
{{cprTrace "END CPR-BLACK-ICE-SHEET.HBS"}}
