{{cprTrace "CPR-DEMON-SHEET.HBS"}}
<form>
  {{#if (cprIsDebug)}}
    actor ID: {{actor.id}}
  {{/if}}
  <div class="demon-sheet">
    <div class="demon-stats bg-red fg-white text-normal">
      <div class="demon-top flexrow bg-white">
        <div class="flexrow demon-label-corner-right bg-red"></div>
        {{#each (cprFindConfigObj "demonStatList") as |stat s|}}
            {{#unless (cprCompare s "===" "combatNumber")}}
              <div class="flexrow demon-label-corner-both bg-red"></div>
            {{/unless}}
        {{/each}}
        <div class="flexrow demon-label-corner-left bg-red"></div>
      </div>
      <div class="demon-head flexrow text-center block-label">
        <div>{{localize "CPR.global.generic.name"}}</div>
        {{#each (cprFindConfigObj "demonStatList") as |stat s|}}
          <div>
            {{#unless (cprListContains "rez,netactions" s)}}
              <a class="rollable" data-roll-title="{{s}}" title="{{localize "CPR.actorSheets.rolling.clickToRollThisStat"}}">
            {{/unless}}
            {{localize stat}}
            {{#unless (cprListContains "rez,netactions" s)}}
              </a>
            {{/unless}}
          </div>
        {{/each}}
      </div>
      <div class="demon-val flexrow pad-thin">
        <div class="block-data bg-red fg-black">
          <input name="name" type="text" value="{{actor.name}}"/>
        </div>
        {{#each data.data.stats as |stat s|}}
          {{#if (cprCompare s "===" "rez")}}
            <div class="min-of-max-container">
              <input class="text-center" name="data.stats.rez.value" type="number" value="{{this.value}}" />
              <div class="of bg-red fg-white text-normal text-bold">of</div>
              <input class="text-center" name="data.stats.rez.max" type="number" value="{{this.max}}" />
            </div>
          {{else}}
            <div class="block-data text-large">
              <input name="data.stats.{{s}}" type="number" value="{{this}}"/>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
    <div class="demon-details bg-red pad-thin">
      <div class="demon-icon">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
      </div>
      <div class="demon-notes pad-thin fg-white bg-red">
        <div class="demon-edit-section fg-black text-padding-left">
          {{editor content=data.data.notes target="data.notes" button=true owner=owner editable=editable}}
        </div>
      </div>
    </div>
  </div>
</form>
{{cprTrace "END CPR-DEMON-SHEET.HBS"}}
