{{cprTrace "CPR-PROGRAM-DAMAGE-ROLLCARD.HBS"}}
<div class="rollcard">
    <div class="rollcard-top">
        <div class="cpr-block chat-rollTitle-stat">
            <div class="text-center text-padding-top text-normal">{{rollTitle}}</div>
            <div class="rollcard-subtitle">
              {{#if (cprCompare (cprCompare rollCardExtraArgs.program.data.class "===" "antiprogramattacker") "&&" (cprCompare rollCardExtraArgs.program.data.damage.blackIce "!==" "")) }}
                {{#if (cprCompare formula "===" rollCardExtraArgs.program.data.damage.standard)}}
                  <div class="rollcard-subtitle-center text-small">{{localize "CPR.itemSheet.program.damageTo"}} {{localize "CPR.itemSheet.program.nonBlackIce"}}</div>
                {{else}}
                <div class="rollcard-subtitle-center text-small">{{localize "CPR.itemSheet.program.damageTo"}} {{localize "CPR.global.programClass.blackice"}}</div>
                {{/if}}
              {{else}}
              <div class="rollcard-subtitle-center text-small">{{localize "CPR.global.generic.damage"}}</div>
              {{/if}}
              <div class="rollcard-subtitle-right">
                <a class="clickable"
                    data-action="applyDamage"
                    data-total-damage="{{resultTotal}}" data-bonus-damage="{{#if criticalCard}}{{bonusDamage}}{{else}}0{{/if}}"
                    data-damage-location="brain"
                    data-ablation="0"
                    data-ignore-half-armor="false">
                    <i class="fas fa-bolt" title="{{localize "CPR.chat.damageApplication.applyDamage"}}"></i>
                </a>
              </div>
            </div>
        </div>
    </div>
    <div class="rollcard-bottom">
        <div class="cpr-block">
            <div class="d6-rollcard-data">
                <div class="d6-dice-div">
                    {{!-- die image for initialRoll --}}

                    {{#each faces as |dieFace|}}
                    {{#if (cprCompare dieFace "===" 6)}}
                    {{#if ../criticalCard}}
                    <img class="{{cprDiceSizeImageClass ../formula}}"
                        src="systems/cyberpunk-red-core/icons/dice/red/d6_{{dieFace}}_preem.svg">
                    {{else}}
                    <img class="{{cprDiceSizeImageClass ../formula}}"
                        src="systems/cyberpunk-red-core/icons/dice/black/d6_{{dieFace}}.svg">
                    {{/if}}
                    {{else}}
                    <img class="{{cprDiceSizeImageClass ../formula}}"
                        src="systems/cyberpunk-red-core/icons/dice/black/d6_{{dieFace}}.svg">
                    {{/if}}
                    {{/each}}

                </div>
                <div class="d6-number-div">
                    {{#if (cprCompare mods.length ">" 0)}}
                    <a>
                    {{/if}}
                    <span class="clickable{{#if criticalCard}} fg-red text-bold{{/if}}" data-action="toggleVisibility" data-visible-element="d6-data-details">{{resultTotal}}</span>
                    {{#if (cprCompare mods.length ">" 0)}}
                    </a>
                    {{/if}}
                </div>
                <div class="d6-data-div">
                    {{#if isAutofire}}
                    <div class="text-normal text-bold">{{localize "CPR.global.skills.autofire"}}! (x{{autofireMultiplier}})</div>
                    {{/if}}
                    {{#if isAimed}}
                    <div class="text-normal text-bold">{{localize "CPR.rolls.location"}}: {{localize (cprFindConfigValue
                        "aimedLocation" location)}}</div>
                    {{/if}}
                    {{#if criticalCard}}
                    <div class="text-normal text-bold">{{localize "CPR.rolls.criticalDamage"}}:
                        {{bonusDamage}}</div>
                    {{/if}}
                    <div class="d6-data-details hide">
                        {{#if (cprCompare mods.length ">" 0)}}
                        <div class="text-normal text-bold">{{localize "CPR.rolls.mods"}}: {{totalMods}}</div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{cprTrace "END CPR-PROGRAM-DAMAGE-ROLLCARD.HBS"}}
