{{cprTrace "CPR-BASE-ROLLCARD.HBS"}}
<div class="rollcard">
  <div class="rollcard-top">
    <div class="cpr-block chat-rollTitle-stat">
      <div class="text-center text-padding-top text-normal">{{rollTitle}} ({{formula}})</div>
    </div>
  </div>
  <div class="rollcard-bottom">
    <div class="cpr-block">
      <div class="{{die}}-rollcard-data">
        <div class="{{die}}-dice-div">
          {{!-- die image for initialRoll --}}

          {{#each faces as |dieFace|}}
          {{#if (cprCompare (cprCompare ../die "===" "d6") "||" (cprCompare ../die "===" "d10"))}}
            <img class="{{cprDiceSizeImageClass ../formula}}" src="systems/cyberpunk-red-core/icons/dice/black/{{../die}}_{{dieFace}}.svg">
            {{else}}
            <span class="text-large">{{dieFace}}&nbsp;</span>
            {{/if}}
          {{/each}}
        </div>
        <div class="{{die}}-number-div">
          <a><span class="{{#if mods}}clickable{{/if}}{{#if criticalCard}} fg-red text-bold{{/if}}"
              data-action="toggleVisibility" data-visible-element="{{die}}-data-details">{{resultTotal}}</span></a>
        </div>
        <div class="{{die}}-data-div">
          <div class="{{die}}-data-details hide">
            {{#if mods}}
            <span class="text-normal text-nowrap">{{localize "CPR.rolls.rollMods"}}: {{mods}}</span>
            <div class="text-normal text-bold text-nowrap">{{localize "CPR.rolls.mods"}} {{localize "CPR.rolls.total"}}:
              {{totalMods}}</div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{cprTrace "END CPR-BASE-ROLLCARD.HBS"}}
