{{cprTrace "CPR-SUPPRESSIVE-FIRE-ROLLCARD.HBS"}}
<div class="rollcard">
  <div class="rollcard-top">
    <div class="cpr-block chat-rollTitle-stat">
      <div class="text-center text-padding-top text-normal">{{rollTitle}}</div>
      <div class="rollcard-subtitle">
        <div class="rollcard-subtitle-center text-small">{{localize "CPR.rolls.suppressiveFire"}}</div>
        <div class="rollcard-subtitle-right">
          <a class="clickable" data-action="rollDamage" data-actor-id="{{entityData.actor}}" data-damage-location="{{location}}"
            data-token-id="{{entityData.token}}" data-attack-type="suppressive" data-item-id="{{entityData.item}}">
            <i class="fas fa-tint red-fg" title="Damage"></i>
          </a>
        </div>
        {{#if rollCardExtraArgs.ammoType}}
        <div class="rollcard-subtitle-2-center text-small">{{localize (cprFindConfigValue "ammoType" rollCardExtraArgs.ammoType)}}</div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="rollcard-bottom">
    <div class="cpr-block">
      <div class="d10-rollcard-data">
        <div class="d10-dice-div">
          {{!-- die image for initialRoll --}}
          {{#if criticalCard}}
          {{#if wasCritSuccess}}
          <img class="d10" src="systems/cyberpunk-red-core/icons/dice/red/d10_{{initialRoll}}_preem.svg">
          <i class="fas fa-plus"></i>
          {{else}}
          <img class="d10" src="systems/cyberpunk-red-core/icons/dice/red/d10_{{initialRoll}}_fail.svg">
          <i class="fas fa-minus"></i>
          {{/if}}
          <img class="d10" src="systems/cyberpunk-red-core/icons/dice/red/d10_{{cprMath "abs" criticalRoll}}.svg">
          {{else}}
          <img class="d10" src="systems/cyberpunk-red-core/icons/dice/black/d10_{{initialRoll}}.svg">
          {{/if}}
        </div>
        <div class="d10-number-div">
          <a><span class="clickable{{#if criticalCard}} fg-red text-bold{{/if}}" data-action="toggleVisibility"
              data-visible-element="d10-data-details">{{resultTotal}}</span></a>
        </div>
        <div class="d10-data-div">
          <div class="d10-data-details hide">
            <div class="text-normal text-bold">{{localize statName}} + {{statValue}}</div>
            <div class="text-normal text-bold">{{localize skillName}} + {{skillValue}}</div>
            {{#if roleValue}}
              <div class="text-normal text-bold">{{localize roleName}} + {{roleValue}}</div>
            {{/if}}
            {{#if universalBonusAttack}}
              <div class="text-normal text-bold">{{localize "CPR.universalBonuses.attack"}} + {{universalBonusAttack}}
            {{/if}}

            {{#if mods}}
              <span class="text-normal text-nowrap">{{localize "CPR.rolls.rollMods"}}: {{mods}}</span>
              <div class="text-normal text-bold text-nowrap">{{localize "CPR.rolls.mods"}} {{localize "CPR.rolls.total"}}:
                {{totalMods}}</div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{cprTrace "END CPR-SUPPRESSIVE-FIRE-ROLLCARD.HBS"}}
