{{cprTrace "CPR-DAMAGE-ROLLCARD.HBS"}}
<div class="rollcard">
    <div class="rollcard-top">
        <div class="cpr-block chat-rollTitle-stat">
            <div class="text-center text-padding-top text-normal">{{rollTitle}}</div>
            <div class="rollcard-subtitle">
                <div class="rollcard-subtitle-center text-small">{{#if autofire}}{{localize "CPR.global.skills.autofire"}} {{/if}}{{localize "CPR.global.generic.damage"}}</div>
                <div class="rollcard-subtitle-right">
                    <a class="clickable"
                       data-action="applyDamage"
                       data-total-damage="{{resultTotal}}" data-bonus-damage="{{#if criticalCard}}{{bonusDamage}}{{else}}0{{/if}}"
                       data-damage-location="{{#if isAimed}}{{location}}{{else}}body{{/if}}"
                       data-damage-lethal="{{#if (cprCompare rollCardExtraArgs.ammoType "===" "rubber")}}false{{else}}true{{/if}}"
                       data-ablation="{{#if (cprCompare rollCardExtraArgs.ammoType "===" "armorPiercing")}}2{{else}}{{#if (cprCompare rollCardExtraArgs.ammoType "===" "rubber")}}0{{else}}1{{/if}}{{/if}}"
                       data-ignore-half-armor="{{#if rollCardExtraArgs.ignoreHalfArmor}}true{{else}}false{{/if}}">
                        <i class="fas fa-bolt" title="{{localize "CPR.chat.damageApplication.applyDamage"}}"></i>
                    </a>
                </div>
                {{#if rollCardExtraArgs.ammoType}}
                <div class="rollcard-subtitle-2-center text-small">{{localize (cprFindConfigValue "ammoType" rollCardExtraArgs.ammoType)}}</div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="rollcard-bottom">
        <div class="cpr-block">
            <div class="d6-rollcard-data">
                <div class="d6-dice-div">
                    {{!-- die image for initialRoll --}}

                    {{#each faces as |dieFace|}}
                    {{#if (cprCompare dieFace "===" 6)}}
                    {{#if ../criticalCard}}
                    <img class="{{cprDiceSizeImageClass ../formula}}"
                        src="systems/cyberpunk-red-core/icons/dice/red/d6_{{dieFace}}_preem.svg">
                    {{else}}
                    <img class="{{cprDiceSizeImageClass ../formula}}"
                        src="systems/cyberpunk-red-core/icons/dice/black/d6_{{dieFace}}.svg">
                    {{/if}}
                    {{else}}
                    <img class="{{cprDiceSizeImageClass ../formula}}"
                        src="systems/cyberpunk-red-core/icons/dice/black/d6_{{dieFace}}.svg">
                    {{/if}}
                    {{/each}}

                </div>
                <div class="d6-number-div">
                    {{#if (cprCompare mods.length ">" 0)}}
                    <a>
                    {{/if}}
                    <span class="clickable{{#if criticalCard}} fg-red text-bold{{/if}}" data-action="toggleVisibility" data-visible-element="d6-data-details">{{resultTotal}}</span>
                    {{#if (cprCompare mods.length ">" 0)}}
                    </a>
                    {{/if}}
                </div>
                <div class="d6-data-div">
                    {{#if isAutofire}}
                    <div class="text-normal text-bold">{{localize "CPR.global.skills.autofire"}}! (x{{autofireMultiplier}})</div>
                    {{/if}}
                    {{#if isAimed}}
                    <div class="text-normal text-bold">{{localize "CPR.rolls.location"}}: {{localize (cprFindConfigValue
                        "aimedLocation" location)}}</div>
                    {{/if}}
                    {{#if criticalCard}}
                    <div class="text-normal text-bold">{{localize "CPR.rolls.criticalDamage"}}:
                        {{bonusDamage}}</div>
                    {{/if}}
                    <div class="d6-data-details hide">
                      {{#if universalBonusDamage}}
                        <div class="text-normal text-bold">{{localize "CPR.universalBonuses.damage"}}: +{{universalBonusDamage}}
                      {{/if}}
                      {{#if (cprCompare mods.length ">" 0)}}
                        <div class="text-normal text-bold">{{localize "CPR.rolls.mods"}}: {{totalMods}}</div>
                      {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{cprTrace "END CPR-DAMAGE-ROLLCARD.HBS"}}
