{{cprTrace "CPR-CRITICAL-INJURY-ROLLCARD.HBS"}}
<div class="rollcard">
    <div class="rollcard-top">
        <div class="cpr-block chat-rollTitle-stat">
            <div class="text-center text-padding-top text-normal">{{rollTitle}}</div>
            <div class="text-center text-small">{{rollCardExtraArgs.tableName}}</div>
        </div>
    </div>
    <div class="rollcard-bottom">
        <div class="cpr-block">
            <div class="d6-rollcard-data">
                <div class="d6-dice-div">
                    {{!-- die image for initialRoll --}}
                    {{#each faces as |dieFace|}}
                    <img class="{{cprDiceSizeImageClass ../formula}}" src="systems/cyberpunk-red-core/icons/dice/black/d6_{{dieFace}}.svg">
                    {{/each}}
                </div>
                <div class="d6-number-div">
                    <span class="clickable{{#if criticalCard}} fg-red text-bold{{/if}}" data-action="toggleVisibility" data-visible-element="d6-data-details">{{resultTotal}}</span>
                </div>
                <div class="rollcard-critinjury-data">
                  <img class="rollcard-critinjury-icon" src="{{rollCardExtraArgs.itemImg}}"/>&nbsp;&nbsp;<a class="clickable" data-action="itemEdit" data-actor-id="{{entityData.actor}}" data-token-id="{{entityData.token}}" data-item-id="{{entityData.item}}">{{rollCardExtraArgs.itemName}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{cprTrace "END CPR-CRITICAL-INJURY-ROLLCARD.HBS"}}
