{{cprTrace "CPR-DEATHSAVE-ROLLCARD.HBS"}}
<div class="rollcard">
  <div class="rollcard-top">
    <div class="cpr-block chat-rollTitle-stat">
      <div class="text-center text-padding-top text-normal">{{rollTitle}}</div>
    </div>
  </div>
  <div class="rollcard-bottom">
    <div class="cpr-block">
      <div class="d10-rollcard-data">
        <div class="d10-dice-div">
          {{!-- die image for initialRoll --}}
          {{#if (cprCompare saveResult "===" (localize "CPR.rolls.success"))}}
            {{#if (cprCompare initialRoll "===" 1)}}
            <img class="d10" src="systems/cyberpunk-red-core/icons/dice/red/d10_{{initialRoll}}_preem.svg">
            {{else}}
            <img class="d10" src="systems/cyberpunk-red-core/icons/dice/red/d10_{{initialRoll}}.svg">
            {{/if}}
          {{else}}
            <img class="d10" src="systems/cyberpunk-red-core/icons/dice/red/d10_{{initialRoll}}.svg">
          {{/if}}
        </div>
        <div class="d10-number-div">
          <a><span class="clickable fg-{{#if (cprCompare saveResult "===" (localize "CPR.rolls.success"))}}green text-bold{{else}}red{{/if}}" data-action="toggleVisibility"
              data-visible-element="d10-data-details">{{resultTotal}}</span></a>
        </div>
        <div class="d10-data-div">
          <div class="d10-data-details hide">
            <div class="text-normal text-bold">{{localize "CPR.global.stats.body"}}: {{bodyStat}}</div>
            {{#if (cprCompare penalty "!==" 0)}}
            <span class="text-normal text-nowrap">{{localize "CPR.global.generic.deathPenalty"}}: {{penalty}}</span>
            {{/if}}
            {{#if (cprCompare basePenalty "!==" 0)}}
            <span class="text-normal text-nowrap">{{localize "CPR.characterSheet.rightPanke.skills.base"}} {{localize "CPR.global.generic.deathPenalty"}}: {{penalty}}</span>
            {{/if}}
            <div class="text-normal text-bold text-nowrap">{{localize "CPR.rolls.mods"}} {{localize "CPR.rolls.total"}}:
              {{totalMods}}</div>
            <div class="text-massive text-center fg-{{#if (cprCompare saveResult "===" (localize "CPR.rolls.success"))}}green{{else}}red{{/if}}">{{saveResult}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{cprTrace "END CPR-DEATHSAVE-ROLLCARD.HBS"}}
