<form class="{{cssClass}}" autocomplete="off">
    <input name="name" type="text" value="{{data.name}}" placeholder="Entry Title"/>

    <select name="folder">
        {{#select data.folder}}
        <option value=""></option>
        {{#each folders}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
        {{/select}}
    </select>

    {{editor content=data.content target="content" button=true editable=editable owner=owner}}

    {{#if editable}}
    <button type="submit" name="submit"><i class="fas fa-feather-alt"></i> {{ localize "JOURNAL.Submit"}}</button>
    {{/if}}
</form>
