.actor-sheet,
.container-sheet,
.item-sheet {
  font-family: "Audimat Mono";
}
.actor-sheet img,
.container-sheet img,
.item-sheet img {
  border: none;
}
.actor-sheet ol li,
.container-sheet ol li,
.item-sheet ol li {
  list-style-type: none;
}
.actor-sheet input[type="text"],
.container-sheet input[type="text"],
.item-sheet input[type="text"],
.actor-sheet input[type="number"],
.container-sheet input[type="number"],
.item-sheet input[type="number"],
.actor-sheet input[type="password"],
.container-sheet input[type="password"],
.item-sheet input[type="password"],
.actor-sheet input[type="date"],
.container-sheet input[type="date"],
.item-sheet input[type="date"],
.actor-sheet input[type="time"],
.container-sheet input[type="time"],
.item-sheet input[type="time"] {
  border: none;
  outline: none;
  box-shadow: none;
  width: calc(100% - 2px);
  min-width: unset;
  height: unset;
  background: unset;
  /* padding         : 1px 3px; */
  margin: 0;
  color: unset;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.actor-sheet input[type="text"]:hover,
.container-sheet input[type="text"]:hover,
.item-sheet input[type="text"]:hover,
.actor-sheet input[type="number"]:hover,
.container-sheet input[type="number"]:hover,
.item-sheet input[type="number"]:hover,
.actor-sheet input[type="password"]:hover,
.container-sheet input[type="password"]:hover,
.item-sheet input[type="password"]:hover,
.actor-sheet input[type="date"]:hover,
.container-sheet input[type="date"]:hover,
.item-sheet input[type="date"]:hover,
.actor-sheet input[type="time"]:hover,
.container-sheet input[type="time"]:hover,
.item-sheet input[type="time"]:hover {
  text-shadow: 0 0 8px #b90202ff;
  border-right: 1px;
  border-right-style: solid;
  border-left: 1px;
  border-left-style: solid;
  border-color: #b90202ff;
}
.actor-sheet .editor .tox-toolbar-overlord,
.container-sheet .editor .tox-toolbar-overlord,
.item-sheet .editor .tox-toolbar-overlord,
.actor-sheet .editor .tox-toolbar__primary,
.container-sheet .editor .tox-toolbar__primary,
.item-sheet .editor .tox-toolbar__primary {
  background: none;
}
#chat-form textarea {
  background: none;
  background-color: #eaeaeaff;
}
#chat-controls {
  color: #eaeaeaff;
}
#chat-controls .roll-type-select {
  background: #eaeaeaff;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"],
input,
select,
button,
.sidebar-tab .directory-header .header-search input,
.dialog .dialog-buttons button.default {
  background: #eaeaeaff;
}
/* -------------------------------------------- */
/* Override pause menu with glitch effect       */
/* IF enabled in settings.enablePauseAnimation  */
/* -------------------------------------------- */
#pause .pause-image {
  background: url("icons/pause.png");
  background-size: 128px;
  width: 128px;
  height: 128px;
  padding-left: 128px;
}
#pause .pause-glitch {
  margin: 0 auto;
  text-align: center;
  transform: scale3d(1, 1, 1);
  text-transform: uppercase;
  font-family: "Audimat Mono";
  font-weight: 900;
  color: #f4eded;
}
#pause .pause-glitch::before,
#pause .pause-glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
#pause .pause-glitch::before {
  left: 2px;
  text-shadow: -2px 0 #2388d2;
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim-2 7s infinite linear alternate-reverse;
}
#pause .pause-glitch::after {
  left: -2px;
  text-shadow: -2px 0 #8ef104;
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 6.5s infinite linear alternate-reverse;
}
#pause .pause-glitch::before,
#pause .pause-glitch::after {
  content: attr(data-text);
}
/*--------------------
  Color modifiers
---------------------*/
.fg-black {
  color: #2d2f2fff;
}
.fg-white {
  color: #eaeaeaff;
}
.fg-red {
  color: #b90202ff;
}
.fg-blue {
  color: #13ebf3ff;
}
.fg-yellow {
  color: #ffff3fff;
}
.fg-pink {
  color: #ffc3b6ff;
}
.fg-green {
  color: #609040ff;
}
.fg-orange {
  color: #DC8121ff;
}
.fg-grey {
  color: #9e9f9fff;
}
.bg-black {
  background-color: #2d2f2fff;
}
.bg-white {
  background-color: #eaeaeaff;
}
.bg-red {
  background-color: #b90202ff;
}
.bg-blue {
  background-color: #13ebf3ff;
}
.bg-yellow {
  background-color: #ffff3fff;
}
.bg-pink {
  background-color: #ffc3b6ff;
}
.bg-green {
  background-color: #609040ff;
}
.bg-orange {
  background-color: #DC8121ff;
}
.bg-grey {
  color: #9e9f9fff;
}
@font-face {
  font-family: 'Audimat Mono';
  src: url('fonts/AudimatMono.woff2') format('woff2'), url('fonts/AudimatMono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Audimat Mono';
  src: url('fonts/AudimatMonoSmallCaps.woff2') format('woff2'), url('fonts/AudimatMonoSmallCaps.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Audimat Mono';
  src: url('fonts/AudimatMonoLightOblique.woff2') format('woff2'), url('fonts/AudimatMonoLightOblique.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Audimat Mono';
  src: url('fonts/AudimatMonoSmallCapsLight.woff2') format('woff2'), url('fonts/AudimatMonoSmallCapsLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Audimat Mono';
  src: url('fonts/AudimatMonoLight.woff2') format('woff2'), url('fonts/AudimatMonoLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Audimat Mono';
  src: url('fonts/AudimatMonoBold.woff2') format('woff2'), url('fonts/AudimatMonoBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Audimat Mono';
  src: url('fonts/AudimatMonoBoldOblique.woff2') format('woff2'), url('fonts/AudimatMonoBoldOblique.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Audimat Mono';
  src: url('fonts/AudimatMonoSmallCapsBold.woff2') format('woff2'), url('fonts/AudimatMonoSmallCapsBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Audimat Mono';
  src: url('fonts/AudimatMonoOblique.woff2') format('woff2'), url('fonts/AudimatMonoOblique.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.actor-sheet {
  font-family: "Audimat Mono";
  background-color: #eaeaeaff;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 265px auto;
  grid-template-rows: auto auto;
  grid-template-areas: "pane-left pane-right" "pane-bottom pane-bottom";
}
.actor-sheet .left-pane {
  grid-area: pane-left;
  display: grid;
  max-width: 265px;
  max-height: 475px;
  grid-gap: 5px;
  grid-template-columns: auto auto;
  grid-template-areas: "main stats";
}
.actor-sheet .left-pane .main-section {
  grid-area: main;
  width: 200px;
  height: 475px;
  background-color: #b90202ff;
}
.actor-sheet .left-pane .main-section > div {
  margin: 5px;
}
.actor-sheet .left-pane .stats-section {
  grid-area: stats;
  width: 58px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
}
.actor-sheet .left-pane .stats-section > div {
  margin: 5px;
}
.actor-sheet .right-pane {
  grid-area: pane-right;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "tabs-right" "content-right" "sheet-filter";
}
.actor-sheet .right-pane .right-tabs-section {
  grid-area: tabs-right;
  width: 100%;
  height: 21px;
}
.actor-sheet .right-pane .right-content-section {
  grid-area: content-right;
  display: flex;
  height: 454px;
  width: 100%;
  border-color: #b90202ff;
  border-style: solid;
  border-width: 5px;
  overflow-y: scroll;
}
.actor-sheet .right-pane .sheet-filter-section {
  grid-area: sheet-filter;
  display: flex;
  width: 100%;
  align-items: center;
  border-width: 5px;
}
.actor-sheet .bottom-pane {
  grid-area: pane-bottom;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "tabs-bottom" "content-bottom";
  overflow-y: hidden;
}
.actor-sheet .bottom-pane .bottom-tabs-section {
  grid-area: tabs-bottom;
  width: 100%;
  height: 21px;
}
.actor-sheet .bottom-pane .bottom-content-section {
  grid-area: content-bottom;
  display: flex;
  width: 100%;
  border-color: #b90202ff;
  border-style: solid;
  border-width: 5px;
  overflow-y: auto;
}
.skills-tab {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: "skills-left skills-right";
  width: inherit;
  grid-gap: 5px;
  background-color: #b90202ff;
}
.skills-tab .left-pane-skills {
  grid-area: skills-left;
}
.skills-tab .right-pane-skills {
  grid-area: skills-right;
}
.cyberware-tab,
.gear-tab {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: inherit;
  background-color: #eaeaeaff;
}
.gear-tab-data {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 370px auto;
  width: inherit;
  background-color: #eaeaeaff;
  grid-template-areas: "gear-top" "gear-bottom";
}
.gear-tab-data .top-pane-gear {
  grid-area: gear-top;
  overflow-y: scroll;
  background-color: #eaeaeaff;
}
.gear-tab-data .bottom-pane-gear {
  grid-area: gear-bottom;
  background-color: #eaeaeaff;
  display: flex;
  white-space: nowrap;
  border-width: 5px;
  border-top-color: #b90202ff;
  border-top-style: solid;
}
.gear-tab-data .bottom-pane-gear .eurobucks {
  display: grid;
  grid-template-areas: "current-eurobucks" "modify-eurobucks";
}
.gear-tab-data .bottom-pane-gear .eurobucks .current-eurobucks {
  grid-area: current-eurobucks;
}
.gear-tab-data .bottom-pane-gear .eurobucks .current-eurobucks .eurobucks-text {
  flex: 0 0 83px;
}
.gear-tab-data .bottom-pane-gear .eurobucks .current-eurobucks .eurobucks-value {
  flex: 1;
}
.gear-tab-data .bottom-pane-gear .eurobucks .current-eurobucks .eurobucks-open-ledger {
  flex: 0 0 15px;
  text-align: right;
}
.gear-tab-data .bottom-pane-gear .eurobucks .modify-eurobucks {
  grid-area: modify-eurobucks;
}
.gear-tab-data .bottom-pane-gear .eurobucks .modify-eurobucks .eurobucks-modify-text {
  flex: 0 0 80px;
}
.gear-tab-data .bottom-pane-gear .eurobucks .modify-eurobucks .eurobucks-modify-input {
  flex: 1 0 100px;
}
.gear-tab-data .bottom-pane-gear .eurobucks .modify-eurobucks .eurobucks-modify-buttons {
  flex: 1 0 50px;
}
.gear-tab-data .bottom-pane-gear .eurobucks .modify-eurobucks .eurobucks-modify-reason {
  flex: 1 0 150px;
}
.lifepath-tab {
  display: flex;
  background-color: #eaeaeaff;
  flex-flow: wrap;
  justify-content: space-between;
  flex: 1;
}
.lifepath-tab {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "notes-pane lifepath-pane";
}
.lifepath-tab .lifepath-section {
  grid-area: lifepath-pane;
  margin: 5px;
}
.lifepath-tab .notes-section {
  grid-area: notes-pane;
  margin: 5px;
}
.lifepath-tab .notes-section .note-pad {
  display: flex;
  min-height: 425px;
}
.fight-tab {
  display: grid;
  grid-template-columns: 25% 25% auto;
  grid-template-rows: auto;
  grid-template-areas: "injuries armor weapon";
  width: inherit;
  grid-gap: 5px;
  background-color: #b90202ff;
}
.fight-tab .injuries-section {
  grid-area: injuries;
  background-color: #eaeaeaff;
  min-height: 35px;
}
.fight-tab .armor-section {
  grid-area: armor;
  background-color: #eaeaeaff;
  min-height: 35px;
}
.fight-tab .weapon-section {
  grid-area: weapon;
  background-color: #eaeaeaff;
  min-height: 35px;
}
.fight-tab .interface-abilities-section {
  grid-area: injuries;
  background-color: #eaeaeaff;
  min-height: 35px;
}
.fight-tab .cyberdeck-installed-section {
  grid-area: armor;
  background-color: #eaeaeaff;
  min-height: 35px;
}
.fight-tab .cyberdeck-installed-section .cyberdeck-installed-software-list {
  display: grid;
  grid-template-columns: 1fr 30px 30px;
  grid-template-areas: "program-name program-attack-and-damage program-actions";
}
.fight-tab .cyberdeck-installed-section .cyberdeck-installed-software-list .installed-program-name {
  grid-area: "program-name";
}
.fight-tab .cyberdeck-installed-section .cyberdeck-installed-software-list .installed-program-attack-and-damage {
  grid-area: "program-attack-and-damage";
  display: grid;
  grid-template-columns: 15px 15px;
  grid-template-areas: "program-attack program-damage";
}
.fight-tab .cyberdeck-installed-section .cyberdeck-installed-software-list .installed-program-attack-and-damage .installed-program-attack {
  grid-area: "program-attack";
}
.fight-tab .cyberdeck-installed-section .cyberdeck-installed-software-list .installed-program-attack-and-damage .installed-program-damage {
  grid-area: "program-damage";
}
.fight-tab .cyberdeck-installed-section .cyberdeck-installed-software-list .installed-program-actions {
  grid-area: "program-actions";
}
.fight-tab .cyberdeck-rezzed-section {
  grid-area: weapon;
  background-color: #eaeaeaff;
  min-height: 35px;
}
.fight-tab .cyberdeck-rezzed-section .cyberdeck-rezzed-software-list {
  display: grid;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 70px;
  grid-template-areas: "program-name program-per  program-spd program-atk program-def program-rez-and-decrement program-reset";
}
.fight-tab .cyberdeck-rezzed-section .cyberdeck-rezzed-software-list .rezzed-program-name {
  grid-area: "program-name";
}
.fight-tab .cyberdeck-rezzed-section .cyberdeck-rezzed-software-list .rezzed-program-per {
  grid-area: "program-per";
}
.fight-tab .cyberdeck-rezzed-section .cyberdeck-rezzed-software-list .rezzed-program-spd {
  grid-area: "program-spd";
}
.fight-tab .cyberdeck-rezzed-section .cyberdeck-rezzed-software-list .rezzed-program-atk {
  grid-area: "program-atk";
}
.fight-tab .cyberdeck-rezzed-section .cyberdeck-rezzed-software-list .rezzed-program-def {
  grid-area: "program-def";
}
.fight-tab .cyberdeck-rezzed-section .cyberdeck-rezzed-software-list .rezzed-program-rez-and-decrement {
  grid-area: "program-rez-and-decrement";
  display: grid;
  grid-template-columns: 15px 15px;
  grid-template-areas: "program-rez program-rez-decrement";
}
.fight-tab .cyberdeck-rezzed-section .cyberdeck-rezzed-software-list .rezzed-program-rez-and-decrement .rezzed-program-rez {
  grid-area: "program-rez";
}
.fight-tab .cyberdeck-rezzed-section .cyberdeck-rezzed-software-list .rezzed-program-rez-and-decrement .rezzed-program-rez-decrement {
  grid-area: "program-rez-decrement";
}
.fight-tab .cyberdeck-rezzed-section .cyberdeck-rezzed-software-list .rezzed-program-reset {
  grid-area: "program-reset";
}
.handle-block,
.role-block,
.hitpoint-block,
.deathsave-block,
.humanity-block,
.stat-block {
  font-size: 1.2rem;
  color: #2d2f2fff;
  background-color: #eaeaeaff;
}
.image-block {
  clip-path: polygon(25px 0, 100% 0, 100% 100%, 0 100%, 0 25px);
  height: 190px;
  width: 190px;
}
.stat-block {
  height: 42px;
  width: 48px;
}
.main-block {
  height: 41px;
  width: 190px;
}
.block-label {
  font-weight: bold;
  text-align: center;
}
.block-data {
  text-align: center;
  font-weight: lighter;
}
.tab-label {
  display: flex;
  justify-content: center;
  color: #eaeaeaff;
  background-color: #2d2f2fff;
  text-align: center;
  font-size: 1.2rem;
  min-width: 150px;
}
.tab-label.tab-indent {
  clip-path: polygon(33px 0, 100% 0%, 100% 100%, 11px 100%);
}
.tab-label.active {
  background-color: #b90202ff;
}
.tab-label:hover {
  text-shadow: none;
}
.tab-pink-underlay {
  background-color: #ffc3b6ff;
  margin-left: 20px;
  clip-path: polygon(22px 0, 100% 0%, 100% 100%, 0% 100%);
}
.cpr-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.cpr-tabs > * {
  flex: 1;
}
.cpr-tabs > .flex0 {
  display: block;
  flex: 0;
}
.cpr-tabs > .flex1 {
  flex: 1;
}
.cpr-tabs > .flex2 {
  flex: 2;
}
.cpr-tabs > .flex3 {
  flex: 3;
}
.cpr-tabs .item {
  text-align: center;
}
.cpr-tabs .item.active {
  text-shadow: 0 0 10px red;
}
.collapse-icon,
.expand-icon {
  font-size: xx-small;
}
.amount-input-wrap {
  position: relative;
}
.amount-input-wrap .amount-input {
  position: absolute;
  width: 100%;
  left: 0;
}
.amount-input-wrap .width-element {
  visibility: hidden;
}
.bice-sheet {
  font-family: "Audimat Mono";
  background-color: #eaeaeaff;
  display: grid;
  min-width: 730px;
  grid-template-rows: auto;
  grid-template-areas: "bice-stats" "bice-details";
}
.bice-sheet .bice-stats {
  display: grid;
  grid-area: bice-stats;
  grid-template-rows: 10px 20px;
  grid-template-areas: "bice-top" "bice-head" "bice-value";
}
.bice-sheet .bice-stats .bice-top {
  grid-area: bice-top;
  align-self: center;
}
.bice-sheet .bice-stats .bice-head {
  grid-area: bice-head;
}
.bice-sheet .bice-stats .bice-value {
  grid-area: bice-value;
}
.bice-sheet .bice-details {
  display: grid;
  grid-area: bice-details;
  grid-template-columns: 72px 1fr;
  grid-template-areas: "bice-icon bice-effects";
}
.bice-sheet .bice-details .bice-icon {
  gap: 5px;
  height: 72px;
  width: 72px;
  display: block;
  grid-area: bice-icon;
}
.bice-sheet .bice-details .bice-effects {
  gap: 5px;
  display: block;
  grid-area: bice-effects;
}
.bice-sheet .bice-label-corner-both {
  clip-path: polygon(10px 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%, 0 10px);
  height: 11px;
}
.bice-sheet .bice-label-corner-left {
  clip-path: polygon(10px 0, 100% 0, 100% 100%, 0 100%, 0 10px);
  height: 11px;
}
.bice-sheet .bice-label-corner-right {
  clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%);
  height: 11px;
}
.container-sheet {
  font-family: "Audimat Mono";
  background-color: #eaeaeaff;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 210px auto;
  grid-template-areas: "pane-left pane-right";
}
.container-sheet .left-pane {
  grid-area: pane-left;
  display: grid;
  max-width: 210px;
  grid-gap: 5px;
  padding: 5px;
  grid-template-rows: 200px 28px 28px auto auto;
  grid-template-areas: "image" "name" "settings" "settingsgm" "money";
}
.container-sheet .left-pane .image-block {
  grid-area: image;
  width: 200px;
  height: 200px;
  background-color: #b90202ff;
}
.container-sheet .left-pane .image-block .profile-img {
  width: 200px;
  height: 200px;
}
.container-sheet .left-pane .name-section {
  grid-area: name;
}
.container-sheet .left-pane .settings-section {
  grid-area: settings;
}
.container-sheet .left-pane .settings-section .trade-with-label {
  display: flex;
  align-items: center;
}
.container-sheet .left-pane .settings-section .trade-with-dropdown {
  width: 110px;
  float: right;
}
.container-sheet .left-pane .settings-gm-section {
  grid-area: settingsgm;
}
.container-sheet .left-pane .settings-gm-section .container-type-label {
  display: flex;
  align-items: center;
}
.container-sheet .left-pane .settings-gm-section .container-type-dropdown {
  width: 150px;
  float: right;
}
.container-sheet .left-pane .money-section {
  grid-area: money;
}
.container-sheet .right-pane {
  grid-area: pane-right;
  display: flex;
  height: 450px;
  width: 100%;
  border-color: #b90202ff;
  border-style: solid;
  border-width: 5px;
}
.container-sheet .right-pane .right-content {
  width: inherit;
  overflow-y: scroll;
}
.demon-sheet {
  font-family: "Audimat Mono";
  background-color: #eaeaeaff;
  display: grid;
  min-width: 615px;
  grid-template-rows: auto;
  grid-template-areas: "demon-stats" "demon-details";
}
.demon-sheet .demon-stats {
  display: grid;
  grid-area: demon-stats;
  grid-template-rows: 10px 20px;
  grid-template-areas: "demon-top" "demon-head" "demon-value";
}
.demon-sheet .demon-stats .demon-top {
  grid-area: demon-top;
  align-self: center;
}
.demon-sheet .demon-stats .demon-head {
  grid-area: demon-head;
}
.demon-sheet .demon-stats .demon-value {
  grid-area: demon-value;
}
.demon-sheet .demon-details {
  display: grid;
  grid-area: demon-details;
  grid-template-columns: 72px 1fr;
  grid-template-areas: "demon-icon demon-notes";
}
.demon-sheet .demon-details .demon-icon {
  gap: 5px;
  padding-top: 5px;
  height: 72px;
  width: 72px;
  display: block;
  grid-area: demon-icon;
}
.demon-sheet .demon-details .demon-notes {
  gap: 5px;
  grid-area: demon-notes;
}
.demon-sheet .demon-edit-section {
  min-height: 72px;
  min-width: 135px;
  height: unset;
  display: flex;
  flex: 1 0 auto;
  background-color: #eaeaeaff;
  flex-wrap: wrap;
}
.demon-sheet .demon-label-corner-both {
  clip-path: polygon(10px 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%, 0 10px);
  height: 12px;
}
.demon-sheet .demon-label-corner-left {
  clip-path: polygon(10px 0, 100% 0, 100% 100%, 0 100%, 0 10px);
  height: 12px;
}
.demon-sheet .demon-label-corner-right {
  clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%);
  height: 12px;
}
.item-sheet {
  font-family: "Audimat Mono";
  background-color: #eaeaeaff;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto;
  grid-template-rows: 72px auto;
  grid-template-areas: "item-top-pane" "item-bottom-pane";
}
.item-sheet .item-top-pane {
  grid-area: item-top-pane;
  display: grid;
  background-color: #b90202ff;
  padding: 5px;
  height: 72px;
  grid-template-columns: 67px auto;
  grid-template-rows: auto;
  grid-template-areas: "item-image item-header";
}
.item-sheet .item-top-pane .item-image-section {
  grid-area: item-image;
  display: flex;
  background-color: #b90202ff;
  height: 62px;
  width: 62px;
}
.item-sheet .item-top-pane .item-header-section {
  grid-area: item-header;
  display: flex;
  background-color: #eaeaeaff;
  height: 62px;
}
.item-sheet .item-bottom-pane {
  display: grid;
  grid-area: item-bottom-pane;
  grid-template-columns: auto;
  grid-template-rows: 18px auto;
  grid-template-areas: "item-bottom-tabs" "item-bottom-content";
  height: fit-content;
  overflow-y: hidden;
}
.item-sheet .item-bottom-pane .item-bottom-tabs-section {
  grid-area: item-bottom-tabs;
}
.item-sheet .item-bottom-pane .item-bottom-content-section {
  grid-area: item-bottom-content;
  display: flex;
  border-color: #b90202ff;
  border-style: solid;
  border-width: 5px;
  overflow-y: hidden;
  flex-wrap: wrap;
}
.item-description-grid,
.item-settings-grid {
  display: flex;
  width: inherit;
  height: inherit;
  flex: 1 1 auto;
}
.item-description-tab {
  display: grid;
  grid-template-columns: 135px auto;
  grid-template-rows: auto;
  grid-template-areas: "item-summary-pane item-description-pane";
  flex: 1 0 auto;
  min-height: 150px;
  grid-gap: 5px;
  background-color: #b90202ff;
  width: inherit;
}
.item-description-tab .item-summary-section {
  grid-area: item-summary-pane;
  background-color: #eaeaeaff;
  height: unset;
  font-size: 0.8rem;
  min-width: 135px;
}
.item-description-tab .item-summary-section .item-summary-line {
  display: flex;
}
.item-description-tab .item-summary-section .item-summary-line .summary-name {
  flex: 0 0 70px;
}
.item-description-tab .item-description-section {
  grid-area: item-description-pane;
  display: flex;
  flex: 1 0 auto;
  background-color: #eaeaeaff;
  flex-wrap: wrap;
  height: unset;
}
.item-settings-tab {
  display: flex;
  width: auto;
  flex: 1;
  background-color: #eaeaeaff;
}
.item-settings-tab .item-settings-section {
  display: list-item;
  flex: 1;
}
.item-image-block {
  clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%, 0 15px);
}
.item-image-block-img {
  width: 62px;
  height: 62px;
  object-fit: contain;
}
.item-netarch-section {
  background-color: #b90202ff;
  padding-top: 5px;
}
.item-netarch-grid {
  display: grid;
  grid-template-columns: 30px 30px 1fr 80px;
  grid-template-areas: "netarch-level netarch-dv netarch-content netarch-actions";
  gap: 4px 4px;
}
.netarch-level {
  grid-area: netarch-level;
  flex: 0 0 30px;
  text-align: center;
}
.netarch-dv {
  grid-area: netarch-dv;
  flex: 0 0 30px;
  text-align: center;
}
.netarch-content {
  grid-area: netarch-content;
}
.netarch-actions {
  grid-area: netarch-actions;
  flex: 0 0 80px;
  text-align: end;
}
.netarch-list-content li:nth-child(even) {
  background-color: #ffc3b6ff;
}
.netarch-list-content li:nth-child(odd) {
  background-color: #eaeaeaff;
}
.item-role-section {
  background-color: #b90202ff;
  padding-top: 5px;
}
.role-list-content li:nth-child(even) {
  background-color: #ffc3b6ff;
}
.role-list-content li:nth-child(odd) {
  background-color: #eaeaeaff;
}
.help-article,
.help-article:link,
.help-article:hover,
.help-article:visited,
.help-article:focus,
.help-article:active {
  text-decoration: none;
  color: inherit;
  cursor: auto;
}
.text-smallest {
  font-size: 0.5rem;
}
.text-smaller {
  font-size: 0.8rem;
}
.text-small {
  font-size: 1rem;
}
.text-normal {
  font-size: 1.2rem;
}
.text-large {
  font-size: 1.5rem;
}
.text-larger {
  font-size: 1.7rem;
}
.text-largest {
  font-size: 2rem;
}
.text-massive {
  font-size: 4rem;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-padding-left {
  padding-left: 2px;
}
.text-padding-right {
  padding-right: 2px;
}
.text-super {
  vertical-align: super;
}
.text-bold {
  font-weight: bold;
}
.text-lighter {
  font-weight: lighter;
}
.text-rotate {
  transform: rotate(-90deg);
}
.text-vert-center {
  align-self: center;
}
.min-of-max-container {
  display: flex;
}
.min-of-max-container input[type="number"] {
  min-width: 0;
  flex: 1 0;
}
.min-of-max-container input[type="number"]:hover {
  backface-visibility: visible;
}
.min-of-max-container .of-stat {
  flex: 0 1;
  font-size: 75%;
  transform: rotate(270deg);
  align-self: center;
  padding: 0 2px 1px 2px;
}
.min-of-max-container .of {
  flex: 0 1;
  font-size: 75%;
  transform: rotate(270deg);
  align-self: center;
  padding: 0 2px 0 2px;
}
.side-banner {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  min-height: -webkit-fill-available;
  text-align: center;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.width- {
  display: flex;
  justify-content: space-around;
  flex: 1 0 auto;
}
.width-sixteenth {
  width: 6.25%;
}
.width-eighth {
  width: 12.5%;
}
.width-sixth {
  width: calc(100% / 6);
}
.width-quarter {
  width: 25%;
}
.width-third {
  width: calc(100% / 3);
}
.width-half {
  width: 50%;
}
.width-full {
  width: 100%;
}
.width-grow {
  flex-grow: 1;
}
.width-no-grow {
  flex-grow: 0;
}
.width-shrink {
  flex-shrink: 1;
}
.width-no-shrink {
  flex-shrink: 0;
}
.width-auto-basis {
  flex-basis: auto;
}
.width-long {
  flex-basis: 5%;
}
.width-longer {
  flex-basis: 70%;
}
.width-fit {
  width: fit-content;
  padding: 0 2px;
}
.width-max-half {
  max-width: 50%;
}
.width-max-quarter {
  max-width: 25%;
}
.width-max-eighth {
  max-width: 12.5%;
}
.width-max-three-quarters {
  max-width: 75%;
}
.width-max-third {
  max-width: calc(100%/3);
}
.width-max-two-thirds {
  max-width: calc((100%/3)*2);
}
.pad-thinner {
  padding: 2px;
}
.pad-thin {
  padding: 5px;
}
.pad-thick {
  padding: 8px;
}
.pad-thicker {
  padding: 10px;
}
.ledger-grid {
  display: grid;
  grid-template-areas: "ledger-number ledger-transaction ledger-reason ledger-delete";
}
.ledger-grid .ledger-number {
  grid-area: ledger-number;
  flex: 0 0 50px;
  text-align: center;
}
.ledger-grid .ledger-transaction {
  grid-area: ledger-transaction;
  flex: 1;
}
.ledger-grid .ledger-reason {
  grid-area: ledger-reason;
  flex: 2;
}
.ledger-grid .ledger-delete {
  grid-area: ledger-delete;
  flex: 0 0 20px;
  text-align: center;
}
.ledger-grid .ledger-delete-title {
  grid-area: ledger-delete;
  flex: 0 0 26px;
  text-align: center;
}
.ledger-list li:nth-child(even) {
  background-color: #ffc3b6ff;
}
.ledger-list li:nth-child(odd) {
  background-color: #eaeaeaff;
}
.ledger-content-scroll {
  height: 250px;
  overflow-y: scroll;
}
/*--------------------
  Text modifiers
---------------------*/
.smallcaps {
  font-variant: small-caps;
}
.text-smallest {
  font-size: 0.5rem;
}
.text-smaller {
  font-size: 0.8rem;
}
.text-small {
  font-size: 1rem;
}
.text-normal {
  font-size: 1.2rem;
}
.text-large {
  font-size: 1.5rem;
}
.text-larger {
  font-size: 1.7rem;
}
.text-largest {
  font-size: 2rem;
}
.text-massive {
  font-size: 4rem;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-nowrap {
  white-space: nowrap;
}
.text-left {
  text-align: left;
  justify-content: left;
}
.text-super {
  vertical-align: super;
}
.text-bold {
  font-weight: bold;
}
.text-bolder {
  font-weight: bolder;
}
.text-no-bold {
  font-weight: normal;
}
.text-padding-left {
  padding-left: 2px;
}
.text-padding-right {
  padding-left: 2px;
}
.text-padding-top {
  padding-top: 2px;
}
.text-padding-bottom {
  padding-bottom: 2px;
}
.text-space-around {
  justify-content: space-around;
}
.text-float-right {
  float: right;
}
.text-underline {
  text-decoration: underline;
}
.text-flex-end {
  justify-content: flex-end;
}
.text-align-last-end {
  text-align-last: end;
}
.text-italics {
  font-style: italic;
}
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
*:focus {
  outline: none;
}
.mook-sheet {
  font-family: "Audimat Mono";
  background-color: #eaeaeaff;
  display: grid;
  grid-template-areas: "mook-name mook-details";
}
.mook-sheet .mook-name {
  grid-area: mook-name;
}
.mook-sheet .mook-details {
  display: grid;
  gap: 5px;
  grid-template-rows: auto;
  grid-area: mook-details;
  grid-template-areas: "mook-img-and-stats" "mook-gear" "mook-skills" "mook-special" "mook-program" "mook-crit" "mook-notes";
}
.mook-sheet .mook-img-and-stats {
  display: grid;
  grid-template-areas: "mook-image mook-stats-and-derived";
}
.mook-sheet .mook-image {
  grid-area: mook-image;
  display: grid;
  grid-template-areas: "mook-image-toggle mook-image-block";
  width: 168px;
  height: 151px;
}
.mook-sheet .mook-image-small-toggle {
  width: 17px;
}
.mook-sheet .mook-image-toggle {
  grid-area: "mook-image-toggle";
}
.mook-sheet .mook-image-toggle::after {
  content: attr(data-text);
}
.mook-sheet .mook-image-block {
  grid-area: "mook-image-block";
  clip-path: polygon(25px 0, 100% 0, 100% 100%, 0 100%, 0 25px);
  height: 151px;
  width: 151px;
}
.mook-sheet .mook-image-block-img {
  width: 151px;
  height: 151px;
  object-fit: contain;
  border: 0;
}
.mook-sheet .mook-stats-and-derived {
  display: grid;
  gap: 5px;
  grid-template-rows: auto;
  grid-area: mook-stats-and-derived;
  grid-template-areas: "mook-stats" "mook-derived";
  min-width: 420px;
}
.mook-sheet .mook-stats {
  display: grid;
  grid-area: mook-stats;
  grid-template-areas: "mook-int-stat mook-ref-stat mook-dex-stat mook-tech-stat mook-cool-stat" "mook-will-stat mook-luck-stat mook-move-stat mook-body-stat mook-emp-stat";
}
.mook-sheet .mook-stats .mook-int-stat {
  grid-area: mook-int-stat;
}
.mook-sheet .mook-stats .mook-ref-stat {
  grid-area: mook-ref-stat;
}
.mook-sheet .mook-stats .mook-dex-stat {
  grid-area: mook-dex-stat;
}
.mook-sheet .mook-stats .mook-tech-stat {
  grid-area: mook-tech-stat;
}
.mook-sheet .mook-stats .mook-cool-stat {
  grid-area: mook-cool-stat;
}
.mook-sheet .mook-stats .mook-will-stat {
  grid-area: mook-will-stat;
}
.mook-sheet .mook-stats .mook-luck-stat {
  grid-area: mook-luck-stat;
}
.mook-sheet .mook-stats .mook-move-stat {
  grid-area: mook-move-stat;
}
.mook-sheet .mook-stats .mook-body-stat {
  grid-area: mook-body-stat;
}
.mook-sheet .mook-stats .mook-emp-stat {
  grid-area: mook-emp-stat;
}
.mook-sheet .mook-derived-stats {
  gap: 10px;
  display: grid;
  grid-area: mook-derived;
  grid-template-columns: 1fr 1fr 0.5fr;
  grid-template-areas: "mook-hp mook-wounded mook-deathsave";
}
.mook-sheet .mook-derived-stats .mook-hp {
  grid-area: mook-hp;
}
.mook-sheet .mook-derived-stats .mook-wounded {
  grid-area: mook-wounded;
}
.mook-sheet .mook-derived-stats .mook-deathsave {
  grid-area: mook-deathsave;
}
.mook-sheet .mook-gear {
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: mook-gear;
  grid-template-areas: "mook-weapon-list mook-armor";
}
.mook-sheet .mook-gear .mook-weapon-list {
  grid-area: mook-weapon-list;
}
.mook-sheet .mook-gear .mook-armor {
  grid-area: mook-armor;
}
.mook-sheet .mook-weapon {
  display: grid;
  text-align: left;
  grid-template-columns: 3fr 2fr 1fr;
  grid-template-areas: "mook-weapon-name mook-weapon-mode mook-weapon-rolls";
}
.mook-sheet .mook-weapon .mook-weapon-name {
  grid-area: mook-weapon-name;
  padding-right: 6px;
  text-overflow: ellipsis;
}
.mook-sheet .mook-weapon .mook-weapon-mode {
  grid-area: mook-weapon-mode;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "mook-weapon-aim mook-weapon-auto mook-weapon-supp";
}
.mook-sheet .mook-weapon .mook-weapon-mode .mook-weapon-aim {
  grid-area: mook-weapon-aim;
}
.mook-sheet .mook-weapon .mook-weapon-mode .mook-weapon-auto {
  grid-area: mook-weapon-auto;
}
.mook-sheet .mook-weapon .mook-weapon-mode .mook-weapon-supp {
  grid-area: mook-weapon-supp;
}
.mook-sheet .mook-weapon .mook-weapon-rolls {
  grid-area: mook-weapon-rolls;
}
.mook-sheet .mook-skills {
  grid-area: mook-skills;
}
.mook-sheet .mook-special {
  grid-area: mook-special;
}
.mook-sheet .mook-crit {
  grid-area: mook-crit;
}
.mook-sheet .mook-notes {
  grid-area: mook-notes;
  min-height: 60px;
  min-width: 430px;
}
.mook-sheet .mook-edit-section {
  min-height: 80px;
  min-width: 135px;
  height: unset;
  display: flex;
  flex: 1 0 auto;
  background-color: #eaeaeaff;
  flex-wrap: wrap;
}
.mook-sheet-limited {
  font-family: "Audimat Mono";
  display: grid;
  grid-template-columns: 161px 32px 1fr;
  grid-template-areas: "mook-image-limited mook-name-limited mook-notes-limited";
}
.mook-sheet-limited .mook-image-limited {
  grid-area: mook-image-limited;
  clip-path: polygon(30px 0, 100% 0, 100% 100%, 0 100%, 0 30px);
  width: 151px;
  height: 151px;
  margin: 5px;
}
.mook-sheet-limited .mook-image-limited .mook-image-block-img {
  width: 151px;
  height: 151px;
  object-fit: contain;
  border: 0;
}
.mook-sheet-limited .mook-name-limited {
  grid-area: mook-name-limited;
}
.mook-sheet-limited .mook-notes-limited {
  grid-area: mook-notes-limited;
}
.mook-sheet-limited .mook-edit-section-limited {
  min-height: 135px;
  min-width: 135px;
  height: unset;
  display: flex;
  flex: 1 0 auto;
  background-color: #eaeaeaff;
  flex-wrap: wrap;
}
.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  background-color: #eaeaeaff;
}
.items-list .items-header {
  padding: 0;
  align-items: center;
  background-color: #2d2f2fff;
  color: #eaeaeaff;
}
.items-list .item {
  align-items: center;
  padding: 0 2px;
}
.items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  text-align: left;
  align-items: center;
  text-overflow: ellipsis;
}
.items-list .item-image {
  flex: 0 0 30px;
  border: none;
  margin-right: 5px;
}
.items-list .item-detail {
  text-align: center;
  word-break: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.items-list .hide {
  display: none;
}
.items-list .inline-block {
  display: inline-block;
  zoom: 1;
}
.items-list .item-end {
  text-align: end;
}
.skills-tab li:nth-child(even) {
  background-color: #ffc3b6ff;
}
.skills-tab li:nth-child(odd) {
  background-color: #eaeaeaff;
}
.skills-tab .skill-level,
.skills-tab .skill-base,
.skills-tab .skill-mod-value,
.skills-tab .skill-favorite {
  flex: 0 0 30px;
}
.skills-tab .skill-custom {
  flex: none;
}
.gear-tab li:nth-child(even) {
  background-color: #ffc3b6ff;
}
.gear-tab li:nth-child(odd) {
  background-color: #eaeaeaff;
}
.gear-tab .gear-name {
  flex: 0 0 33%;
}
.gear-tab .gear-data {
  text-align: left;
  flex: 0 0 45%;
}
.gear-tab .gear-actions {
  text-align: end;
}
.role-tab {
  width: 100%;
}
.role-tab .role-tab-content {
  width: 50%;
}
.role-tab .role-tab-content .role-item .role-name,
.role-tab .role-tab-content .role-item .ability-name {
  flex: 1 1 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.role-tab .role-tab-content .role-item .role-rank,
.role-tab .role-tab-content .role-item .ability-rank {
  flex: 0 0 90px;
  text-align: center;
  padding-right: 5px;
}
.fight-tab .armor-content {
  background-color: #eaeaeaff;
}
.fight-tab .armor-content li {
  display: flex;
  background-color: #ffc3b6ff;
  margin-left: 2px;
  margin-right: 2px;
}
.fight-tab .armor-content .armor-piece {
  margin: 2px;
}
.fight-tab .critical-injury-content li:nth-child(even) {
  background-color: #ffc3b6ff;
}
.fight-tab .critical-injury-content li:nth-child(odd) {
  background-color: #eaeaeaff;
}
.fight-tab .weapon-content li:nth-child(even) {
  background-color: #ffc3b6ff;
}
.fight-tab .weapon-content li:nth-child(odd) {
  background-color: #eaeaeaff;
}
.fight-tab .weapon-name {
  flex: 0 0 25%;
}
.fight-tab .weapon-measure,
.fight-tab .weapon-attack,
.fight-tab .weapon-damage {
  flex: 0 0 20px;
  text-align: center;
}
.fight-tab .weapon-reload {
  flex: 0 0 40px;
  text-align: center;
}
ul,
ol {
  margin: 0.5em 0;
  padding: 0 0 0 1.5em;
}
.compatible-ammo li:nth-child(even) {
  background-color: #ffc3b6ff;
}
.compatible-ammo li:nth-child(odd) {
  background-color: #eaeaeaff;
}
.zero-not-visible:not(:hover):not(:focus-within) {
  opacity: 0;
  transition: opacity 0.2s ease;
}
.chat-message.message.flexcol {
  font-family: "Audimat Mono";
  background: #eaeaeaff;
}
.rollcard-body {
  font-size: 1.2rem;
  background: #eaeaeaff;
}
.rollcard-top {
  padding-bottom: 5px;
}
.rollcard-critinjury-icon {
  width: 52px;
  height: 52px;
}
.rollcard-critinjury-data {
  grid-area: d6-data;
  display: flex;
  padding-left: 5px;
  align-items: center;
}
.rollcard-subtitle {
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: auto;
  grid-template-areas: "subtitle-left subtitle-center subtitle-right" "subtitle-2-left subtitle-2-center subtitle-2-right";
}
.rollcard-subtitle-left {
  grid-area: subtitle-left;
}
.rollcard-subtitle-center {
  grid-area: subtitle-center;
  justify-self: center;
}
.rollcard-subtitle-right {
  grid-area: subtitle-right;
}
.rollcard-subtitle-2-left {
  grid-area: subtitle-2-left;
}
.rollcard-subtitle-2-center {
  grid-area: subtitle-2-center;
  justify-self: center;
}
.rollcard-subtitle-2-right {
  grid-area: subtitle-2-right;
}
.rollcard {
  display: grid;
  grid-template-columns: 270px;
  grid-template-rows: auto;
}
.generic-rollcard-data,
.d10-rollcard-data {
  display: grid;
  grid-template-columns: 160px auto;
  grid-template-rows: auto auto;
  grid-template-areas: "d10-dice d10-number" "d10-data d10-data";
}
.generic-dice-div {
  grid-area: d10-dice;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
}
.d10-dice-div {
  grid-area: d10-dice;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.generic-number-div,
.d10-number-div {
  grid-area: d10-number;
  min-height: 70px;
  text-align: right;
  font-size: 4rem;
  padding-right: 5px;
}
.generic-data-div,
.d10-data-div {
  grid-area: d10-data;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: flex-end;
  padding-right: 5px;
}
.d6-rollcard-data {
  display: grid;
  grid-template-columns: 175px auto;
  grid-template-rows: auto auto;
  grid-template-areas: "d6-dice d6-number" "d6-data d6-data";
}
.d6-dice-div {
  grid-area: d6-dice;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.d6-number-div {
  grid-area: d6-number;
  min-height: 70px;
  text-align: right;
  font-size: 4rem;
  padding-right: 5px;
}
.d6-data-div {
  grid-area: d6-data;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: flex-end;
  padding-right: 5px;
}
.bottom-div {
  grid-area: rc-bottom;
}
.hide {
  display: none;
}
.d10 {
  height: 70px;
  width: 70px;
  display: block;
  border: none;
  align-self: center;
}
.d10-20 {
  height: 20px;
  width: 20px;
}
.d10-30 {
  height: 30px;
  width: 30px;
}
.d6 {
  display: block;
  border: none;
  align-self: center;
}
.d6-20 {
  height: 20px;
  width: 20px;
}
.d6-30 {
  height: 30px;
  width: 30px;
}
.d6-40 {
  height: 40px;
  width: 40px;
}
/*-------------------------
| Chat visibility design  |
-------------------------*/
.chat-mode-indicator {
  display: inline-block;
  margin: 0 3px 0 0;
  padding: 0 3px;
  line-height: 1rem;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}
/*--------------------
  cpr-block element styling
---------------------*/
.cpr-block {
  background-color: #b90202ff;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 4px;
  clip-path: polygon(0 15px, 0 100%, 100% 100%, 100% 0, 15px 0);
}
.cpr-block::before {
  position: absolute;
  height: calc(100% - 8px);
  width: calc(100% - 8px);
  top: 4px;
  left: 4px;
  content: "";
  background-color: #eaeaeaff;
  clip-path: polygon(0 14px, 0 100%, 100% 100%, 100% 0, 14px 0);
  z-index: -1;
}
.item-card-grid-container {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr;
  gap: 4px 4px;
  grid-template-areas: "item-card-icon item-card-header" "item-card-description item-card-description";
}
.item-card-icon {
  grid-area: item-card-icon;
  width: 52px;
  height: 52px;
}
.item-card-icon-img {
  width: 52px;
  height: 52px;
  object-fit: contain;
}
.item-card-description {
  grid-area: item-card-description;
}
.item-card-header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "item-card-name" "item-card-type";
  grid-area: item-card-header;
}
.item-card-name {
  grid-area: item-card-name;
  flex-wrap: nowrap;
}
.item-card-type {
  grid-area: item-card-type;
}
form input.number {
  width: 30px;
}
/* ------------------------------------- */
/* Glitch
/* ------------------------------------- */
.glitch {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  transform: scale3d(1, 1, 1);
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.glitch::before {
  left: 2px;
  text-shadow: -2px 0 #2388d2;
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim-2 7s infinite linear alternate-reverse;
}
.glitch::after {
  left: -2px;
  text-shadow: -2px 0 #8ef104;
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 6.5s infinite linear alternate-reverse;
}
@keyframes glitch-anim {
  0% {
    clip: rect(65px, 9999px, 51px, 0);
  }
  10% {
    clip: rect(16px, 9999px, 51px, 0);
  }
  20% {
    clip: rect(6px, 9999px, 136px, 0);
  }
  30% {
    clip: rect(49px, 9999px, 68px, 0);
  }
  40% {
    clip: rect(37px, 9999px, 120px, 0);
  }
  50% {
    clip: rect(123px, 9999px, 65px, 0);
  }
  60% {
    clip: rect(58px, 9999px, 144px, 0);
  }
  70% {
    clip: rect(11px, 9999px, 16px, 0);
  }
  80% {
    clip: rect(16px, 9999px, 67px, 0);
  }
  90% {
    clip: rect(39px, 9999px, 77px, 0);
  }
  100% {
    clip: rect(39px, 9999px, 53px, 0);
  }
}
@keyframes glitch-anim-2 {
  20% {
    clip: rect(107px, 9999px, 75px, 0);
  }
  30% {
    clip: rect(8px, 9999px, 3px, 0);
  }
  40% {
    clip: rect(78px, 9999px, 143px, 0);
  }
  50% {
    clip: rect(146px, 9999px, 120px, 0);
  }
  60% {
    clip: rect(79px, 9999px, 110px, 0);
  }
  70% {
    clip: rect(10px, 9999px, 33px, 0);
  }
  80% {
    clip: rect(85px, 9999px, 9px, 0);
  }
  90% {
    clip: rect(140px, 9999px, 23px, 0);
  }
  100% {
    clip: rect(5px, 9999px, 110px, 0);
  }
}
.weapon-grid {
  display: grid;
  grid-template-columns: 52px 1fr 64px 92px;
  gap: 2px 4px;
  grid-template-areas: "fight-weapon-icon fight-weapon fight-weapon-firetype fight-weapon-attack";
}
.fight-weapon-icon {
  grid-area: fight-weapon-icon;
  width: 52px;
  height: 52px;
}
.fight-weapon-icon-img {
  width: 52px;
  height: 52px;
  object-fit: contain;
}
.fight-weapon {
  display: grid;
  gap: 4px 0px;
  grid-template-areas: "fight-weapon-name" "fight-weapon-actions";
  grid-area: fight-weapon;
}
.fight-weapon-name {
  grid-area: fight-weapon-name;
}
.fight-weapon-actions {
  grid-area: fight-weapon-actions;
}
.fight-weapon-firetype {
  display: grid;
  gap: 0px 0px;
  grid-template-areas: "fight-weapon-aim fight-weapon-aim-box" "fight-weapon-auto fight-weapon-auto-box" "fight-weapon-suppress fight-weapon-supress-box";
  grid-area: fight-weapon-firetype;
}
.fight-weapon-aim {
  align-self: center;
  grid-area: fight-weapon-aim;
}
.fight-weapon-auto {
  align-self: center;
  grid-area: fight-weapon-auto;
}
.fight-weapon-suppress {
  align-self: center;
  grid-area: fight-weapon-suppress;
}
.fight-weapon-aim-box {
  grid-area: fight-weapon-aim-box;
}
.fight-weapon-auto-box {
  grid-area: fight-weapon-auto-box;
}
.fight-weapon-supress-box {
  grid-area: fight-weapon-supress-box;
}
.fight-weapon-attack {
  grid-area: fight-weapon-attack;
}
.window-app .window-content {
  background: #eaeaeaff;
}
.editor {
  flex: 1 0 auto;
}
.editor .tox-toolbar-overlord,
.editor .tox-toolbar__primary {
  background: none;
}
