<aside id="players" class="app {{#if hide}}hidden{{/if}}">
	<h3>
		<i class="fas fa-users"></i>
		{{ localize "PLAYERS.Title" }}
		{{#if showOffline}}
		<i class="players-mode fas fa-angle-down"></i>
		{{else}}
		<i class="players-mode fas fa-angle-up"></i>
		{{/if}}
	</h3>

	<ol id="player-list">
	{{#each users}}
		<li class="player {{#if this.isGM}}gm{{/if}} flexrow" data-user-id="{{this.id}}">
			<span class="player-active {{#if this.active}}active{{else}}inactive{{/if}}"
				  style="background: {{this.color}}; border: 1px solid {{this.border}}"></span>
			<span class="player-name {{#if this.isSelf}}self{{/if}}">
				{{this.name}}
				{{#if this.isGM}} [GM]
				{{else if this.charname}} [{{this.charname}}]
				{{/if}}
			</span>
		</li>
	{{/each}}
	</ol>
</aside>
