{{cprTrace "CPR-MOD-MOOK-SKILL-PROMPT.HBS"}}
<form>
  <div>
    <ol class="items-list">
      <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
          {{localize "CPR.dialog.modMookSkill.selectMookSkill"}}:
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
          <select name="skillName">
            {{#select skillName}}
              {{#each skillList as |skill s|}}
                <option value="{{skill}}">{{skill}}</option>
              {{/each}}
            {{/select}}
          </select>
        </div>
      </li>
      <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
          {{localize "CPR.dialog.modMookSkill.setMookSkillLevel"}}:
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
          <input class="text-right" name="skillLevel" type="number" value="0" />
        </div>
      </li>
      <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
          {{localize "CPR.dialog.modMookSkill.setMookSkillMod"}}:
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
          <input class="text-right" name="skillMod" type="number" value="0" />
        </div>
      </li>
      <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
          {{localize "CPR.dialog.modMookSkill.modifyAnotherSkill"}}?
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
          <input type="checkbox" name="again">
        </div>
      </li>
      <br>
    </ol>
  </div>
</form>
{{cprTrace "END CPR-MOD-MOOK-SKILL-PROMPT.HBS"}}

