{{cprTrace "CPR-NETARCH-SCENE-GENERATION-PROMPT.HBS"}}
<form>
  <ol class="items-list">
    <li class="item flexrow">
        <div class="item flexrow setting-name">
          <span class="text-bold text-nowrap">Setting</span>
        </div>
        <div class="item flexrow setting-value">
          <span class="text-bold text-nowrap text-center text-space-around">Value</span>
        </div>
    </li>
    <hr>
    <li class="item flexrow">
        <div class="item flexrow setting-name">
          <span>
            <div class="text-bold">{{localize "CPR.dialog.netArchitectureGeneration.animate"}}</div>
            <div style="font-size: 0.7rem">{{localize "CPR.dialog.netArchitectureGeneration.animateHint"}}</div>
          </span>
        </div>
        <div class="item flexrow setting-value">
          <span class="text-nowrap text-center text-space-around"><input type="checkbox" name="animated" value="{{animated}}"></span>
        </div>
    </li>
    <hr>
    <div class="text-bold fg-red">{{localize "CPR.dialog.netArchitectureGeneration.warning"}}</div>
    <hr>
    <li class="item flexrow">
        <div class="item flexrow setting-name">
          <span>
            <div class="text-bold">{{localize "CPR.dialog.netArchitectureGeneration.tilesCustom"}}</div>
            <div style="font-size: 0.7rem">{{localize "CPR.dialog.netArchitectureGeneration.tilesCustomHint"}}</div>
          </span>
        </div>
        <div class="item flexrow setting-value">
          <span class="text-nowrap text-center text-space-around"><input type="checkbox" name="cusomTiles" value="{{cusomTiles}}"></span>
        </div>
    </li>
    <hr>
    <li class="item flexrow">
        <div class="item flexrow setting-name">
          <span>
            <div class="text-bold">{{localize "CPR.dialog.netArchitectureGeneration.imageFolder"}}</div>
            <div style="font-size: 0.7rem">{{localize "CPR.dialog.netArchitectureGeneration.imageFolderHint"}}</div>
          </span>
        </div>
        <div class="item flexrow setting-value">
          <span class="text-bold text-nowrap text-center text-space-around"><input type="text" name="filePath" value="{{filePath}}"></span>
        </div>
    </li>
    <li class="item flexrow">
        <div class="item flexrow setting-name">
          <span>
            <div class="text-bold">{{localize "CPR.dialog.netArchitectureGeneration.fileExtension"}}</div>
            <div style="font-size: 0.7rem">{{localize "CPR.dialog.netArchitectureGeneration.fileExtensionHint"}}</div>
          </span>
        </div>
        <div class="item flexrow setting-value">
          <span class="text-bold text-nowrap text-center text-space-around"><input type="text" name="fileExtension" value="{{fileExtension}}"></span>
        </div>
    </li>
    <li class="item flexrow">
        <div class="item flexrow setting-name">
          <span>
            <div class="text-bold">{{localize "CPR.dialog.netArchitectureGeneration.sceneName"}}</div>
            <div style="font-size: 0.7rem">{{localize "CPR.dialog.netArchitectureGeneration.sceneNameHint"}}</div>
          </span>
        </div>
        <div class="item flexrow setting-value">
          <span class="text-bold text-nowrap text-center text-space-around"><input type="text" name="sceneName" value="{{sceneName}}"></span>
        </div>
    </li>
    <li class="item flexrow">
        <div class="item flexrow setting-name">
          <span>
            <div class="text-bold">{{localize "CPR.dialog.netArchitectureGeneration.sceneGrid"}}</div>
            <div style="font-size: 0.7rem">{{localize "CPR.dialog.netArchitectureGeneration.sceneGridHint"}}</div>
          </span>
        </div>
        <div class="item flexrow setting-value">
          <span class="text-bold text-nowrap text-center text-space-around"><input type="text" name="gridSize" value="{{gridSize}}"></span>
        </div>
    </li>
    <hr>
    <li class="item flexrow">
        <div class="item flexrow setting-name">
          <div class="item flexrow setting-name">
          <span>
            <div class="text-bold">{{localize "CPR.dialog.netArchitectureGeneration.levelWidth"}}</div>
            <div style="font-size: 0.7rem">{{localize "CPR.dialog.netArchitectureGeneration.levelWidthHint"}}</div>
          </span>
        </div>
        <div class="item flexrow setting-value">
          <span class="text-bold text-nowrap text-center text-space-around"><input type="text" name="levelWidth" value="{{levelWidth}}"></span>
        </div>
    </li>
    <li class="item flexrow">
        <div class="item flexrow setting-name">
          <span>
            <div class="text-bold">{{localize "CPR.dialog.netArchitectureGeneration.levelHeight"}}</div>
            <div style="font-size: 0.7rem">{{localize "CPR.dialog.netArchitectureGeneration.levelHeightHint"}}</div>
          </span>
        </div>
        <div class="item flexrow setting-value">
          <span class="text-bold text-nowrap text-center text-space-around"><input type="text" name="levelHeight" value="{{levelHeight}}"></span>
        </div>
    </li>
    <li class="item flexrow">
        <div class="item flexrow setting-name">
          <span>
            <div class="text-bold">{{localize "CPR.dialog.netArchitectureGeneration.connectorWidth"}}</div>
            <div style="font-size: 0.7rem">{{localize "CPR.dialog.netArchitectureGeneration.connectorWidthHint"}}</div>
          </span>
        </div>
        <div class="item flexrow setting-value">
          <span class="text-bold text-nowrap text-center text-space-around"><input type="text" name="connectorWidth" value="{{connectorWidth}}"></span>
        </div>
    </li>
    <li class="item flexrow">
        <div class="item flexrow setting-name">
          <span>
            <div class="text-bold">{{localize "CPR.dialog.netArchitectureGeneration.connectorHeight"}}</div>
            <div style="font-size: 0.7rem">{{localize "CPR.dialog.netArchitectureGeneration.connectorHeightHint"}}</div>
          </span>
        </div>
        <div class="item flexrow setting-value">
          <span class="text-bold text-nowrap text-center text-space-around"><input type="text" name="connectorHeight" value="{{connectorHeight}}"></span>
        </div>
    </li>
    <li class="item flexrow">
        <div class="item flexrow setting-name">
          <span>
            <div class="text-bold">{{localize "CPR.dialog.netArchitectureGeneration.offsetX"}}</div>
            <div style="font-size: 0.7rem">{{localize "CPR.dialog.netArchitectureGeneration.offsetXHint"}}</div>
          </span>
        </div>
        <div class="item flexrow setting-value">
          <span class="text-bold text-nowrap text-center text-space-around"><input type="text" name="cornerOffsetX" value="{{cornerOffsetX}}"></span>
        </div>
    </li>
    <li class="item flexrow">
        <div class="item flexrow setting-name">
          <span>
            <div class="text-bold">{{localize "CPR.dialog.netArchitectureGeneration.offsetY"}}</div>
            <div style="font-size: 0.7rem">{{localize "CPR.dialog.netArchitectureGeneration.offsetYHint"}}</div>
          </span>
        </div>
        <div class="item flexrow setting-value">
          <span class="text-bold text-nowrap text-center text-space-around"><input type="text" name="cornerOffsetY" value="{{cornerOffsetY}}"></span>
        </div>
    </li>
    <hr>
  </ol>
</form>
{{cprTrace "END CPR-NETARCH-SCENE-GENERATION-PROMPT.HBS"}}
