{{cprTrace "CPR-SET-LIFEPATH-PROMPT.HBS"}}
<form>
  <div class="cultural-origins">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.culturalOrigins"}}</div>
    <textarea class="lifepath-data" name="data.lifepath.culturalOrigin">{{data.lifepath.culturalOrigin}}</textarea>
  </div>
  <div class="personality">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.personality"}}</div>
    <textarea class="lifepath-data" name="data.lifepath.personality">{{data.lifepath.personality}}</textarea>
  </div>

  <div class="clothing-style">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.clothingStyle"}}</div>
    <textarea class="lifepath-data" name="data.lifepath.clothingStyle">{{data.lifepath.clothingStyle}}</textarea>
  </div>

  <div class="hairstyle">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.hairStyle"}}</div>
    <textarea class="lifepath-data" name="data.lifepath.hairStyle">{{data.lifepath.hairStyle}}</textarea>
  </div>

  <div class="value-most">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.valueMost"}}</div>
    <textarea class="lifepath-data" name="data.lifepath.valueMost">{{data.lifepath.valueMost}}</textarea>
  </div>

  <div class="people-feelings">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.peopleFeelings"}}</div>
    <textarea class="lifepath-data" name="data.lifepath.aboutPeople">{{data.lifepath.aboutPeople}}</textarea>
  </div>

  <div class="valued-person">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.valuedPerson"}}</div>
    <textarea class="lifepath-data" name="data.lifepath.valuedPerson">{{data.lifepath.valuedPerson}}</textarea>
  </div>

  <div class="valued-possession">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.valuedPossession"}}</div>
    <textarea class="lifepath-data" name="data.lifepath.valuedPossession">{{data.lifepath.valuedPossession}}</textarea>
  </div>

  <div class="family-background">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.familyBackground"}}</div>
    <textarea class="lifepath-data" name="data.lifepath.familyBackground">{{data.lifepath.familyBackground}}</textarea>
  </div>

  <div class="child-environment">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.childhoodEnvironment"}}</div>
    <textarea class="lifepath-data"
      name="data.lifepath.childhoodEnvironment">{{data.lifepath.childhoodEnvironment}}</textarea>
  </div>

  <div class="life-goals">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.lifeGoals"}}</div>
    <textarea class="lifepath-data" name="data.lifepath.lifeGoals">{{data.lifepath.lifeGoals}}</textarea>
  </div>
  <div class="family-crisis">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.familyCrisis"}}</div>
    <textarea class="lifepath-data" name="data.lifepath.familyCrisis">{{data.lifepath.familyCrisis}}</textarea>
  </div>

</form>
{{cprTrace "END CPR-SET-LIFEPATH-PROMPT.HBS"}}
