{{cprTrace "CPR-ITEM-SHEET.HBS"}}
<form class="item-sheet">
  <div class="item-top-pane">
    <div class="item-image-section">
      <div class="item-image-block">
        <img src="{{item.img}}" class="item-image-block-img" data-edit="img" />
      </div>
    </div>
    <div class="item-header-section items-list flexcol">
      <li class="item flexrow">
        <div class="item-name text-large text-bold text-left text-padding-left">
          {{item.name}}{{#if (cprIsUpgradable item.type)}}{{#if item.data.data.isUpgraded}}<sup><i title="{{localize "CPR.upgraded"}}" class="fab fa-uniregistry"></sup></i>{{/if}}{{/if}}
        </div>
        <div class="item-detail text-right text-padding-right">
           {{#if (cprIsDebug)}}({{item.id}}){{/if}}
          {{localize (cprFindConfigValue "objectTypes" item.type)}} <a class="fas fa-question-circle help-article" href="https://gitlab.com/JasonAlanTerry/fvtt-cyberpunk-red-core/-/wikis/help-articles/{{item.type}}" title="{{localize "CPR.global.generic.helparticle"}}"></a>{{#if (cprCompare data.data.source "!==" "")}} | {{data.data.source}}{{/if}}
        </div>
        {{> (cprGeneratePartial "systems/cyberpunk-red-core/templates/item/parts/header/cpr-VAR.hbs" item.type) this}}
      </li>
      <li></li>
      <li></li>
    </div>
  </div>
  <div class="item-bottom-pane">
    <div class="item-bottom-tabs-section">
      <nav class="navtabs-item cpr-tabs nav" data-group="primary">
        <div class="tab-pink-underlay">
          <a class="tab-label text-small tab-indent" data-tab="item-description">{{localize "CPR.global.generic.description"}}</a>
        </div>
        <div class="tab-pink-underlay">
          <a class="tab-label text-small tab-indent" data-tab="item-settings">{{localize "CPR.settings.title"}}</a>
        </div>
      </nav>
    </div>
    <div class="item-bottom-content-section">
      <div class="tab item-description-grid" data-group="primary" data-tab="item-description">
        {{> (cprGeneratePartial "systems/cyberpunk-red-core/templates/item/parts/description/cpr-VAR.hbs" item.type) this}}
      </div>
      <div class="tab item-settings-grid" data-group="primary" data-tab="item-settings">
        {{> "systems/cyberpunk-red-core/templates/item/parts/settings/common/cpr-item-settings.hbs" this}}
      </div>
    </div>

  </div>
</form>
{{cprTrace "END CPR-ITEM-SHEET.HBS"}}
