{{cprTrace "CPR-WEAPON.HBS"}}
{{!-- Weapon Item Settings--}}
{{#unless (cprCompare (cprCompare item.type "===" "itemUpgrade") "||" (cprCompare item.type "===" "cyberware"))}}
    <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
            {{localize "CPR.global.equipState.equipped"}}
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
            <select name="data.equipped" data-dtype="{{data.data.equipped}}">
                {{#select data.data.equipped}}
                    {{#each (cprFindConfigObj "equipped") as |equip e|}}
                        <option value="{{e}}">{{localize equip}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </li>
{{/unless}}

{{!-- ROF Settings--}}
<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.itemSheet.weapon.rof"}} {{cprShowUpgrade this.item "rof"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        {{#if this.editable}}
            <input name="data.rof" class="" type="number" value="{{data.data.rof}}">
        {{else}}
            <span class="text-flex-end">{{data.data.rof}}</span>
        {{/if}}
    </div>
</li>

{{!-- Concealable Settings--}}
{{#unless (cprCompare (cprCompare item.type "===" "itemUpgrade") "||" (cprCompare item.type "===" "cyberware"))}}
    <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
            {{localize "CPR.itemSheet.weapon.concealable"}}
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
            {{#if data.data.concealable}}
                <a class="item-checkbox" data-target="data.concealable"><i class="far fa-check-circle"></i></a>
            {{else}}
                <a class="item-checkbox" data-target="data.concealable"><i class="far fa-circle"></i></a>
            {{/if}}
        </div>
    </li>
{{/unless}}

{{!-- Weapon Type Settings--}}
<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.global.itemTypes.weapon"}} {{localize "CPR.global.generic.type"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        <select name="data.weaponType" data-dtype="{{data.data.weaponType}}">
            {{#select data.data.weaponType}}
                {{#each (cprFindConfigObj "weaponTypeList") as |type t|}}
                    <option value="{{t}}">{{localize type}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</li>

{{!-- Weapon Skill Settings--}}
<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.global.itemTypes.weapon"}} {{localize "CPR.global.itemTypes.skill"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        <select name="data.weaponSkill" data-dtype="{{data.data.weaponSkill}}">
            {{#select data.data.weaponSkill}}
                {{#each (cprSort (cprGetProp this.filteredItems 'skill') "name") as |skillOption| }}
                    {{#if (cprListContains "Athletics" skillOption.data.name)}}
                        <option value="{{skillOption.data.name}}">{{skillOption.data.name}}</option>
                    {{/if}}
                    {{#if (cprListContains "rangedweaponSkills,fightingSkills" skillOption.data.data.category)}}
                        <option value="{{skillOption.data.name}}">{{skillOption.data.name}}</option>
                    {{/if}}
                {{/each}}
            {{/select}}
        </select>
    </div>
</li>

{{!-- Item Quality Settings--}}
<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.global.itemTypes.weapon"}} {{localize "CPR.itemSheet.common.quality"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        <select name="data.quality" data-dtype="{{data.data.quality}}">
            {{#select data.data.quality}}
                {{#each (cprFindConfigObj "itemQuality") as |quality q| }}
                    <option value="{{q}}">{{localize quality}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</li>

{{!-- Attack Mod Settings--}}
<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.itemSheet.weapon.attackMod"}} {{cprShowUpgrade this.item "attackmod"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        {{#if this.editable}}
            <input name="data.attackmod" class="" type="number" value="{{data.data.attackmod}}">
        {{else}}
            <span class="text-flex-end">{{data.data.attackmod}}</span>
        {{/if}}
    </div>
</li>

{{!-- Hands Required Settings--}}
{{#unless (cprCompare (cprCompare item.type "===" "itemUpgrade") "||" (cprCompare item.type "===" "cyberware"))}}
    <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
            {{localize "CPR.itemSheet.weapon.handsRequired"}}
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
            <input name="data.handsReq" class="" type="number" value="{{data.data.handsReq}}">
        </div>
    </li>
{{/unless}}

{{#if (cprCompare (cprCompare data.data.weaponType "===" "unarmed") "||" (cprCompare data.data.weaponType "===" "martialArts"))}}
    {{!-- Automatic damage calculation Settings for unarmed--}}
    <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
            {{#if (cprCompare data.data.weaponType "===" "unarmed")}}
                {{localize "CPR.itemSheet.weapon.unarmedAutomaticallyCalculatedSetting"}}
            {{else}}
                {{localize "CPR.itemSheet.weapon.martialArtsAutomaticallyCalculatedSetting"}}
            {{/if}}
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
            {{#if data.data.unarmedAutomaticCalculation}}
                <a class="item-checkbox" data-target="data.unarmedAutomaticCalculation"><i class="far fa-check-circle"></i></a>
            {{else}}
                <a class="item-checkbox" data-target="data.unarmedAutomaticCalculation"><i class="far fa-circle"></i></a>
            {{/if}}
        </div>
    </li>
{{/if}}

{{!- Weapon Damage Settings--}}
<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.global.generic.damage"}} {{cprShowUpgrade this.item "damage"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        {{#if (cprCompare (cprCompare (cprCompare data.data.weaponType "===" "unarmed") "||" (cprCompare data.data.weaponType "===" "martialArts")) "&&" data.data.unarmedAutomaticCalculation)}}
            <div class="item text-flex-end setting-value text-nowrap">
                {{localize "CPR.itemSheet.weapon.unarmedAutomaticallyCalculated"}}
            </div>
        {{else}}
            {{#if this.editable}}
                <input name="data.damage" class="" type="text" value="{{data.data.damage}}">
            {{else}}
                <span class="text-flex-end">{{data.data.damage}}</span>
            {{/if}}
        {{/if}}
    </div>
</li>

{{!- Ranged Weapon Settings--}}
<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.itemSheet.weapon.rangedWeapon"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        {{#if this.editable}}
            {{#if data.data.isRanged}}
                <a class="item-checkbox" data-target="data.isRanged"><i class="far fa-check-circle"></i></a>
            {{else}}
                <a class="item-checkbox" data-target="data.isRanged"><i class="far fa-circle"></i></a>
            {{/if}}
        {{else}}
            {{#if data.data.isRanged}}
                <i class="far fa-check-circle"></i>
            {{else}}
                <i class="far fa-circle"></i>
            {{/if}}
        {{/if}}
    </div>
</li>

{{#if data.data.isRanged}}
    {{!- DV Table Setting --}}
    <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
            {{localize "CPR.itemSheet.weapon.dvTable"}}:
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
            <select name="data.dvTable" data-dtype="{{data.data.dvTable}}">
                {{#select data.data.dvTable}}
                    <option value="">N/A</option>
                    {{#each this.dvTableNames as |rollTable| }}
                        <option value="{{rollTable}}">{{rollTable}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </li>
    <hr>
    {{!- Ranged Weapon - Alternate Fire Modes Settings--}}
    <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
            {{localize "CPR.global.skills.autofire"}} {{localize "CPR.itemSheet.common.maximum"}} {{localize "CPR.global.generic.multiplier"}}
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
            {{#if this.editable}}
                <input name="data.fireModes.autoFire" class="" type="number" value="{{data.data.fireModes.autoFire}}">
            {{else}}
                <span class="text-flex-end">{{data.data.fireModes.autoFire}}</span>
            {{/if}}
        </div>
    </li>
    <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
            {{localize "CPR.itemSheet.weapon.hasSuppressiveFire"}}
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
            {{#if data.data.fireModes.suppressiveFire}}
                {{#if this.editable}}
                    <a class="item-checkbox" data-target="data.fireModes.suppressiveFire">
                {{/if}}
                <i class="far fa-check-circle"></i>
                {{#if this.editable}}
                    </a>
                {{/if}}
            {{else}}
                {{#if this.editable}}
                    <a class="item-checkbox" data-target="data.fireModes.suppressiveFire">
                {{/if}}
                <i class="far fa-circle"></i>
                {{#if this.editable}}
                    </a>
                {{/if}}
            {{/if}}
        </div>
    </li>

    {{!- Ranged Weapon - Magazine Size Settings--}}
    <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
            {{localize "CPR.itemSheet.weapon.magazine"}} {{localize "CPR.itemSheet.weapon.size"}} {{cprShowUpgrade this.item "magazine"}}
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
            {{#if this.editable}}
                <input name="data.magazine.max" class="" type="number" value="{{data.data.magazine.max}}">
            {{else}}
                <span class="text-flex-end">{{data.data.magazine.max}}</span>
            {{/if}}
        </div>
    </li>
    {{#if (cprCompare data.data.magazine.ammoId "!==" "")}}
        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.itemSheet.weapon.loadedAmmoQuantity"}}
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                {{#if this.editable}}
                    <input name="data.magazine.value" class="" type="number" value="{{data.data.magazine.value}}">
                {{else}}
                    <span class="text-flex-end">{{data.data.magazine.value}}</span>
                {{/if}}
            </div>
        </li>
    {{/if}}
    <div class="item flexrow setting-name text-nowrap text-bold">
        {{#if this.editable}}
            <a class="select-compatible-ammo" data-item-prop="select-compatible-ammo">
        {{/if}}
        {{localize "CPR.itemSheet.weapon.configureCompatibleAmmo"}}
        {{#if this.editable}}
            <i class="text-smallest text-super fas fa-wrench"></i>
            </a>
        {{/if}}
    </div>
    <div class="compatible-ammo">
        {{#each (cprFindConfigObj "ammoVariety") as |ammoVariety a|}}
            {{#if (cprListContains (cprGetProp ../this.data.data "ammoVariety") a)}}
                <li class="item flexrow">
                    <div class="item flexrow setting-name text-nowrap text-padding-left">
                        &nbsp;{{localize ammoVariety}}
                        {{#if ../this.isOwned}}
                            {{#if (cprIsNumber (cprMath "sum" (cprGetProp (cprFilter ../this.filteredItems.ammo "data.data.variety" a) "data.data.amount")))}}
                                <div class="text-right">
                                    &nbsp;&nbsp;({{localize "CPR.itemSheet.weapon.youOwn"}} {{cprMath "sum" (cprGetProp (cprFilter ../this.filteredItems.ammo "data.data.variety" a) "data.data.amount")}} {{localize "CPR.itemSheet.weapon.rounds"}})
                                </div>
                            {{/if}}
                        {{/if}}
                    </div>
                </li>
            {{/if}}
        {{/each}}
    </div>
{{/if}}
{{cprTrace "END CPR-WEAPON.HBS"}}
