{{cprTrace "CPR-CRITICALINJURY.HBS"}}
{{!-- Critical Injury Item Settings--}}
<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.itemSheet.common.source"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        <input name="data.source" class="" type="text" value="{{data.data.source}}" placeholder="Example: pg. 1">
    </div>
</li>

{{!-- Critical Injury Location Settings--}}
<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.global.itemTypes.criticalInjury"}} {{localize "CPR.rolls.location"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        <select name="data.location" data-dtype="{{data.data.location}}">
            {{#select data.data.location}}
                {{#each (cprFindConfigObj "criticalInjuryLocation") as |location l|}}
                    <option value="{{l}}">{{localize location}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</li>

{{!-- Critical Injury Quick Fix Type Settings--}}
<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.global.criticalInjury.quickfix"}} {{localize "CPR.global.generic.type"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        <select name="data.quickFix.type" data-dtype="{{data.data.quickFix.type}}">
            {{#select data.data.quickFix.type}}
                {{#each (cprFindConfigObj "criticalInjuryQuickFix") as |quickfix q|}}
                    <option value="{{q}}">{{localize quickfix}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</li>

{{!-- Critical Injury Quick Fix DV Settings--}}
{{#if (cprCompare data.data.quickFix.type "===" "paramedic")}}
    <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
            {{localize "CPR.global.criticalInjury.quickfix"}} {{localize "CPR.itemSheet.criticalInjury.dv"}}
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
            <input name="data.quickFix.dvParamedic" class="" type="number" value="{{data.data.quickFix.dvParamedic}}">
        </div>
    </li>
{{/if}}
{{#if (cprCompare data.data.quickFix.type "===" "firstAidParamedic")}}
    <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
            {{localize "CPR.global.criticalInjury.quickfix"}} {{localize "CPR.itemSheet.criticalInjury.dv"}}
            ({{localize "CPR.global.skills.firstAid"}})
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
            <input name="data.quickFix.dvFirstAid" class="" type="number" value="{{data.data.quickFix.dvFirstAid}}">
        </div>
    </li>
    <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
            {{localize "CPR.global.criticalInjury.quickfix"}} {{localize "CPR.itemSheet.criticalInjury.dv"}}
            ({{localize "CPR.global.skills.paramedic"}})
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
            <input name="data.quickFix.dvParamedic" class="" type="number" value="{{data.data.quickFix.dvParamedic}}">
        </div>
    </li>
{{/if}}

{{!-- Critical Injury Treatment Type Settings--}}
<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.itemSheet.criticalInjury.treatment"}} {{localize "CPR.global.generic.type"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        <select name="data.treatment.type" data-dtype="{{data.data.treatment.type}}">
            {{#select data.data.treatment.type}}
                {{#each (cprFindConfigObj "criticalInjuryTreatment") as |treatment t|}}
                    <option value="{{t}}">{{localize treatment}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</li>

{{!-- Critical Injury Treatment DV Settings--}}
{{#if (cprCompare data.data.treatment.type "===" "surgery")}}
    <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
            {{localize "CPR.itemSheet.criticalInjury.treatment"}} {{localize "CPR.itemSheet.criticalInjury.dv"}}
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
            <input name="data.treatment.dvSurgery" class="" type="number" value="{{data.data.treatment.dvSurgery}}">
        </div>
    </li>
{{/if}}
{{#if (cprCompare data.data.treatment.type "===" "paramedicSurgery")}}
    <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
            {{localize "CPR.itemSheet.criticalInjury.treatment"}} {{localize "CPR.itemSheet.criticalInjury.dv"}} ({{localize "CPR.global.skills.paramedic"}})
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
            <input name="data.treatment.dvParamedic" class="" type="number" value="{{data.data.treatment.dvParamedic}}">
        </div>
    </li>
    <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
            {{localize "CPR.itemSheet.criticalInjury.treatment"}} {{localize "CPR.itemSheet.criticalInjury.dv"}} ({{localize "CPR.global.role.medtech.ability.surgery"}})
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
            <input name="data.treatment.dvSurgery" class="" type="number" value="{{data.data.treatment.dvSurgery}}">
        </div>
    </li>
{{/if}}
{{!-- Critical Injury Base Death Save Increase Settings--}}
<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.itemSheet.criticalInjury.criticalInjuryDeathSave"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        {{#if data.data.deathSaveIncrease}}
            <a class="item-checkbox" data-target="data.deathSaveIncrease"><i class="far fa-check-circle"></i></a>
        {{else}}
            <a class="item-checkbox" data-target="data.deathSaveIncrease"><i class="far fa-circle"></i></a>
        {{/if}}
    </div>
</li>
{{cprTrace "END CPR-CRITICALINJURY.HBS"}}