{{cprTrace "CPR-ARMOR.HBS"}}
{{!-- Armor Item Settings--}}
{{!-- Armor Equipped Setting --}}
<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.global.equipState.equipped"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        <select name="data.equipped" data-dtype="{{data.data.equipped}}">
            {{#select data.data.equipped}}
                {{#each (cprFindConfigObj "equipped") as |vic v|}}
                    <option value="{{v}}">{{localize vic}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</li>
{{!-- Armor Penalty Settings--}}
<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.itemSheet.armor.armorPenalty"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        <input name="data.penalty" class="" type="number" value="{{data.data.penalty}}">
    </div>
</li>
{{#unless (cprCompare data.data.isBodyLocation "||" data.data.isHeadLocation)}}
    <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
            {{localize "CPR.itemSheet.armor.isShield"}}
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
            {{#if data.data.isShield}}
                <a class="item-checkbox" data-target="data.isShield"><i class="far fa-check-circle"></i></a>
            {{else}}
                <a class="item-checkbox" data-target="data.isShield"><i class="far fa-circle"></i></a>
            {{/if}}
        </div>
    </li>
{{/unless}}
{{#if data.data.isShield}}
    <hr>
    <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
            {{localize "CPR.itemSheet.common.maximum"}} {{localize "CPR.global.generic.hitpoints"}} {{cprShowUpgrade this.item "shieldHp"}}
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
            <input name="data.shieldHitPoints.max" class="" type="number" value={{data.data.shieldHitPoints.max}}>
        </div>
    </li>
    <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
            {{localize "CPR.itemSheet.armor.currentHitpoints"}}
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
            <input name="data.shieldHitPoints.value" class="" type="number" value={{data.data.shieldHitPoints.value}}>
        </div>
    </li>
{{else}}
    {{!--Head Armor Settings--}}
    <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
            {{localize "CPR.global.location.head"}} {{localize "CPR.global.itemTypes.armor"}}
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
            {{#if data.data.isHeadLocation}}
                <a class="item-checkbox" data-target="data.isHeadLocation"><i class="far fa-check-circle"></i></a>
            {{else}}
                <a class="item-checkbox" data-target="data.isHeadLocation"><i class="far fa-circle"></i></a>
            {{/if}}
        </div>
    </li>
    {{#if data.data.isHeadLocation}}
        <hr>
        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.itemSheet.armor.headArmorSp"}} {{cprShowUpgrade this.item "headSp"}}
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="data.headLocation.sp" class="" type="number" value={{data.data.headLocation.sp}}>
            </div>
        </li>
        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.global.location.head"}} {{localize "CPR.global.itemTypes.armor"}} {{localize
                "CPR.itemSheet.armor.ablation"}}
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="data.headLocation.ablation" class="" type="number" value={{data.data.headLocation.ablation}}>
            </div>
        </li>
        <hr>
    {{/if}}
    {{!-- Body Armor Settings--}}
    <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
            {{localize "CPR.global.location.body"}} {{localize "CPR.global.itemTypes.armor"}}
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
            {{#if data.data.isBodyLocation}}
                <a class="item-checkbox" data-target="data.isBodyLocation"><i class="far fa-check-circle"></i></a>
            {{else}}
                <a class="item-checkbox" data-target="data.isBodyLocation"><i class="far fa-circle"></i></a>
            {{/if}}
        </div>
    </li>
    {{#if data.data.isBodyLocation}}
        <hr>
        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.itemSheet.armor.bodyArmorSp"}}  {{cprShowUpgrade this.item "bodySp"}}
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="data.bodyLocation.sp" class="" type="number" value={{data.data.bodyLocation.sp}}>
            </div>
        </li>
        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.global.location.body"}} {{localize "CPR.global.itemTypes.armor"}} {{localize "CPR.itemSheet.armor.ablation"}}
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="data.bodyLocation.ablation" class="" type="number" value={{data.data.bodyLocation.ablation}}>
            </div>
        </li>
    {{/if}}
{{/if}}
{{cprTrace "END CPR-ARMOR.HBS"}}
