{{cprTrace "CPR-WEAPON-CONTENT.HBS"}}
{{!-- NAME --}}
<li class="item flexrow{{#if item.data.data.favorite}} favorite{{else}}{{#if (cprListContains sheet.options.collapsedSections "gearTab-weapon")}} hide{{/if}}{{/if}}" data-item-id="{{item.data._id}}"
  data-item-category="{{item.type}}" draggable="true">
  <div class="item-name gear-name text-nowrap">
    <a class="name item-edit" title="{{item.name}}&#13{{localize "CPR.characterSheet.bottomPane.fight.clickToViewTheItem"}}&#13{{localize "CPR.characterSheet.bottomPane.fight.controlClickToSendToChat"}}">{{item.name}}{{#if item.data.data.isUpgraded}}<sup><i class="fab fa-uniregistry"></sup></i>{{/if}}</a>
  </div>
  <div class="item-detail gear-data text-nowrap">
    {{localize (cprFindConfigValue "weaponTypeList" item.data.data.weaponType)}}
    {{#if (ne item.data.data.quality "standard")}}
    ({{localize item.data.data.quality}})
    {{/if}}
    {{#if item.data.data.isRanged}}
    {{#if item.data.data.magazine.ammoId}}
    |
    {{cprGetProp (cprGetOwnedItem actor item.data.data.magazine.ammoId) "name"}}
    ({{item.data.data.magazine.value}}/{{cprApplyUpgrade item item.data.data.magazine.max "magazine"}})
    {{/if}}
    {{/if}}
  </div>
  <div class="item-detail gear-actions text-nowrap">
    {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-actions.hbs" item}}
  </div>
</li>
{{cprTrace "END CPR-WEAPON-CONTENT.HBS"}}
