{{cprTrace "CPR-CYBERDECK-CONTENT.HBS"}}
<li class="item flexrow{{#if item.data.favorite}} favorite{{else}}{{#if (cprListContains sheet.options.collapsedSections "gearTab-gear")}} hide{{/if}}{{/if}}" data-item-id="{{item.data._id}}"
    data-item-category="{{item.type}}" draggable="true">
    <div class="item-name gear-name text-nowrap">
        <a class="name item-edit" title="{{item.name}}&#13{{localize "CPR.characterSheet.bottomPane.fight.clickToViewTheItem"}}&#13{{localize "CPR.characterSheet.bottomPane.fight.controlClickToSendToChat"}}">{{item.name}}{{#if item.data.data.isUpgraded}}<sup><i class="fab fa-uniregistry"></sup></i>{{/if}}</a>
    </div>
    <div class="item-detail gear-data text-nowrap">
        {{localize "CPR.global.generic.slots"}}: {{item.data.data.slots}} | {{localize "CPR.global.generic.price"}}: {{item.data.data.price.market}}
    </div>
    <div class="item-detail gear-actions text-nowrap">
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-actions.hbs" item}}
    </div>
</li>
{{cprTrace "END CPR-CYBERDECK-CONTENT.HBS"}}
