{{cprTrace "CPR-CYBERWARE-CONTENT.HBS"}}
{{#unless item.data.data.isInstalled}}
<li class="item flexrow{{#if item.data.data.favorite}} favorite{{else}}{{#if (cprListContains sheet.options.collapsedSections "gearTab-cyberware")}} hide{{/if}}{{/if}}" data-item-id="{{item.data._id}}"
  data-item-category="{{item.type}}" draggable="true">
  <div class="item-name gear-name text-nowrap">
    <a class="name item-edit" title="{{item.name}}&#13{{localize "CPR.characterSheet.bottomPane.fight.clickToViewTheItem"}}&#13{{localize "CPR.characterSheet.bottomPane.fight.controlClickToSendToChat"}}">{{item.name}}{{#if item.data.data.isUpgraded}}<sup><i class="fab fa-uniregistry"></sup></i>{{/if}}</a>
  </div>
  <div class="item-detail gear-data text-nowrap">
        {{localize (cprFindConfigValue "cyberwareTypeList" item.data.data.type)}}
        {{#if item.data.data.isFoundational}}
        {{#if (cprCompare item.data.data.optionSlots ">" 0)}}
        ({{localize "CPR.global.generic.foundational"}})
        {{/if}}
        {{/if}}
  </div>
  <div class="item-detail gear-actions text-nowrap">
    {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-actions.hbs" item}}
  </div>
</li>
{{/unless}}
{{cprTrace "END CPR-CYBERWARE-CONTENT.HBS"}}
