{{cprTrace "CPR-VEHICLE-CONTENT.HBS"}}
<li class="item flexrow{{#if item.data.data.favorite}} favorite{{else}}{{#if (cprListContains sheet.options.collapsedSections "gearTab-vehicle")}} hide{{/if}}{{/if}}" data-item-id="{{item.data._id}}"
    data-item-category="{{item.type}}" draggable="true">
    <div class="item-name gear-name text-nowrap">
        <a class="name item-edit" title="{{item.name}}&#13{{localize "CPR.characterSheet.bottomPane.fight.clickToViewTheItem"}}&#13{{localize "CPR.characterSheet.bottomPane.fight.controlClickToSendToChat"}}">{{item.name}}{{#if item.data.data.isUpgraded}}<sup><i class="fab fa-uniregistry"></sup></i>{{/if}}</a>
    </div>
    <div class="item-detail gear-data text-nowrap">
    {{localize "CPR.characterSheet.rightPane.vehicle.seats"}}: {{cprApplyUpgrade item item.data.data.seats "seats"}}
    |
    {{localize "CPR.characterSheet.rightPane.vehicle.sdp"}}: {{cprApplyUpgrade item item.data.data.sdp "sdp"}}
    |
    {{localize "CPR.characterSheet.rightPane.vehicle.combatSpeed"}}: {{cprApplyUpgrade item item.data.data.speedCombat "speedCombat"}}
    </div>
    <div class="item-detail gear-actions text-nowrap">
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-actions.hbs" item}}
    </div>
</li>
{{cprTrace "END CPR-VEHICLE-CONTENT.HBS"}}
