{{cprTrace "CPR-ITEMUPGRADE-CONTENT.HBS"}}
{{#unless item.data.data.isInstalled}}
<li class="item flexrow{{#if item.data.data.favorite}} favorite{{else}}{{#if (cprListContains sheet.options.collapsedSections "gearTab-gear")}} hide{{/if}}{{/if}}" data-item-id="{{item.data._id}}"
    data-item-category="{{item.type}}" draggable="true">
    <div class="item-name gear-name text-nowrap">
        <a class="name item-edit" title="{{item.name}} x{{item.data.data.amount}}&#13{{localize "CPR.characterSheet.bottomPane.fight.clickToViewTheItem"}}&#13{{localize "CPR.characterSheet.bottomPane.fight.controlClickToSendToChat"}}">{{item.name}}</a>
    </div>
    <div class="item-detail gear-data text-nowrap">
        {{localize (cprFindConfigValue "objectTypes" item.data.data.type)}} | {{localize "CPR.global.generic.price"}}: {{item.data.data.price.market}}
    </div>
    <div class="item-detail gear-actions text-nowrap">
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-actions.hbs" item}}
    </div>
</li>
{{/unless}}
{{cprTrace "END CPR-ITEMUPGRADE-CONTENT.HBS"}}
