{{cprTrace "CPR-ARMOR-CONTENT.HBS"}}
<li class="item flexrow{{#if item.data.data.favorite}} favorite{{else}}{{#if (cprListContains sheet.options.collapsedSections "gearTab-armor")}} hide{{/if}}{{/if}}" data-item-id="{{item.data._id}}"
  data-item-category="{{item.type}}" draggable="true">
  <div class="item-name gear-name text-nowrap">
    <a class="name item-edit" title="{{item.name}}&#13{{localize "CPR.characterSheet.bottomPane.fight.clickToViewTheItem"}}&#13{{localize "CPR.characterSheet.bottomPane.fight.controlClickToSendToChat"}}">{{item.name}}{{#if item.data.data.isUpgraded}}<sup><i class="fab fa-uniregistry"></sup></i>{{/if}}</a>
  </div>
  <div class="item-detail gear-data text-nowrap">
        {{#if item.data.data.isHeadLocation}}
        {{localize "CPR.global.location.head"}}: {{cprMath "subtract" (cprApplyUpgrade item item.data.data.headLocation.sp "headSp") item.data.data.headLocation.ablation}}/{{cprApplyUpgrade item item.data.data.headLocation.sp "headSp"}} {{localize "CPR.characterSheet.rightPange.armor.sp"}}
        {{#if item.data.data.isBodyLocation}}|{{/if}}
        {{/if}}
        {{#if item.data.data.isBodyLocation}}
        {{localize "CPR.global.location.body"}}: {{cprMath "subtract" (cprApplyUpgrade item item.data.data.bodyLocation.sp "bodySp") item.data.data.bodyLocation.ablation}}/{{cprApplyUpgrade item item.data.data.bodyLocation.sp "bodySp"}} {{localize "CPR.characterSheet.rightPange.armor.sp"}}
        {{/if}}
        {{#if item.data.data.isShield}}
        {{localize "CPR.global.generic.shield"}}: {{item.data.data.shieldHitPoints.value}}/{{cprApplyUpgrade item item.data.data.shieldHitPoints.max "shieldHp"}} {{localize "CPR.global.generic.hitpoints"}}
        {{/if}}
  </div>
  <div class="item-detail gear-actions text-nowrap">
    {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-actions.hbs" item}}
  </div>
</li>
{{cprTrace "END CPR-ARMOR-CONTENT.HBS"}}
