@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

:root {
  --pitchBorder: #161616;
  --pitchBackground: #1616166b ;
  --negative: #db2a2a;
  --positive: #2bb42b;
  --iconBlue: #346d8e;
  --highlight: #4098d6;
  --mainText: #d8d8d8;
  --inactive: #999;
  --mainBackground: #1f1f1f;
  --focusBackground: #2b2b2b;
  --highlightBackground: #414141;
  --accentBackground: #24485d;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Styles limited to eclipsephase sheets */
.eclipsephase .item-form {
  font-family: "Roboto", sans-serif;
}

.eclipsephase .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 210px;
  flex: 0 0 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.eclipsephase .sheet-header .profile-img {
  height: 230px;
  width: 230px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  margin-right: 10px;
  border: solid var(--pitchBorder) 5px;
}

.morph-img{
  min-height: 240px;
  min-width: 240px;
  max-height: 240px;
  max-width: 240px;
  border: solid var(--pitchBorder) 5px;
  clip-path: polygon(89% 25%, 89% 75%, 50% 99%, 11% 75%, 11% 25%, 50% 5px)
}

.morph-imgBorder{
  z-index: 3;
  right: -30px;
  background-color: var(--pitchBorder);
  position: absolute;
  padding: 0.7em;
  clip-path: polygon(90% 25%, 90% 75%, 50% 99%, 10% 75%, 10% 25%, 50% 1%)
}

.item-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 60px;
  width: 60px;
  margin-right: 1px;
  border: none;
}

.muse-img{
  min-height: 200px;
  max-height: 200px;
  border: solid var(--pitchBorder) 6px;
  position: absolute;
  border-radius: 50%;
  margin: -5px 0 0 12px;
}

.eclipsephase .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.eclipsephase .sheet-header h1.goonname {
  height: 40px;
  padding: 0px;
  margin: 22px 8px 0px 0px;
  border-bottom: 0;
  font-size: 22px;
}

.eclipsephase .sheet-header h1.charname {
  height: 40px;
  padding: 0px;
  margin: 22px 8px 0px 0px;
  border-bottom: 0;
  font-size: 22px;
}

.eclipsephase .sheet-header h1.charname input,
.eclipsephase .sheet-header h1.goonname input{
  width: 100%;
  height: 100%;
  margin: 0;
}

.eclipsephase .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.eclipsephase .sheet-body .tab,
.eclipsephase .sheet-body .tab .editor {
  height: 100%;
  padding: 5px 0 0 0;
  min-height: 225px;
}

.eclipsephase .tox .tox-edit-area {
  padding: 0 8px;
}

.eclipsephase .resource-label {
  text-transform: uppercase;
  text-align: left;
}

.eclipsephase .resource-section-label {
  text-transform: uppercase;
  text-align: center;
}

.eclipsephase .resource-sub-label {
  text-align: left;
}

.eclipsephase .resource-value {
  text-transform: uppercase;
  font-weight: bold;
}

.eclipsephase .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.eclipsephase .items-list .item-header {
  font-weight: bold;
}

.eclipsephase .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.eclipsephase .items-list .item img {
  display: block;
}

.eclipsephase .items-list .item-name {
  margin: 0;
}

.item-controls {
  margin-top: 10px;
}

/* Colors */

a.entity-link {
  background: var(--pitchBorder);
  border: none;
}

.atHand {
  outline: var(--highlight) 2px inset;
  background: var(--pitchBackground);
  padding-left: 5px;
  padding-right: 5px;
}

.offHand {
  background: var(--pitchBackground);
  padding-left: 5px;
  padding-right: 5px;
}

span.fail {
  font-size: 20px;
  color: var(--negative);
  opacity: 1;
}

span.success {
  font-size: 20px;
  color: var(--positive);
  opacity: 1;
}

.message-timestamp,
.message-sender,
.flavor-text {
  color: var(--mainText);
  opacity: 1;
}

.window-app .window-content {
  color: var(--mainText);
  background: none;
  overflow-y: scroll;
}

.window-app .window-content::after{
  content: "";
  background-image: url(../resources/img/background2.jpg);
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#chat-log .message {
  background-image: url(../resources/img/background2.jpg);
  opacity: 0.8;
  color: var(--mainText);
  border: #131313 2px solid;
}

.chat-message .table-draw .table-description {
  color: var(--inactive);
}

.dice-roll .dice-total,
.dice-roll .dice-formula{
  border: #131313 1.5px solid;
  border-radius: 3px;
  box-shadow: none;
  background-color: var(--focusBackground);
  opacity: 1;
}

#token-hud .attribute.bar1 input,
#token-hud .attribute.bar2 input{
  text-align: center;
}

input[class="sheet"],
input[class="sheet equipped checkBox"]{
  -webkit-appearance:none;
  flex: 0 0 10px;
  height: 10px;
  background-color: #fff;
  border: var(--focusBackground) 1px solid;
  display:block;
  border-radius: 100px;
  margin: 0 5px;
}

input[class="check-inline-edit"]{
  -webkit-appearance:none;
  flex: 0 0 10px;
  height: 10px;
  background-color: #fff;
  border: var(--focusBackground) 1px solid;
  display:block;
  border-radius: 100px;
  margin: 0 5px;
}

input[type="text"]{
  text-align: left;
}
input[type="number"]{
  text-align: center;
}

input[type="text"],
input[type="number"],
select,
.sidebar-tab .directory-header .header-search input{
  color: var(--mainText);
  background: transparent;
  border: none;
  height: 20px;
  padding: 0;
}

textarea {
  color: var(--mainText);
  background: transparent;
  border: solid var(--focusBackground) 3px;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
textarea::placeholder{
  color: #8a8a8a;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus{
  background: var(--focusBackground);
  box-shadow: 0 0 10px var(--highlight);
  outline: none;
}

input[type="text"]:hover,
input[type="number"]:hover,
select:focus,
textarea:focus{
  background: var(--focusBackground);
  outline: none;
}

input[class="sheet"]:checked,
input[class="sheet equipped checkBox"]:checked{
  background-color: var(--highlight);
  padding:4px;
  border: var(--focusBackground) 1px solid;
  filter: none;
}

input[class="sheet equipped checkBox"],
input[class="sheet equipped checkBox"]:checked{
  margin: 0 15px 0 0;
}

input [class="leftField"],
input [class="leftField"]:focus,
input [class="leftField"]::placeholder{
  text-align: left!important;
}

input [class="centerField"],
input [class="centerField"]:focus,
input [class="centerField"]::placeholder{
  text-align: center!important;
}

input [class="rightField"],
input [class="rightField"]:focus,
input [class="rightField"]::placeholder{
  text-align: right!important;
}

h2 {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--accentBackground);
}

form button,
.dialog .dialog-buttons button.default,
.dialog .dialog-buttons button{
  color: var(--mainText);
}

.color-change{
  fill: var(--mainText);
}

::-webkit-scrollbar-track{
  box-shadow: 0 0 0 #999 inset;
}

::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: var(--accentBackground);
  border: 1px solid var(--highlight);
}

.wa-link{
  border: none!important;
  background-color: var(--accentBackground)!important;
}

a[href] {
  color: var(--highlight);
}

.eclipsephase .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.macro-sheet .form-group.command .furnace-macro-command textarea, .macro-sheet .form-group.command .furnace-macro-command code{
  color: var(--mainText);
}

hljs-string{
  color: var(--highlight);
}

.damage-roll:hover,
.damage-roll:focus,
.task-check:hover,
.task-check:focus,
.rollable:hover,
.rollable:focus,
a:hover{
  text-shadow: 0 0 10px var(--highlight);
  cursor: pointer;
}

.sheet nav.sheet-tabs {
  height: 40px;
  line-height: 40px;
  flex: 0 0 43px;
  border-top: none;
  border-bottom: 3px solid var(--pitchBorder);
}

.sheet nav.sheet-tabs.itemnav {
  margin-top: 10px;
  height: 40px;
  line-height: 37px;
  flex: 0 0 43px;
  border-top: none;
  border-bottom: 3px solid var(--pitchBorder);
}

.eclipsephase .tabs {
  justify-content: space-between;
}

.eclipsephase .tabs .item {
  font-weight: bold;
  padding: 0 5%;
}

.eclipsephase .tabs .item:first-child {
  font-weight: bold;
  text-align: center;
}

.eclipsephase .tabs .item.active:first-child {
  text-shadow: none;
  background-color: var(--pitchBorder);
  text-align: center;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}

.eclipsephase .tabs .item.active {
  text-shadow: none;
  background-color: var(--pitchBorder);
  clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
}

.eclipsephase .tox .tox-editor-container {
  background: #fff;
}

.sheet .editor-content{
  background: var(--mainBackground);
  padding: 1em;
  border-top: solid var(--accentBackground) 2px;
  overflow-x: hidden;
  min-height: 225px;
}

.eclipsephase .sheet-body .tab .editor {
  padding: 0;
}

form .notes, form .hint {
  color: #989898;
}

#navigation #scene-list .scene.view,
#navigation #scene-list .scene.context {
  cursor: default;
  color: #FFF;
  border: 1px solid var(--highlight);
  border-bottom: 1px solid var(--highlight)!important;
  box-shadow: 0 0 10px var(--highlight)!important;
}

#controls .scene-control.active, #controls .control-tool.active, #controls .scene-control:hover, #controls .control-tool:hover {
  color: #FFF;
  border: 1px solid var(--highlight);
  border-bottom: 1px solid var(--highlight);
  box-shadow: 0 0 10px var(--highlight);
}

#hotbar .macro:hover {
  box-shadow: 0 0 10px var(--highlight) inset;
}

#sidebar-tabs > .item.active {
  color: #FFF;
  border: 1px solid var(--highlight);
  border-bottom: none;
  box-shadow: 0 0 6px inset var(--highlight);
}

#sidebar-tabs {
  flex: 0 0 32px;
  box-sizing: border-box;
  margin: 0 0 5px;
  border-bottom: 1px solid var(--highlight);
  box-shadow: 0 0 10px var(--highlight);
}

.tabs .item.active {
  text-shadow: 0 0 10px var(--highlight);
}

#chat-controls .roll-type-select,
optgroup .Default .Roll .Mode,
#chat-form textarea{
  background: var(--focusBackground);
}

#module-management .package-list .package-title {
  color: var(--mainText);
  font-weight: normal;
}

.window-app .window-header {
  background: #1d1d1d;
}

.filepicker .display-modes a {
  background: #1d1d1d;
}

.filepicker .display-modes a.active {
  text-shadow: 0 0 6px var(--highlight);
  border: 1px solid #191813;
  background: #5a5a5a;
}

.journal-sheet form h1 {
  border-bottom: var(--highlight);
}

.dark button {
  background-color: var(--pitchBorder);
  border: none;
}

.button-roll {
  display: flex;
  align-items: center; 
  justify-content: center;
  min-width: 120px;
  max-width: 200px;
  margin: 0 0 0 5px;
  padding: 5px 0 5px 0;
  background: var(--mainBackground);
}

.button .icon-small {
  max-height: 18px!important;
  max-width: 18px!important;
}
/* Tiny MCE Styles */

.tox.tox-tinymce .tox-edit-area__iframe {
  background: var(--mainText);
}

.tox.tox-tinymce .tox-edit-area__iframe {
  background: var(--mainText);
}

.mce-content-body p a[href]{
  color: var(--highlight);
}

.mce-content-body {
  color: var(--mainText)!important;
  font-family: "Roboto", sans-serif!important;
}

.mce-content-body p {
  font-size: 16px!important;
  color: var(--mainText)!important;
}

.mce-content-body h1 {
  border-bottom: var(--highlight)!important;
}

/* World Anvil Integration */

.world-anvil header.section {
  border-bottom: var(--highlight)!important;
}

.world-anvil a.article-link {
  color: var(--mainText)!important;
}

.world-anvil .world-anvil-link {
  color: var(--mainText)!important;
}

/* Own Styles */
.editWithLabel {
  max-width: 150px;
}

.dialog .form-group {
  margin: 0;
}

.vehicle .item {
  max-height: none!important;
}

.eclipsephase .sheet-body .tab .item {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  min-height: 30px;
}

.topLine {
  border-top: solid var(--accentBackground) 2px;
}

table {
  border: none;
  margin-bottom: 10px;
}

table tr:first-child{
  background: var(--mainBackground);
}

table tr:nth-child(even){
  background: var(--focusBackground);
}

h1, h2, h3, h4 {
  margin: -0.5px;
}

h3.subheader {
  background-color: var(--accentBackground);
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  padding: 0.3em 1em 0.2em 1em;
  font-weight: bold;
  text-transform: uppercase;
}

h3.subheaderMirror {
  background-color: var(--accentBackground);
  clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0% 100%);
  padding: 0.3em 1em 0.2em 1em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: end;
}

h3.subheaderBlank {
  padding: 0.3em 1em 0.2em 1em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.flexGrowThreeQuarter {
  flex-grow: 1.25!important;
}

.flexGrowHalf {
  flex-grow: 0.49!important;
}

.flexGrowQuarter {
  flex-grow: 0.35!important;
}

.alignRight {
  text-align: right!important;
}

.alignLeft {
  text-align: left!important;
}

.alignCenter {
  text-align: center!important;
}

.justifyEnd{
  justify-content: flex-end;
}

.justifyCenter{
  justify-content: center;
}

.justifyStart{
  justify-content: flex-start;
}

.justifyBetween{
  justify-content: space-between;
}

.hoverable {
  cursor: pointer;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 17px;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--accentBackground);
}

.separator:not(:empty)::before {
  margin-right: 2em;
}

.separator:not(:empty)::after {
  margin-left: 2em;
}

.displayBlock {
  display: block;
}

.standard-height {
  height: 26px;
}

.input-xs {
  max-width: 25px!important;
}

.input-small {
  max-width: 40px!important;
}

.input-medium {
  max-width: 60px!important;
}

.input-large {
  max-width: 100px!important;
}

.input-XL {
  max-width: 180px!important;
}

.input-XXL {
  max-width: 240px!important;
}

.weaponslist .sheet-inline-edit {
  min-height: 20px!important;
  max-height: 20px!important;
  margin-right: 5px!important;
}

.item-standard-margin {
  margin: 0 0.2em 0 0em!important;
}

.item-standard-margin {
  margin: 0 0.2em 0 0!important;
}

.item-standard-margin-medium {
  margin: 0 1em 0 0!important;
}

.item-standard-margin-both-large {
  margin: 0 1em!important;
}

.contentBox {
  margin-bottom: 20px;
  position: relative;
}

.listBackground {
  background: var(--mainBackground);
  padding: 5px 1em 5px 1em;
  border-top: solid var(--accentBackground) 2px;
  min-height: 40px;
}

.itemBackground {
  background: var(--mainBackground);
  padding: 10px 1em 10px 1em;
  border-top: solid var(--accentBackground) 2px;
}

.noPadBot {
  padding-bottom: 0;
}

.centerBackground {
  background: var(--pitchBorder);
  padding: 1em;
  min-height: 40px;
}

.edgeAbler {
  position: relative; 
  z-index: 2;
}

.edgeLord {
  height: 40px; 
  margin-top: -25px;
}

.shape1 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 7% 100%, 0 70%);
}

.shape2 {
  clip-path: polygon(0 0, 100% 0, 100% 70%, 93% 100%, 0 100%);
}

.shape3 {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 95% 100%, 5% 100%, 0 85%);
}

.shape4 {
  clip-path: polygon(100% 0, 0 0, 0 85%, 5% 100%, 70% 100%, 75% 85%, 95% 85%, 100% 75%);
}

.shape5 {
  clip-path: polygon(100% 0, 0 0, 0 75%, 5% 85%, 25% 85%, 35% 100%, 95% 100%, 100% 85%);
}

.roll-label {
  max-width: 26px;
  max-height: 26px;
}

.labelWidth-small {
  max-width: 40px;
  margin-right: 5px;
}

.labelWidth-medium {
  max-width: 60px;
  margin-right: 5px;
}

.labelWidth-large {
  max-width: 100px;
  margin-right: 5px;
}

.labelWidth-XL {
  max-width: 180px;
  margin-right: 5px;
}

.icon-small,
.icon-hidden{
  max-height: 24px!important;
  max-width: 24px!important;
  border: none;
  margin: 0 0.2em!important;
}

.icon-hidden{
  opacity: 0%;
}

.hidden {
  opacity: 0%;
}

.noShow {
  display: none;
}

.noBorder {
  border: none;
}

.description {
  overflow: auto;
  text-align: left;
}

ol {
  list-style-type: none;
}

.textAreaDescription {
  border-radius: 0;
  flex-grow: 3!important;
}

.selectSpecApt {
  flex-grow: 0.5;
}

.flavor-text {
  font-size: 16px!important;
  text-align: center;
  margin: 20px 0;
}

.editor {
  max-height: 40%;
  overflow-x: hidden;
}

.limited-editor .editor {
  max-height: 225px;
  overflow-x: hidden;
}

.journal-sheet form .editor,
.item .editor{
  max-height: 100%;
  height: 95%;
}

.item-create {
  margin-left: auto;
}

.eclipsephase .sheet-header .profile-img-goon {
  height: 300px;
  width: 300px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  margin-right: 10px;
  margin-top: 10px;
  border: none;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: var(--mainBackground);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsibleactive, .collapsible:hover {
  border: var(--highlight);
  box-shadow: 0 0 10px var(--highlight) inset
}

.collapsible:focus {
  box-shadow: none;
  border: none;
}

/* Style the collapsible content. Note: hidden by default */
.itemDescription {
  padding: 5px;
  background-color: var(--highlightBackground);
}

.descriptionContainer {
  margin-top: 2px;
  flex-basis: 100%;
  display: none;
}

.noBG {
  background: none;
}

.noMargin {
  margin: 0px!important;
}

.weaponslist {
  margin-bottom: 40px;
}

img {
  border: none;
}

.logo-img {
  margin: auto!important;
  width: auto!important;
  height: auto!important;
  display: block;
}

.bigIcon {
  font-size: 48px;
}

.sheet header.sheet-header > * {
  flex: 0.15;
  margin-top: 20px;
}

.textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 20px;
  line-height: 20px;
}

.headroom {
  flex: 0.45!important;
  position: relative;
}

.headSpace {
  margin: 10px 0 5px 0;
}

.truncate {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pill {
  max-width: 110px;
  background-color: #2f2f2f;
  margin-right: 5px;
}

.trunContainer {
  max-width: 100%;
}

h3.inline {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}

.tooltip {
  position: relative;
}

.tooltip div[role=tooltip],
.tooltip div[role=tooltipNegative]{
  display: none;
}

.tooltip:hover div[role=tooltip] {
  font-family: "Roboto", sans-serif;
  width: 350px;
  display: block;
  text-align: left;
  position: absolute;
  top: 1em;
  left: -20em;
  z-index: 100;
  color: var(--mainText);
}

.tooltip:hover div[role=tooltipNegative] {
  font-family: "Roboto", sans-serif;
  width: 350px;
  display: block;
  text-align: left;
  position: absolute;
  top: 1.8em;
  z-index: 100;
  color: var(--mainText);
}

.tooltipTop,
.tooltipBottom{
  min-height: 35px;
  background-color: var(--focusBackground);
}

.tooltipTopBorder,
.tooltipBottomBorder{
  position: relative;
  z-index: 10;
  background-color: var(--mainBackground);
}

.tooltipTop{
  clip-path: polygon(71% 0, 73% 35%, 97% 35%, 100% 75%, 100% 100%, 0% 100%, 0% 100%, 0 0, 0% 0);
}

.tooltipTopBorder{
  padding: 0.25em 0.25em 0 0.25em;
  margin-bottom: -5px;
  clip-path: polygon(71% 0, 73% 35%, 97% 35%, 100% 75%, 100% 100%, 0% 100%, 0% 100%, 0 0, 0% 0);
}

.tooltipBottom{
  clip-path: polygon(0 0, 100% 0, 100% 30%, 95% 70%, 63% 70%, 60% 100%, 5% 100%, 0 46%);
}

.tooltipBottomBorder{
  padding: 0 0.25em 0.25em 0.25em;
  margin-top: -15px;
  clip-path: polygon(0 0, 100% 0, 100% 30%, 95% 70%, 63% 70%, 60% 100%, 5% 100%, 0 46%);
}

.insight,
.moxie,
.vigor,
.flex,
.information,
.armorValue{
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-color: var(--focusBackground);
  padding: 3em 2em 2em 3.5em;
  border-left: solid 0.25em var(--mainBackground);
  border-right: solid 0.25em var(--mainBackground);
}

.insight {
  background-image: url(../resources/img/insight.jpg);
}
.moxie {
  background-image: url(../resources/img/moxie.jpg);
}
.vigor {
  background-image: url(../resources/img/vigor.jpg);
}
.flex {
  background-image: url(../resources/img/flex.jpg);
}

.information {
  background-image: url(../resources/img/info.jpg);
}

.armorValue {
  background-image: url(../resources/img/armor.jpg);
}

.directory .directory-header .header-search input {
  background: none;
  margin: 10px 3px;
}
