// Cyberpunk Red Core Black-ICE Sheet Styling
// Overall Sheet Layout
.demon-sheet {
    font-family: "Audimat Mono";
    background-color: @chrome-white;
    display: grid;
    min-width: 615px;
    grid-template-rows: auto;
    grid-template-areas:
        "demon-stats"
        "demon-details";

    .demon-stats {
        display: grid;
        grid-area: demon-stats;
        grid-template-rows: 10px 20px;
        grid-template-areas:
            "demon-top"
            "demon-head"
            "demon-value";

        .demon-top {
            grid-area: demon-top;
            align-self: center;
        }
        .demon-head {
            grid-area: demon-head;
        }
        .demon-value {
            grid-area: demon-value;
        }
    }

    .demon-details {
        display: grid;
        grid-area: demon-details;
        grid-template-columns: 72px 1fr;
        grid-template-areas:
            "demon-icon demon-notes";

        .demon-icon {
            gap: 5px;
            padding-top: 5px;
            height: 72px;
            width: 72px;
            display: block;
            grid-area: demon-icon;
        }
        .demon-notes {
            gap: 5px;
            grid-area: demon-notes;
        }
    }

    .demon-edit-section {
        min-height: 72px;
        min-width: 135px;
        height: unset;
        display: flex;
        flex: 1 0 auto;
        background-color: @chrome-white;
        flex-wrap: wrap;
    }

    .demon-label-corner-both {
      clip-path: polygon(10px 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%, 0 10px);
      height:12px;
    }

    .demon-label-corner-left {
      clip-path: polygon(10px 0, 100% 0, 100% 100%, 0 100%, 0 10px);
      height:12px;
    }

    .demon-label-corner-right {
      clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%);
      height:12px;
    }
}
