{{cprTrace "CPR-CYBERWARE.HBS"}}
<div class="item-description-tab">
    <div class="item-summary-section">
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.global.generic.price"}}:</span>
            <span class="summary-value">{{data.data.price.market}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.itemSheet.price.market"}}:</span>
            <span class="summary-value">{{localize (cprFindConfigValue "itemPriceCategory" data.data.price.category)}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.global.generic.install"}}: </span>
            <span class="summary-value">{{localize (cprFindConfigValue "cyberwareInstallList" data.data.install)}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.itemSheet.cyberware.staticHl"}}:</span>
            <span class="summary-value">{{data.data.humanityLoss.static}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.itemSheet.cyberware.rollHl"}}:</span>
            <span class="summary-value">{{data.data.humanityLoss.roll}}</span>
        </div>

        {{#if data.data.hasOptionalSlots}}
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.itemSheet.cyberware.optionalSlots"}}:</span>
            <span class="summary-value">{{data.data.optionSlots}}</span>
        </div>
        {{/if}}
    </div>
    <div class="item-description-section">
        {{editor content=data.data.description.value target="data.description.value" button=true owner=owner
        editable=editable}}
    </div>
</div>
{{cprTrace "END CPR-CYBERWARE.HBS"}}
