{{cprTrace "CPR-CLOTHING.HBS"}}
<div class="item-description-tab">
    <div class="item-summary-section">
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.global.generic.price"}}:</span>
            <span class="summary-value">{{data.data.price.market}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.itemSheet.price.market"}}:</span>
            <span class="summary-value">{{localize (cprFindConfigValue "itemPriceCategory" data.data.price.category)}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.global.generic.amount"}}:</span>
            <span class="summary-value">{{data.data.amount}}</span>
        </div>
    </div>
    <div class="item-description-section">
        {{editor content=data.data.description.value target="data.description.value" button=true owner=owner
        editable=editable}}
    </div>
</div>
{{cprTrace "END CPR-CLOTHING.HBS"}}
