{{cprTrace "CPR-SKILL.HBS"}}
<div class="item-description-tab">
    <div class="item-summary-section">
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.itemSheet.skill.level"}}:</span>
            <span class="summary-value">{{data.data.level}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.global.generic.stat"}}:</span>
            <span class="summary-value">{{localize (cprFindConfigValue "statList" data.data.stat)}}</span>
        </div>
    </div>
    <div class="item-description-section">
        {{editor content=data.data.description.value target="data.description.value" button=true owner=owner
        editable=editable}}
    </div>
</div>
{{cprTrace "END CPR-SKILL.HBS"}}
