{{cprTrace "CPR-ARMOR.HBS"}}
<div class="item-description-tab">
    <div class="item-summary-section">
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.global.generic.price"}}:</span>
            <span class="summary-value">{{data.data.price.market}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.itemSheet.price.market"}}:</span>
            <span class="summary-value">{{localize (cprFindConfigValue "itemPriceCategory" data.data.price.category)}}</span>
        </div>
        {{#if data.data.isHeadLocation}}
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.itemSheet.armor.headSp"}}:</span>
            <span class="summary-value">{{cprApplyUpgrade this.item data.data.headLocation.sp "headSp"}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">&nbsp;{{localize "CPR.itemSheet.armor.ablation"}}:</span>
            <span class="summary-value">{{data.data.headLocation.ablation}}</span>
        </div>
        {{/if}}
        {{#if data.data.isBodyLocation}}
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.itemSheet.armor.bodySp"}}:</span>
            <span class="summary-value">{{cprApplyUpgrade this.item data.data.bodyLocation.sp "bodySp"}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">&nbsp;{{localize "CPR.itemSheet.armor.ablation"}}:</span>
            <span class="summary-value">{{data.data.bodyLocation.ablation}}</span>
        </div>
        {{/if}}
        {{#if data.data.isShield}}
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.itemSheet.common.maximumShort"}} {{localize "CPR.global.generic.hitpointsShort"}}:</span>
            <span class="summary-value">{{cprApplyUpgrade this.item data.data.shieldHitPoints.max "shieldHp"}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.itemSheet.armor.currentHitpointsShort"}}:</span>
            <span class="summary-value">{{data.data.shieldHitPoints.value}}</span>
        </div>
        {{/if}}
    </div>
    <div class="item-description-section">
        {{editor content=data.data.description.value target="data.description.value" button=true owner=owner
        editable=editable}}
    </div>
</div>
{{cprTrace "END CPR-ARMOR.HBS"}}
