{{cprTrace "CPR-WEAPON.HBS"}}
<div class="item-description-tab">
    <div class="item-summary-section">
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.global.generic.price"}}:</span>
            <span class="summary-value">{{data.data.price.market}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.itemSheet.price.market"}}:</span>
            <span class="summary-value">{{localize (cprFindConfigValue "itemPriceCategory" data.data.price.category)}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.itemSheet.weapon.rof"}}:</span>
            <span class="summary-value">{{cprApplyUpgrade item data.data.rof "rof"}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.global.generic.damage"}}:</span>
            <span class="summary-value">{{cprApplyUpgrade item data.data.damage "damage"}}</span>
        </div>
        {{#if data.data.isRanged}}
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.itemSheet.weapon.magSize"}}:</span>
            <span class="summary-value">{{cprApplyUpgrade item data.data.magazine.max "magazine"}}</span>
        </div>
        {{/if}}
    </div>
    <div class="item-description-section">
        {{editor content=data.data.description.value target="data.description.value" button=true owner=owner
        editable=editable}}
    </div>
</div>
{{cprTrace "END CPR-WEAPON.HBS"}}
