{{cprTrace "CPR-NETARCH.HBS"}}
<div class="item-description-tab">
    <div class="item-summary-section">
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.global.generic.price"}}:</span>
            <span class="summary-value">{{data.data.price.market}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.itemSheet.price.market"}}:</span>
            <span class="summary-value">{{localize (cprFindConfigValue "itemPriceCategory" data.data.price.category)}}</span>
        </div>
    </div>
    <div class="item-description-section">
        {{editor content=data.data.description.value target="data.description.value" button=true owner=owner
        editable=editable}}
    </div>
</div>
<div class=""></div>
<div class="item-netarch-section">
  <li class="items-header flexrow">
    <span class="item-name netarch-level fg-white bg-black text-nowrap text-padding-left">{{localize "CPR.netArchitecture.floor.shortWord"}}</span>
    <span class="item-name netarch-dv fg-white bg-black text-nowrap text-padding-left">{{localize "CPR.netArchitecture.floor.dv"}}</span>
    <span class="item-name netarch-content fg-white bg-black text-nowrap text-padding-left">{{localize "CPR.netArchitecture.floor.data"}}</span>
    <span class="item-name netarch-actions fg-white bg-black text-nowrap text-padding-left">
      <a class="netarch-level-action" data-action-type="create" data-action-target="-1"><i class="fas fa-plus-circle text-padding-right" title="{{localize "CPR.dialog.netArchitectureNewFloor.title"}}"></i></a>
    </span>
  </li>
  <div class="netarch-list-content">
    <ol class="items-list">
      {{#each (cprSort data.data.floors "index") as |floor|}}
        <li class=" item-netarch-grid item flexrow">
          <div class="netarch-level">{{floor.floor}}{{floor.branch}}</div>
          <div class="netarch-dv">
            {{#if (cprCompare floor.content "!==" "CPR.global.programClass.blackice")}}
              {{floor.dv}}
            {{/if}}
          </div>
          <div class="netarch-content">
            {{#if (cprCompare (cprCompare floor.content "===" "CPR.global.programClass.blackice") "&&" (cprCompare floor.blackice "!==" "--"))}}
              {{#if (cprCompare (cprItemIdFromName (localize floor.blackice) "program") "!==" "DOES NOT EXIST")}}
              <div class="text-bold"><a class="netarch-item-link" data-item-id="{{cprItemIdFromName (localize floor.blackice) "program"}}" title="{{localize "CPR.itemSheet.netArchitecture.clickToViewItem"}}">{{localize floor.blackice}}</a></div>
              {{else}}
                <div class="text-bold" title="{{localize "CPR.itemSheet.netArchitecture.itemNotFound"}}">{{localize floor.blackice}}</div>
              {{/if}}
              <div>{{floor.description}}</div>
            {{else}}
              <div class="text-bold">{{localize floor.content}}</div>
              <div>{{floor.description}}</div>
            {{/if}}
          </div>
          <div class="netarch-actions">
            <a class="netarch-level-action" data-action-type="up" data-action-target="{{floor.index}}"><i class="fas fa-arrow-up fg-black" title="{{localize "CPR.netArchitecture.floor.moveUp"}}"></i></a>
            <a class="netarch-level-action" data-action-type="down" data-action-target="{{floor.index}}"><i class="fas fa-arrow-down fg-black" title="{{localize "CPR.netArchitecture.floor.moveDown"}}"></i></a>
            <a class="netarch-level-action" data-action-type="edit" data-action-target="{{floor.index}}"><i class="fas fa-edit fg-black" title="{{localize "CPR.netArchitecture.floor.edit"}}"></i></a>
            <a class="netarch-level-action" data-action-type="delete" data-action-target="{{floor.index}}"><i class="fas fa-trash-alt fg-red" title="{{localize "CPR.netArchitecture.floor.delete"}}"></i></a>
          </div>
        </li>
      {{/each}}
    </ol>
  </div>
  <div class="netarch-generate-auto fg-white"><i class="fas fa-cog fa-sm fg-white"></i>{{localize "CPR.netArchitecture.generation.auto"}}</div>
  <div class="netarch-generate-custom fg-white"><i class="fas fa-cog fa-sm fg-white"></i>{{localize "CPR.netArchitecture.generation.custom"}}</div>
</div>
{{cprTrace "END CPR-NETARCH.HBS"}}
