{{cprTrace "CPR-CRITICALINJURY.HBS"}}
<div class="item-description-tab">
    <div class="item-summary-section">
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.rolls.location"}}:</span>
            <span class="summary-value">{{localize (cprFindConfigValue "criticalInjuryLocation" data.data.location)}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.itemSheet.criticalInjury.deathSaveIncrease"}}:</span>
            <span class="summary-value">{{#if data.data.deathSaveIncrease}} Yes {{else}} No {{/if}}</span>
        </div>
    </div>
    <div class="item-description-section">
        {{editor content=data.data.description.value target="data.description.value" button=true owner=owner
        editable=editable}}
    </div>
</div>
{{cprTrace "END CPR-CRITICALINJURY.HBS"}}
