<form id="folder-create" autocomplete="off">
    <input type="hidden" name="type" value="{{folder.type}}"/>
    <input type="hidden" name="parent" value="{{folder.parent}}"/>

    <div class="form-group">
        <label>{{localize "FOLDER.Name"}}</label>
        <div class="form-fields">
            <input type="text" name="name" placeholder="{{newName}}" value="{{name}}" required/>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "FOLDER.Color"}}</label>
        <div class="form-fields">
            <input type="text" name="color" value="{{folder.color}}"/>
            <input type="color" value="{{safeColor}}" data-edit="color"/>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "FOLDER.SortMode"}}</label>
        <div class="form-fields">
            {{radioBoxes "sorting" sortingModes checked=folder.sorting localize=true}}
        </div>
    </div>
    <button type="submit"><i class="fas fa-check"></i> {{submitText}}</button>
</form>
