<form autocomplete="off">

    <!-- Configuration Tabs -->
    <nav class="sheet-tabs tabs">
        <a class="item" data-tab="basic"><i class="fas fa-image"></i> {{localize "SCENES.HeaderDetails"}}</a>
        <a class="item" data-tab="grid"><i class="fas fa-ruler"></i> {{localize "SCENES.HeaderGrid"}}</a>
        <a class="item" data-tab="lighting"><i class="fas fas fa-lightbulb"></i> {{localize "SCENES.HeaderVision"}}</a>
        <a class="item" data-tab="ambience"><i class="fas fa-cloud-sun"></i> {{localize "SCENES.HeaderAmbience"}}</a>
    </nav>

    <!-- Basic Tab -->
    <div class="tab" data-tab="basic">
        <div class="form-group">
            <label>{{localize "SCENES.SceneName"}}</label>
            <div class="form-fields">
                <input type="text" name="name" placeholder="{{localize 'Name'}}" value="{{data.name}}"/>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "SCENES.Accessibility"}}</label>
            <div class="form-fields">
                <label class="checkbox">
                    {{localize "SCENES.ShowNav"}}
                    <input type="checkbox" name="navigation" {{checked data.navigation}}/>
                </label>
                <select name="permission.default" data-dtype="Number">
                {{#select data.permission.default}}
                    <option value="0">{{localize "SCENES.AccessibilityGM"}}</option>
                    <option value="2">{{localize "SCENES.AccessibilityAll"}}</option>
                {{/select}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "SCENES.NavName"}}</label>
            <div class="form-fields">
                <input type="text" name="navName" value="{{data.navName}}"/>
            </div>
            <p class="notes">{{localize "SCENES.NavNameHint"}}</p>
        </div>
        <hr>

        <div class="form-group">
            <label>{{localize "SCENES.BackgroundImage"}}</label>
            <div class="form-fields">
                {{filePicker target="img" type="imagevideo"}}
                <input class="image" type="text" name="img" placeholder="{{localize 'File Path'}}" value="{{data.img}}"/>
            </div>
            <p class="notes">{{localize "SCENES.BackgroundImageHint"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "SCENES.ForegroundImage"}}</label>
            <div class="form-fields">
                {{filePicker target="foreground" type="imagevideo"}}
                <input class="image" type="text" name="foreground" placeholder="{{localize 'File Path'}}" value="{{data.foreground}}"/>
            </div>
            <p class="notes">{{localize "SCENES.ForegroundImageHint"}}</p>
        </div>
        <hr>

        <div class="form-group">
            <label>{{localize "SCENES.BackgroundColor"}}</label>
            <div class="form-fields">
                <input type="text" name="backgroundColor" value="{{data.backgroundColor}}"/>
                <input type="color" value="{{data.backgroundColor}}" data-edit="backgroundColor"/>
            </div>
        </div>

        <div class="form-group initial-position">
            <label>{{localize "SCENES.InitialView"}}</label>
            <div class="form-fields">
                <button class="capture-position" type="button" title="{{ localize "SCENES.InitialViewButton" }}">
                    <i class="fas fa-crop-alt fa-fw"></i>
                </button>
                <label>X</label>
                <input type="number" name="initial.x" placeholder="0" value="{{data.initial.x}}" step="1"/>
                <label>Y</label>
                <input type="number" name="initial.y" placeholder="0" value="{{data.initial.y}}" step="1"/>
                <label>{{localize "SCENES.ZoomLower"}}</label>
                <input type="number" name="initial.scale" placeholder="1" value="{{data.initial.scale}}" step="any"/>
            </div>
            <p class="notes">{{localize "SCENES.InitialViewHint"}}</p>
        </div>
    </div>

    <!-- Grid Tab -->
    <div class="tab" data-tab="grid">
        <div class="form-group">
            <label>{{localize "SCENES.GridType"}}</label>
            <div class="form-fields">
                <button type="button" class="grid-config" title="{{ localize "SCENES.GridConfigTool" }}">
                    <i class="fas fa-ruler-combined"></i>
                </button>
                <select name="gridType" data-dtype="Number">
                    {{ selectOptions gridTypes selected=data.gridType localize=true}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "SCENES.GridSize"}} <span class="units">({{localize "SCENES.Pixels"}})</span></label>
            <div class="form-fields">
                <input type="number" name="grid" placeholder="{{localize 'SCENES.Pixels'}}" value="{{data.grid}}" step="1" min="50"/>
            </div>
            <p class="notes">{{localize "SCENES.GridSizeHint"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "SCENES.Dimensions"}} <span class="units">({{localize "SCENES.Pixels"}})</span></label>
            <div class="form-fields">
                <label class="grid-label">{{localize "Width"}}</label>
                <input type="number" name="width" placeholder="{{localize 'SCENES.Pixels'}}" value="{{data.width}}"/>
                <label class="grid-label">{{localize "Height"}}</label>
                <input type="number" name="height" placeholder="{{localize 'SCENES.Pixels'}}" value="{{data.height}}"/>
            </div>
            <p class="notes">{{localize "SCENES.DimensionsHint"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "SCENES.Padding"}}</label>
            <div class="form-fields">
                <input type="range" name="padding" value="{{data.padding}}" min="0" max="0.5" step="0.05"/>
                <span class="range-value">{{data.padding}}</span>
            </div>
            <p class="notes">{{localize "SCENES.PaddingHint"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "SCENES.ShiftBG"}} <span class="units">({{localize "SCENES.Pixels"}})</span></label>
            <div class="form-fields">
                <label class="grid-label">{{localize "SCENES.ShiftHorizontal"}}</label>
                <input type="number" name="shiftX" placeholder="{{localize 'SCENES.Pixels'}}" value="{{data.shiftX}}"/>
                <label class="grid-label">{{localize "SCENES.ShiftVertical"}}</label>
                <input type="number" name="shiftY" placeholder="{{localize 'SCENES.Pixels'}}" value="{{data.shiftY}}"/>
            </div>
        </div>
        <hr>

        <div class="form-group">
            <label>{{localize "SCENES.GridScale"}}</label>
            <div class="form-fields">
                <label class="grid-label">{{localize "SCENES.GridDistance"}}</label>
                <input type="number" step="any" name="gridDistance" placeholder="1" value="{{data.gridDistance}}"/>
                <label class="grid-label">{{localize "SCENES.GridUnits"}}</label>
                <input type="text" name="gridUnits" placeholder="{{localize "None"}}" value="{{data.gridUnits}}"/>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "SCENES.GridColor"}}</label>
            <div class="form-fields">
                <input type="text" name="gridColor" value="{{data.gridColor}}"/>
                <input type="color" value="{{data.gridColor}}" data-edit="gridColor"/>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "SCENES.GridOpacity"}}</label>
            <div class="form-fields">
                <input type="range" name="gridAlpha" value="{{data.gridAlpha}}" min="0" max="1" step="0.05"/>
                <span class="range-value">{{data.gridAlpha}}</span>
            </div>
        </div>
    </div>

    <!-- Lighting and Vision -->
    <div class="tab" data-tab="lighting">
        <div class="form-group">
            <label>{{localize "SCENES.TokenVision"}}</label>
            <input type="checkbox" name="tokenVision" {{checked data.tokenVision}}/>
            <p class="notes">{{localize "SCENES.TokenVisionHint"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "SCENES.FogExplore"}}</label>
            <input type="checkbox" name="fogExploration" {{checked data.fogExploration}}/>
            <p class="notes">{{localize "SCENES.FogExploreHint"}}</p>
        </div>
        <hr>

        <div class="form-group">
            <label>{{localize "SCENES.GlobalIllum"}}</label>
            <input type="checkbox" name="globalLight" {{checked data.globalLight}}/>
            <p class="notes">{{localize "SCENES.GlobalIllumHint"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "SCENES.Darkness"}}</label>
            <div class="form-fields">
                <input type="range" name="darkness" value="{{data.darkness}}" min="0" max="1" step="0.05"/>
                <span class="range-value">{{data.darkness}}</span>
            </div>
            <p class="notes">{{localize "SCENES.DarknessHint"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "SCENES.GlobalLightThreshold"}}</label>
            <div class="form-fields">
                <label class="checkbox">
                   <input type="checkbox" name="hasGlobalThreshold" {{ checked hasGlobalThreshold }}/>
                </label>
                <input type="range" name="globalLightThreshold" value="{{data.globalLightThreshold}}" min="0" max="1" step="0.05"/>
                <span class="range-value">{{data.globalLightThreshold}}</span>
            </div>
            <p class="notes">{{localize "SCENES.GlobalLightThresholdHint"}}</p>
        </div>
    </div>

    <!-- Ambience and Atmosphere -->
    <div class="tab" data-tab="ambience">
        <div class="form-group">
            <label>{{localize "SCENES.JournalEntry"}}</label>
            <select name="journal">
                {{ selectOptions journals selected=data.journal blank="" nameAttr="id" labelAttr="name"}}
            </select>
            <p class="notes">{{localize "SCENES.JournalEntryHint"}}</p>
        </div>
        <hr>

        <div class="form-group">
            <label>{{localize "SCENES.AudioPlaylist"}}</label>
            <select name="playlist">
                {{ selectOptions playlists selected=data.playlist blank="" nameAttr="id" labelAttr="name"}}
            </select>
            <p class="notes">{{localize "SCENES.AudioPlaylistHint"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "SCENES.PlaylistSound"}}</label>
            <select name="playlistSound">
                {{ selectOptions sounds selected=data.playlistSound blank="" nameAttr="id" labelAttr="name"}}
            </select>
            <p class="notes">{{localize "SCENES.PlaylistSoundHint"}}</p>
        </div>
        <hr>

        <div class="form-group">
            <label>{{localize "SCENES.WeatherEffect"}}</label>
            <select name="weather">
                {{ selectOptions weatherTypes selected=data.weather blank="" }}
            </select>
            <p class="notes">{{localize "SCENES.WeatherEffectHint"}}</p>
        </div>
    </div>

    <!-- Form Submission -->
    <button type="submit" name="submit">
        <i class="far fa-save"></i> {{localize "Save Changes"}}
    </button>
</form>
