<form autocomplete="off">
    <div class="form-group">
        <label>{{ localize "DOCUMENT.JournalEntry" }}</label>
        <div class="form-fields">
            <select name="entryId">
                {{selectOptions entries selected=data.entryId nameAttr="id" labelAttr="name" blank=""}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>{{ localize "NOTE.TextLabel" }}</label>
        <div class="form-fields">
            <input type="text" name="text" value="{{data.text}}" placeholder="{{entry.name}}"/>
        </div>
    </div>

    <div class="form-group">
        <label>{{ localize "XCoord" }}</label>
        <div class="form-fields">
            <input type="text" name="x" placeholder="X" value="{{numberFormat data.x decimals=2}}" data-dtype="Number"/>
        </div>
    </div>

    <div class="form-group">
        <label>{{ localize "YCoord" }}</label>
        <div class="form-fields">
            <input type="text" name="y" placeholder="Y" value="{{numberFormat data.y decimals=2}}" data-dtype="Number"/>
        </div>
    </div>

    <div class="form-group">
        <label>{{ localize "NOTE.EntryIcon" }}</label>
        <div class="form-fields">
            <select name="icon">
                {{selectOptions icons selected=data.icon inverted=true}}
             </select>
        </div>
    </div>

    <div class="form-group">
        <label>{{ localize "NOTE.IconSize" }} <span class="units">({{localize "Pixels"}})</span></label>
        <div class="form-fields">
            <input type="text" name="iconSize" value="{{data.iconSize}}" data-dtype="Number"/>
        </div>
    </div>

    <div class="form-group">
        <label>{{ localize "NOTE.IconTint" }}</label>
        <div class="form-fields">
            <input class="color" type="text" name="iconTint" value="{{data.iconTint}}"/>
            <input type="color" value="{{data.iconTint}}" data-edit="iconTint"/>
        </div>
    </div>

    <div class="form-group">
        <label for="fontFamily">{{ localize "NOTE.FontFamily" }}</label>
        <div class="form-fields">
            <select name="fontFamily">
                {{selectOptions fontFamilies selected=data.fontFamily}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>{{ localize "NOTE.FontSize" }}</label>
        <div class="form-fields">
            <input type="text" name="fontSize" value="{{data.fontSize}}" data-dtype="Number"/>
        </div>
    </div>

    <div class="form-group">
        <label for="textColor">{{ localize "NOTE.TextColor" }}</label>
        <div class="form-fields">
            <input class="color" type="text" name="textColor" value="{{data.textColor}}"/>
            <input type="color" value="{{data.textColor}}" data-edit="textColor"/>
        </div>
    </div>

    <div class="form-group">
        <label>{{ localize "NOTE.AnchorPoint" }}</label>
        <div class="form-fields">
            <select name="textAnchor" data-dtype="Number">
                {{selectOptions textAnchors selected=data.textAnchor}}
            </select>
        </div>
    </div>

    <button type="submit" name="submit">
        <i class="far fa-save"></i> {{ submitText }}
    </button>
</form>
