{{cprTrace "CPR-VERIFY-ROLL-AIMED-ATTACK-PROMPT.HBS"}}
<form>
    <div>
        {{localize "CPR.rolls.rollingFor"}} {{localize "CPR.rolls.aimedShot"}} {{localize "CPR.global.generic.with"}} "{{rollTitle}}", Choomba!
    </div>

    <ol class="items-list">
        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.global.generic.stat"}} {{localize "CPR.global.generic.value"}} ({{localize statName}}):
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="statValue" class="" type="number" data-dtype="Number" value={{statValue}}>
            </div>
        </li>

        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.global.itemTypes.skill"}} {{localize "CPR.global.generic.value"}} ({{localize skillName}}):
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="skillValue" class="" type="number" data-dtype="Number" value={{skillValue}}>
            </div>
        </li>

        {{#if roleValue}}
        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.global.generic.role"}} {{localize "CPR.global.generic.value"}} ({{localize roleName}})
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="roleValue" class="" type="number" data-dtype="Number" value={{roleValue}}>
            </div>
        </li>
        {{/if}}

        {{#if universalBonusAttack}}
        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.universalBonuses.attack"}}:
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="universalBonusAttack" class="" type="number" data-dtype="Number" value={{universalBonusAttack}}>
            </div>
        </li>
        {{/if}}


        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.rolls.mods"}}:
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="mods" class="" type="text" data-dtype="String" value="{{mods}}">
            </div>
        </li>

        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.rolls.shouldRollCriticals"}}:
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="calculateCritical" class="" type="checkbox" data-dtype="Checkbox" checked>
            </div>
        </li>

        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.rolls.aimFor"}}:
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <select name="location">
                    {{#each (cprFindConfigObj "aimedLocation") as |location l|}}
                    <option value="{{l}}">{{localize location}}</option>
                    {{/each}}
                </select>
            </div>
        </li>

    </ol>
</form>
{{cprTrace "END CPR-VERIFY-ROLL-AIMED-ATTACK-PROMPT.HBS"}}
