{{cprTrace "CPR-LIFEPATH.HBS"}}
<div class="lifepath-tab">
    <div class="notes-section">
        <div class="notes-details">
            <div class="text-large text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.playerNotes"}}</div>
            <div class="note-pad">
            {{editor content=data.data.information.notes target="data.information.notes" button=true owner=owner editable=editable}}
            </div>
        </div>
    </div>
    <div class="lifepath-section">
        <div class="cultural-origins">
            <div class="lifepath-label text-large text-underline text-bold">
                {{localize "CPR.characterSheet.bottomPane.lifepath.culturalOrigins"}}
                <span class="text-float-right"><a class="set-lifepath" data-item-prop="set-lifepath"><i
                            class="text-smaller text-super fas fa-wrench"></i></a></span>
            </div>
            <div class="lifepath-value">{{data.data.lifepath.culturalOrigin}}</div>
        </div>
        <br>
        <div class="personality">
            <div class="lifepath-label text-large text-underline text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.personality"}}</div>
            <div class="lifepath-value">{{data.data.lifepath.personality}}</div>
        </div>
        <br>
        <div class="clothing-style">
            <div class="lifepath-label text-large text-underline text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.clothingStyle"}}</div>
            <div class="lifepath-value">{{data.data.lifepath.clothingStyle}}</div>
        </div>
        <br>
        <div class="hairstyle">
            <div class="lifepath-label text-large text-underline text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.hairStyle"}}</div>
            <div class="lifepath-value">{{data.data.lifepath.hairStyle}}</div>
        </div>
        <br>
        <div class="value-most">
            <div class="lifepath-label text-large text-underline text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.valueMost"}}</div>
            <div class="lifepath-value">{{data.data.lifepath.valueMost}}</div>
        </div>
        <br>
        <div class="people-feelings">
            <div class="lifepath-label text-large text-underline text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.peopleFeelings"}}</div>
            <div class="lifepath-value">{{data.data.lifepath.aboutPeople}}</div>
        </div>
        <br>
        <div class="valued-person">
            <div class="lifepath-label text-large text-underline text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.valuedPerson"}}</div>
            <div class="lifepath-value">{{data.data.lifepath.valuedPerson}}</div>
        </div>
        <br>
        <div class="valued-possession">
            <div class="lifepath-label text-large text-underline text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.valuedPossession"}}</div>
            <div class="lifepath-value">{{data.data.lifepath.valuedPossession}}</div>
        </div>
        <br>
        <div class="family-background">
            <div class="lifepath-label text-large text-underline text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.familyBackground"}}</div>
            <div class="lifepath-value">{{data.data.lifepath.familyBackground}}</div>
        </div>
        <br>
        <div class="child-environment">
            <div class="lifepath-label text-large text-underline text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.childhoodEnvironment"}}
            </div>
            <div class="lifepath-value">{{data.data.lifepath.childhoodEnvironment}}</div>
        </div>
        <br>
        <div class="life-goals">
            <div class="lifepath-label text-large text-underline text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.lifeGoals"}}</div>
            <div class="lifepath-value">{{data.data.lifepath.lifeGoals}}</div>
        </div>
        <br>
        <div class="family-crisis">
            <div class="lifepath-label text-large text-underline text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.familyCrisis"}}</div>
            <div class="lifepath-value">{{data.data.lifepath.familyCrisis}}</div>
        </div>
    </div>
</div>
{{cprTrace "END CPR-LIFEPATH.HBS"}}
