{{cprTrace "CPR-FIGHT.HBS"}}
<div class="fight-tab">
    {{#if (cprCompare fightState "===" "Meatspace")}}
    <div class="injuries-section">
        <li class="items-header flexrow">
            <span class="item-name section-name fg-white bg-black text-nowrap text-padding-left">
                {{localize "CPR.characterSheet.bottomPane.fight.criticalInjuries"}}
                <span class="item-detail gear-actions bg-black text-nowrap text-float-right text-padding-right"><a class="roll-critical-injury" title="{{localize "CPR.characterSheet.bottomPane.fight.criticalInjuryRoll"}}" data-item-type="criticalInjury"><i class="fas fa-dice text-padding-right"></i></a></span>
                <span class="item-detail gear-actions bg-black text-nowrap text-float-right text-padding-right">{{#if (cprSystemConfig "playersCreateInventory")}}<a class="item-create" title="{{localize "CPR.actorSheets.commonActions.createNewItem"}}" data-item-type="criticalInjury"><i class="fas fa-plus-circle text-padding-right"></i></a>{{/if}}</span>
            </span>
        </li>
        <div class="critical-injury-content">
            {{!-- Critical Injury as Item --}}
            <ol class="items-list critical-injury-list">
              {{#each (cprSort actor.data.filteredItems.criticalInjury "name") as |criticalInjury| }}
              <li class="flex-space-between item flexrow" data-item-id="{{criticalInjury.id}}" data-item-category="{{criticalInjury.type}}" draggable="true">
                <div><a class="name item-edit text-nowrap {{#if criticalInjury.data.data.deathSaveIncrease}}text-bold{{/if}}" title="{{criticalInjury.name}}&#13{{localize "CPR.characterSheet.bottomPane.fight.clickToViewTheItem"}}&#13{{localize "CPR.characterSheet.bottomPane.fight.controlClickToSendToChat"}}">{{criticalInjury.name}} {{#if (cprCompare criticalInjury.data.data.location "===" "body")}}<i class="fas fa-user-injured text-padding-left"></i>{{/if}}{{#if (cprCompare criticalInjury.data.data.location "===" "head")}}<i class="fas fa-tired text-padding-left"></i>{{/if}}</a></div>
                <div class="item-detail gear-actions text-nowrap">
                  <a class="item-action" data-action-type="delete"><i class="fas fa-trash-alt fg-red text-float-right text-padding-right" title="Delete Item"></i></a>
                </div>
              </li>
              {{/each}}
            </ol>
        </div>
    </div>
    <div class="armor-section">
        <li class="items-header flexrow">
            <span class="item-name section-name fg-white bg-black text-nowrap text-padding-left">
                {{localize "CPR.global.itemTypes.armor"}}
            </span>
        </li>
        <div class="armor-content">
            <ol class="items-list fight-armor-list">
                {{#each (cprSort actor.data.filteredItems.armor "name") as |armor| }}
                {{cprTrace armor}}
                {{#if (cprCompare armor.data.data.equipped "===" "equipped")}}
                <li class="item armor-piece" >
                    <li class="flex-space-between item flexrow" data-item-id="{{armor.id}}" >
                        <div class="item-name armor-name text-nowrap"><a class="name item-edit">{{armor.name}}</a>
                        </div>

                    </li>
                    {{#if armor.data.data.isHeadLocation}}
                    <li class="flex-space-between">
                        <div class="text-padding-left">{{localize "CPR.global.location.head"}}</div>
                        <div>
                            {{#if (cprCompare armor.data.data.headLocation.ablation ">" 0)}}
                                <span class="fg-red">
                            {{/if}}
                            {{cprMath "subtract" (cprApplyUpgrade armor armor.data.data.headLocation.sp "headSp") armor.data.data.headLocation.ablation}}
                            {{#if (cprCompare armor.data.data.headLocation.ablation ">" 0)}}
                                </span>
                            {{/if}}
                            /{{cprApplyUpgrade armor armor.data.data.headLocation.sp "headSp"}}
                            <a class="ablate" data-location="head">
                                <i class="far fa-arrow-alt-circle-down" title="{{localize "CPR.characterSheet.bottomPane.fight.ablateArmor"}}"></i>
                            </a>
                            {{#if (cprCompare armor.id "===" ../actor.data.data.externalData.currentArmorHead.id)}}
                                <a class="armor-current" data-location="head" data-item-id="{{armor.id}}">
                                    <i class="fas fa-star" title="{{localize "CPR.actorSheets.commonActions.resyncHeadArmor"}}"></i>
                                </a>
                            {{else}}
                                <a class="armor-current" data-location="head" data-item-id="{{armor.id}}">
                                    <i class="far fa-star" title="{{localize "CPR.actorSheets.commonActions.makeHeadArmorActive"}}"></i>
                                </a>
                            {{/if}}
                        </div>
                    </li>
                    {{/if}}
                    {{#if armor.data.data.isBodyLocation}}
                    <li class="flex-space-between">
                        <div> {{localize "CPR.global.location.body"}}</div>
                        <div>
                            {{#if (cprCompare armor.data.data.bodyLocation.ablation ">" 0)}}
                                <span class="fg-red">
                            {{/if}}
                                {{cprMath "subtract" (cprApplyUpgrade armor armor.data.data.bodyLocation.sp "bodySp") armor.data.data.bodyLocation.ablation}}
                            {{#if (cprCompare armor.data.data.bodyLocation.ablation ">" 0)}}
                                </span>
                            {{/if}}
                            /{{cprApplyUpgrade armor armor.data.data.bodyLocation.sp "bodySp"}}
                            <a class="ablate" data-location="body">
                                <i class="far fa-arrow-alt-circle-down" title="{{localize "CPR.characterSheet.bottomPane.fight.ablateArmor"}}"></i>
                            </a>
                            {{#if (cprCompare armor.id "===" ../actor.data.data.externalData.currentArmorBody.id)}}
                                <a class="armor-current" data-location="body" data-item-id="{{armor.id}}">
                                    <i class="fas fa-star" title="{{localize "CPR.actorSheets.commonActions.resyncBodyArmor"}}"></i>
                                </a>
                            {{else}}
                                <a class="armor-current" data-location="body" data-item-id="{{armor.id}}">
                                    <i class="far fa-star" title="{{localize "CPR.actorSheets.commonActions.makeBodyArmorActive"}}"></i>
                                </a>
                            {{/if}}
                        </div>
                    </li>
                    {{/if}}
                    {{#if armor.data.data.isShield}}
                    <li class="flex-space-between">
                        <div> {{localize "CPR.global.generic.shield"}}</div>
                        <div>
                            {{#if (cprCompare armor.data.data.shieldHitPoints.value "<" armor.data.data.shieldHitPoints.max)}}
                                <span class="fg-red">
                            {{/if}}
                                {{armor.data.data.shieldHitPoints.value}}
                            {{#if (cprCompare armor.data.data.shieldHitPoints.value "<" armor.data.data.shieldHitPoints.max)}}
                                </span>
                            {{/if}}
                            /{{cprApplyUpgrade armor armor.data.data.shieldHitPoints.max "shieldHp"}}
                            <a class="ablate" data-location="shield">
                                <i class="far fa-arrow-alt-circle-down" title="{{localize "CPR.characterSheet.bottomPane.fight.damageShield"}}"></i>
                            </a>
                            {{#if (cprCompare armor.id "===" ../actor.data.data.externalData.currentArmorShield.id)}}
                                <a class="armor-current" data-location="shield" data-item-id="{{armor.id}}">
                                    <i class="fas fa-star" title="{{localize "CPR.actorSheets.commonActions.resyncShield"}}"></i>
                                </a>
                            {{else}}
                                <a class="armor-current" data-location="shield" data-item-id="{{armor.id}}">
                                    <i class="far fa-star" title="{{localize "CPR.actorSheets.commonActions.makeShieldActive"}}"></i>
                                </a>
                            {{/if}}
                        </div>
                    </li>
                    {{/if}}
                    </li>
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>
    <div class="weapon-section">
        <li class="items-header flexrow">
            <span class="item-name section-name fg-white bg-black text-nowrap text-padding-left">
                {{localize "CPR.characterSheet.bottomPane.fight.weapons"}}
            </span>
        </li>
        <div class="weapon-content">
            <ol class="items-list weapons-grid">
                {{#each (cprSort actor.data.filteredItems.weapon "name") as |weapon|}}
                    {{#if (cprCompare weapon.data.data.equipped "===" "equipped")}}
                        <li class="weapon-grid item flexrow" data-item-id="{{weapon.id}}">
                            <div class="fight-weapon-icon">
                                <img class="fight-weapon-icon-img" src="{{img}}"/>
                            </div>
                            <div class="fight-weapon">
                                <div class="item-name fight-weapon-name">
                                    <a class="name item-edit" title="{{weapon.name}}&#13{{localize "CPR.characterSheet.bottomPane.fight.clickToViewTheItem"}}&#13{{localize "CPR.characterSheet.bottomPane.fight.controlClickToSendToChat"}}">{{weapon.name}}</a>
                                    {{#if (cprCompare weapon.data.data.quality "!==" "standard")}}
                                    ({{localize weapon.data.data.quality}})
                                    {{/if}}
                                    {{#if (cprCompare (cprApplyUpgrade weapon weapon.data.data.attackmod "attackmod") ">" "0")}}(+{{cprApplyUpgrade weapon weapon.data.data.attackmod "attackmod"}}){{/if}}
                                    {{#if (cprCompare (cprApplyUpgrade weapon weapon.data.data.attackmod "attackmod") "<" "0")}}({{cprApplyUpgrade weapon weapon.data.data.attackmod "attackmod"}}){{/if}}
                                    {{#if weapon.data.data.magazine.ammoId}}
                                        <br>
                                        ({{localize "CPR.global.itemTypes.ammo"}}:<input name = "data.magazine.value" class = "number weapon-input" style = "width:30px;text-align:right;" type = "text" data-item-prop = "data.magazine.value" value = "{{weapon.data.data.magazine.value}}">/{{cprApplyUpgrade weapon weapon.data.data.magazine.max "magazine"}})
                                    {{/if}}
                                </div>
                                <div class="fight-weapon-actions text-nowrap">
                                    {{#if weapon.data.data.isRanged}}
                                    {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-reload-glyph.hbs"}}
                                    {{>"systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-dv-glyph.hbs"}}
                                    {{/if}}
                                </div>
                            </div>
                            <div class="fight-weapon-firetype">
                                <div class="fight-weapon-aim">
                                    {{localize "CPR.actorSheets.fireModes.aim"}}
                                </div>
                                <div class="fight-weapon-aim-box">
                                    <a class="fire-checkbox" data-fire-mode="aimed" data-item-id="{{weapon.id}}">
                                        {{#if (cprFireMode ../actor "aimed" weapon.id)}}
                                            <i class="far fa-check-circle"></i>
                                        {{else}}
                                            <i class="far fa-circle"></i>
                                        {{/if}}
                                    </a>
                                </div>
                                {{#if weapon.data.data.isRanged}}
                                    {{#if (cprCompare (cprListContains "assaultRifle,smg,heavySmg" weapon.data.data.weaponType) "||" weapon.data.data.fireModes.suppressiveFire)}}
                                    <div class="fight-weapon-auto">
                                        {{localize "CPR.actorSheets.fireModes.autoFire"}}
                                    </div>
                                    <div class="fight-weapon-suppress">
                                        {{localize "CPR.actorSheets.fireModes.suppressiveFireShort"}}
                                    </div>
                                    <div class="fight-weapon-auto-box">
                                        <a class="fire-checkbox" data-fire-mode="autofire" data-item-id="{{weapon.id}}">
                                            {{#if (cprFireMode ../actor "autofire" weapon.id)}}
                                                <i class="far fa-check-circle"></i>
                                            {{else}}
                                                <i class="far fa-circle"></i>
                                            {{/if}}
                                        </a>
                                    </div>
                                    <div class="fight-weapon-suppress-box">
                                        <a class="fire-checkbox" data-fire-mode="suppressive" data-item-id="{{weapon.id}}">
                                            {{#if (cprFireMode ../actor "suppressive" weapon.id)}}
                                                <i class="far fa-check-circle"></i>
                                            {{else}}
                                                <i class="far fa-circle"></i>
                                            {{/if}}
                                        </a>
                                    </div>
                                    {{/if}}
                                {{/if}}
                            </div>
                            <div class="item-detail text-largest fight-weapon-attack text-nowrap">
                                <a class="rollable" data-roll-type="attack" data-item-id={{weapon.id}}>
                                    <i class="fas fa-fist-raised red-fg" title="{{localize "CPR.characterSheet.bottomPane.fight.rollAnAttack"}}"></i>
                                </a>
                                {{#if (cprCompare (cprFireFlag ../actor "suppressive" weapon.id) "!==" "checked")}}
                                <a class="rollable damage-roll-{{weapon.id}}" data-roll-type="damage" data-item-id={{weapon.id}} data-damage="{{weapon.data.data.damage}}">
                                    <i class="fas fa-tint red-fg" title="{{localize "CPR.actorSheets.commonActions.rollDamage"}}"></i>
                                </a>
                                {{/if}}
                            </div>
                        </li>
                        {{#if weapon.data.data.isUpgraded}}
                            {{#each weapon.data.data.upgrades as |upgrade|}}
                                {{#if (cprCompare upgrade.data.modifiers.secondaryWeapon.configured "===" "true")}}
                                    {{#each (cprFilter ../actor.data.filteredItems.itemUpgrade "data._id" upgrade._id) as |weapon|}}
                                    <li class="weapon-grid item flexrow" data-item-id="{{weapon.id}}">
                                        <div class="fight-weapon-icon">
                                            <img class="fight-weapon-icon-img" src="{{img}}"/>
                                        </div>
                                        <div class="fight-weapon">
                                            <div class="item-name fight-weapon-name">
                                                <a class="name item-view" title="{{weapon.name}}&#13{{localize "CPR.characterSheet.bottomPane.fight.clickToViewTheItem"}}&#13{{localize "CPR.characterSheet.bottomPane.fight.controlClickToSendToChat"}}">{{../../this.name}} {{localize "CPR.characterSheet.bottomPane.fight.attachment"}}: {{weapon.name}}</a>
                                                {{#if (cprCompare weapon.data.data.quality "!==" "standard")}}
                                                    ({{localize weapon.data.data.quality}})
                                                {{/if}}
                                                {{#if (cprCompare weapon.data.data.attackmod ">" "0")}}(+{{weapon.data.data.attackmod}}){{/if}}
                                                {{#if (cprCompare weapon.data.data.attackmod "<" "0")}}({{weapon.data.data.attackmod}}){{/if}}
                                                {{#if weapon.data.data.magazine.ammoId}}
                                                    <br>
                                                    ({{localize "CPR.global.itemTypes.ammo"}}:<input name = "data.magazine.value" class = "number weapon-input" style = "width:30px;text-align:right;" type = "text" data-item-prop = "data.magazine.value" value = "{{weapon.data.data.magazine.value}}">/{{cprApplyUpgrade weapon weapon.data.data.magazine.max "magazine"}})
                                                {{/if}}
                                            </div>
                                            <div class="fight-weapon-actions text-nowrap">
                                                {{#if weapon.data.data.isRanged}}
                                                    {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-reload-glyph.hbs"}}
                                                    {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-dv-glyph.hbs"}}
                                                {{/if}}
                                            </div>
                                        </div>
                                        <div class="fight-weapon-firetype">
                                            <div class="fight-weapon-aim">
                                                {{localize "CPR.actorSheets.fireModes.aim"}}
                                            </div>
                                            <div class="fight-weapon-aim-box">
                                                <a class="fire-checkbox" data-fire-mode="aimed" data-item-id="{{weapon.id}}">
                                                    {{#if (cprFireMode ../actor "aimed" weapon.id)}}
                                                        <i class="far fa-check-circle"></i>
                                                    {{else}}
                                                        <i class="far fa-circle"></i>
                                                    {{/if}}
                                                </a>
                                            </div>
                                            {{#if weapon.data.data.isRanged}}
                                                {{#if (cprCompare (cprListContains "assaultRifle,smg,heavySmg" weapon.data.data.weaponType) "||" weapon.data.data.fireModes.suppressiveFire)}}
                                                <div class="fight-weapon-auto">
                                                    {{localize "CPR.actorSheets.fireModes.autoFire"}}
                                                </div>
                                                <div class="fight-weapon-suppress">
                                                    {{localize "CPR.actorSheets.fireModes.suppressiveFireShort"}}
                                                </div>
                                                <div class="fight-weapon-auto-box">
                                                    <a class="fire-checkbox" data-fire-mode="autofire" data-item-id="{{weapon.id}}">
                                                        {{#if (cprFireMode ../actor "autofire" weapon.id)}}
                                                            <i class="far fa-check-circle"></i>
                                                        {{else}}
                                                            <i class="far fa-circle"></i>
                                                        {{/if}}
                                                    </a>
                                                </div>
                                                <div class="fight-weapon-suppress-box">
                                                    <a class="fire-checkbox" data-fire-mode="suppressive" data-item-id="{{weapon.id}}">
                                                        {{#if (cprFireMode ../actor "suppressive" weapon.id)}}
                                                            <i class="far fa-check-circle"></i>
                                                        {{else}}
                                                            <i class="far fa-circle"></i>
                                                        {{/if}}
                                                    </a>
                                                </div>
                                                {{/if}}
                                            {{/if}}
                                        </div>
                                        <div class="item-detail text-largest fight-weapon-attack text-nowrap">
                                            <a class="rollable" data-roll-type="attack" data-item-id={{weapon.id}}>
                                                <i class="fas fa-fist-raised red-fg" title="{{localize "CPR.characterSheet.bottomPane.fight.rollAnAttack"}}"></i>
                                            </a>
                                            {{#if (cprCompare (cprFireFlag ../actor "suppressive" weapon.id) "!==" "checked")}}
                                            <a class="rollable damage-roll-{{weapon.id}}" data-roll-type="damage" data-item-id={{weapon.id}} data-damage="{{weapon.data.data.damage}}">
                                                <i class="fas fa-tint red-fg" title="{{localize "CPR.actorSheets.commonActions.rollDamage"}}"></i>
                                            </a>
                                            {{/if}}
                                        </div>
                                    </li>
                                    {{/each}}
                                {{/if}}
                            {{/each}}
                        {{/if}}
                    {{/if}}
                {{/each}}
                {{#if (cprHasCyberneticWeapons actor)}}
                    <li class="items-header flexrow">
                        <span class="item-name section-name fg-white bg-black text-nowrap text-padding-left">
                            {{localize "CPR.characterSheet.bottomPane.fight.cyberwareWeapons"}}
                        </span>
                    </li>
                {{#each (cprSort (cprFilter actor.data.filteredItems.cyberware "data.data.isInstalled" true) "name") as |weapon|}}
                {{#if (cprCompare data.data.isWeapon "===" "true")}}
                        <li class="weapon-grid item flexrow" data-item-id="{{weapon.id}}">
                            <div class="fight-weapon-icon">
                                <img class="fight-weapon-icon-img" src="{{img}}"/>
                            </div>
                            <div class="fight-weapon">
                                <div class="item-name fight-weapon-name">
                                    <a class="name item-edit" title="{{weapon.name}}&#13{{localize "CPR.characterSheet.bottomPane.fight.clickToViewTheItem"}}&#13{{localize "CPR.characterSheet.bottomPane.fight.controlClickToSendToChat"}}">{{weapon.name}}</a>
                                    {{#if (cprCompare weapon.data.data.quality "!==" "standard")}}
                                    ({{localize weapon.data.data.quality}})
                                    {{/if}}
                                    {{#if (cprCompare weapon.data.data.attackmod ">" "0")}}(+{{weapon.data.data.attackmod}}){{/if}}
                                    {{#if (cprCompare weapon.data.data.attackmod "<" "0")}}({{weapon.data.data.attackmod}}){{/if}}
                                    {{#if weapon.data.data.magazine.ammoId}}
                                        <br>
                                        ({{localize "CPR.global.itemTypes.ammo"}}:<input name = "data.magazine.value" class = "number weapon-input" style = "width:30px;text-align:right;" type = "text" data-item-prop = "data.magazine.value" value = "{{weapon.data.data.magazine.value}}">/{{cprApplyUpgrade weapon weapon.data.data.magazine.max "magazine"}})
                                    {{/if}}
                                </div>
                                <div class="fight-weapon-actions text-nowrap">
                                    {{#if weapon.data.data.isRanged}}
                                    {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-reload-glyph.hbs"}}
                                    {{>"systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-dv-glyph.hbs"}}
                                    {{/if}}
                                </div>
                            </div>
                            <div class="fight-weapon-firetype">
                                <div class="fight-weapon-aim">
                                    {{localize "CPR.actorSheets.fireModes.aim"}}
                                </div>
                                <div class="fight-weapon-aim-box">
                                    <a class="fire-checkbox" data-fire-mode="aimed" data-item-id="{{weapon.id}}">
                                        {{#if (cprFireMode ../actor "aimed" weapon.id)}}
                                            <i class="far fa-check-circle"></i>
                                        {{else}}
                                            <i class="far fa-circle"></i>
                                        {{/if}}
                                    </a>
                                </div>
                                {{#if weapon.data.data.isRanged}}
                                    {{#if (cprCompare (cprListContains "assaultRifle,smg,heavySmg" weapon.data.data.weaponType) "||" weapon.data.data.fireModes.suppressiveFire)}}
                                    <div class="fight-weapon-auto">
                                        {{localize "CPR.actorSheets.fireModes.autoFire"}}
                                    </div>
                                    <div class="fight-weapon-suppress">
                                        {{localize "CPR.actorSheets.fireModes.suppressiveFireShort"}}
                                    </div>
                                    <div class="fight-weapon-auto-box">
                                        <a class="fire-checkbox" data-fire-mode="autofire" data-item-id="{{weapon.id}}">
                                            {{#if (cprFireMode ../actor "autofire" weapon.id)}}
                                                <i class="far fa-check-circle"></i>
                                            {{else}}
                                                <i class="far fa-circle"></i>
                                            {{/if}}
                                        </a>
                                    </div>
                                    <div class="fight-weapon-suppress-box">
                                        <a class="fire-checkbox" data-fire-mode="suppressive" data-item-id="{{weapon.id}}">
                                            {{#if (cprFireMode ../actor "suppressive" weapon.id)}}
                                                <i class="far fa-check-circle"></i>
                                            {{else}}
                                                <i class="far fa-circle"></i>
                                            {{/if}}
                                        </a>
                                    </div>
                                    {{/if}}
                                {{/if}}
                            </div>
                            <div class="item-detail text-largest fight-weapon-attack text-nowrap">
                                <a class="rollable" data-roll-type="attack" data-item-id={{weapon.id}}>
                                    <i class="fas fa-fist-raised red-fg" title="{{localize "CPR.characterSheet.bottomPane.fight.rollAnAttack"}}"></i>
                                </a>
                                {{#if (cprCompare (cprFireFlag ../actor "suppressive" weapon.id) "!==" "checked")}}
                                <a class="rollable damage-roll-{{weapon.id}}" data-roll-type="damage" data-item-id={{weapon.id}} data-damage="{{weapon.data.data.damage}}">
                                    <i class="fas fa-tint red-fg" title="{{localize "CPR.actorSheets.commonActions.rollDamage"}}"></i>
                                </a>
                                {{/if}}
                            </div>
                        </li>
                                            {{#if weapon.data.data.isUpgraded}}
                            {{#each weapon.data.data.upgrades as |upgrade|}}
                                {{#if (cprCompare upgrade.data.modifiers.secondaryWeapon.configured "===" "true")}}
                                    {{#each (cprFilter ../actor.data.filteredItems.itemUpgrade "data._id" upgrade._id) as |weapon|}}
                                    <li class="weapon-grid item flexrow" data-item-id="{{weapon.id}}">
                                        <div class="fight-weapon-icon">
                                            <img class="fight-weapon-icon-img" src="{{img}}"/>
                                        </div>
                                        <div class="fight-weapon">
                                            <div class="item-name fight-weapon-name">
                                                <a class="name item-view" title="{{weapon.name}}&#13{{localize "CPR.characterSheet.bottomPane.fight.clickToViewTheItem"}}&#13{{localize "CPR.characterSheet.bottomPane.fight.controlClickToSendToChat"}}">{{../../this.name}} {{localize "CPR.characterSheet.bottomPane.fight.attachment"}}: {{weapon.name}}</a>
                                                {{#if (cprCompare weapon.data.data.quality "!==" "standard")}}
                                                    ({{localize weapon.data.data.quality}})
                                                {{/if}}
                                                {{#if (cprCompare weapon.data.data.attackmod ">" "0")}}(+{{weapon.data.data.attackmod}}){{/if}}
                                                {{#if (cprCompare weapon.data.data.attackmod "<" "0")}}({{weapon.data.data.attackmod}}){{/if}}
                                                {{#if weapon.data.data.magazine.ammoId}}
                                                    <br>
                                                    ({{localize "CPR.global.itemTypes.ammo"}}:<input name = "data.magazine.value" class = "number weapon-input" style = "width:30px;text-align:right;" type = "text" data-item-prop = "data.magazine.value" value = "{{weapon.data.data.magazine.value}}">/{{weapon.data.data.magazine.max}})
                                                {{/if}}
                                            </div>
                                            <div class="fight-weapon-actions text-nowrap">
                                                {{#if weapon.data.data.isRanged}}
                                                    {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-reload-glyph.hbs"}}
                                                    {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-dv-glyph.hbs"}}
                                                {{/if}}
                                            </div>
                                        </div>
                                        <div class="fight-weapon-firetype">
                                            <div class="fight-weapon-aim">
                                                {{localize "CPR.actorSheets.fireModes.aim"}}
                                            </div>
                                            <div class="fight-weapon-aim-box">
                                                <a class="fire-checkbox" data-fire-mode="aimed" data-item-id="{{weapon.id}}">
                                                    {{#if (cprFireMode ../actor "aimed" weapon.id)}}
                                                        <i class="far fa-check-circle"></i>
                                                    {{else}}
                                                        <i class="far fa-circle"></i>
                                                    {{/if}}
                                                </a>
                                            </div>
                                            {{#if weapon.data.data.isRanged}}
                                                {{#if (cprCompare (cprListContains "assaultRifle,smg,heavySmg" weapon.data.data.weaponType) "||" weapon.data.data.fireModes.suppressiveFire)}}
                                                <div class="fight-weapon-auto">
                                                    {{localize "CPR.actorSheets.fireModes.autoFire"}}
                                                </div>
                                                <div class="fight-weapon-suppress">
                                                    {{localize "CPR.actorSheets.fireModes.suppressiveFireShort"}}
                                                </div>
                                                <div class="fight-weapon-auto-box">
                                                    <a class="fire-checkbox" data-fire-mode="autofire" data-item-id="{{weapon.id}}">
                                                        {{#if (cprFireMode ../actor "autofire" weapon.id)}}
                                                            <i class="far fa-check-circle"></i>
                                                        {{else}}
                                                            <i class="far fa-circle"></i>
                                                        {{/if}}
                                                    </a>
                                                </div>
                                                <div class="fight-weapon-suppress-box">
                                                    <a class="fire-checkbox" data-fire-mode="suppressive" data-item-id="{{weapon.id}}">
                                                        {{#if (cprFireMode ../actor "suppressive" weapon.id)}}
                                                            <i class="far fa-check-circle"></i>
                                                        {{else}}
                                                            <i class="far fa-circle"></i>
                                                        {{/if}}
                                                    </a>
                                                </div>
                                                {{/if}}
                                            {{/if}}
                                        </div>
                                        <div class="item-detail text-largest fight-weapon-attack text-nowrap">
                                            <a class="rollable" data-roll-type="attack" data-item-id={{weapon.id}}>
                                                <i class="fas fa-fist-raised red-fg" title="{{localize "CPR.characterSheet.bottomPane.fight.rollAnAttack"}}"></i>
                                            </a>
                                            {{#if (cprCompare (cprFireFlag ../actor "suppressive" weapon.id) "!==" "checked")}}
                                            <a class="rollable damage-roll-{{weapon.id}}" data-roll-type="damage" data-item-id={{weapon.id}} data-damage="{{weapon.data.data.damage}}">
                                                <i class="fas fa-tint red-fg" title="{{localize "CPR.actorSheets.commonActions.rollDamage"}}"></i>
                                            </a>
                                            {{/if}}
                                        </div>
                                    </li>
                                    {{/each}}
                                {{/if}}
                            {{/each}}
                        {{/if}}
                {{/if}}
                {{/each}}
                {{/if}}
            </ol>
        </div>
    </div>
    {{/if}}
    {{#if (cprCompare fightState "===" "Netspace")}}
    <div class="interface-abilities-section">
        <li class="items-header item flexrow" data-item-id="{{cyberdeck.id}}">
            <span class="item-name section-name fg-white bg-black text-nowrap text-padding-left">
                <a class="name item-view">{{cyberdeck.data.name}}</a>
            </span>
        </li>
        <div class="net-actions-content">
            {{#each (cprFindConfigObj "interfaceAbilities") as |intAbility ia|}}
            <li class="items-header flexrow">
                <a class="rollable" data-roll-type="interfaceAbility" data-interface-ability="{{ia}}" data-cyberdeck-id="{{../cyberdeck.id}}" title="{{localize "CPR.characterSheet.bottomPane.fight.clickToPerformAction"}}">{{localize intAbility}}</a>
            </li>
            {{/each}}
            <hr>
            <li class="items-header flexrow">
                <a class="rollable" data-roll-type="interfaceAbility" data-interface-ability="defense" data-cyberdeck-id="{{cyberdeck.id}}" title="{{localize "CPR.characterSheet.bottomPane.fight.clickToPerformAction"}}">{{localize "CPR.global.generic.defense"}}</a>
            </li>
            <li class="items-header flexrow">
                <a class="rollable" data-roll-type="interfaceAbility" data-interface-ability="speed" data-cyberdeck-id="{{cyberdeck.id}}" title="{{localize "CPR.characterSheet.bottomPane.fight.clickToPerformAction"}}">{{localize "CPR.global.generic.speed"}}</a>
            </li>
        </div>

    </div>
    <div class="cyberdeck-installed-section">
        <li class="items-header flexrow">
            <span class="item-name section-name fg-white bg-black text-nowrap text-padding-left">
                {{localize "CPR.characterSheet.bottomPane.fight.installed"}}
            </span>
        </li>
        <div class="cyberdeck-installed-content">
            <div class="cyberdeck-installed-software">
              {{#each (cprFindConfigObj "programClassList") as |pgmClass pc|}}
                    <li class="items-header flexrow">
                        <span class="text-bold bg-pink">{{localize pgmClass}}</span>
                    </li>
                  {{#each ../cyberdeck.data.data.programs.installed as |program|}}
                    {{#if (cprCompare program.data.class "===" pc)}}
                    <li class="items-header item flexrow cyberdeck-installed-software-list" data-item-id="{{program._id}}">
                        {{#if (cprListContains "booster,defender,blackice" pc)}}
                            <div class="installed-program-name">
                                &nbsp;<a class="name item-view{{#if program.data.isRezzed}} text-italics{{/if}}">{{program.name}}</a>
                            </div>
                            <div class="installed-program-attack-and-damage">
                                <a class="program-execution" data-execution-type="{{#if program.data.isRezzed}}de{{/if}}rez" data-cyberdeck-id="{{../../cyberdeck.id}}" data-program-id="{{program._id}}">{{#if program.data.isRezzed}}<i class="far fa-arrow-alt-circle-down" title="{{localize "CPR.characterSheet.bottomPane.fight.clickToDeactivateProgram"}}">{{else}}<i class="far fa-arrow-alt-circle-up" title="{{localize "CPR.characterSheet.bottomPane.fight.clickToActivateProgram"}}">{{/if}}</i></a>
                            </div>
                            <div class="installed-program-actions">
                                &nbsp;
                                <a class="program-uninstall" data-cyberdeck-id="{{../../cyberdeck.id}}" data-item-id="{{program._id}}"><i class="fas fa-folder-minus fg-red" title="{{localize "CPR.characterSheet.bottomPane.fight.eraseProgram"}}"></i></a>
                            </div>
                        {{else}}
                            <div class="installed-program-name">
                                &nbsp;<a class="name item-view" title="{{localize "CPR.characterSheet.bottomPane.fight.clickToView"}}">{{program.name}}</a>
                            </div>
                            <div class="installed-program-attack-and-damage">
                                <div class="installed-program-attack">
                                    <a class="program-execution" data-roll-type="cyberdeckProgram" data-execution-type="atk" data-cyberdeck-id="{{../../cyberdeck.id}}" data-program-id="{{program._id}}"><i class="fas fa-fist-raised red-fg" title="{{localize "CPR.characterSheet.bottomPane.fight.rollAnAttack"}}" ></i></a>
                                </div>
                                {{#if (cprCompare program.data.damage.standard "!==" "")}}
                                <div class="installed-program-damage">
                                    <a class="program-execution" data-roll-type="cyberdeckProgram" data-execution-type="damage" data-cyberdeck-id="{{../../cyberdeck.id}}" data-program-id="{{program._id}}"><i class="fas fa-tint red-fg" title="{{localize "CPR.actorSheets.commonActions.rollDamage"}}" ></i></a>
                                </div>
                                {{/if}}
                            </div>
                            <div class="installed-program-actions">
                                &nbsp;
                                <a class="program-uninstall" data-cyberdeck-id="{{../../cyberdeck.id}}" data-item-id="{{program._id}}"><i class="fas fa-folder-minus fg-red" title="{{localize "CPR.characterSheet.bottomPane.fight.eraseProgram"}}"></i></a>
                            </div>
                        {{/if}}
                    </li>
                    {{/if}}
                  {{/each}}
                {{/each}}
            </div>
            <div class="cyberdeck-installed-hardware">


            </div>

        </div>
    </div>
    <div class="cyberdeck-rezzed-section">
        <li class="items-header flexrow">
            <span class="item-name section-name fg-white bg-black text-nowrap text-padding-left">
                {{localize "CPR.characterSheet.bottomPane.fight.rezzed"}}
            </span>
        </li>
        <div class="cyberdeck-rezzed-content">
          <div class="cyberdeck-rezzed-software">
            {{#each (cprToArray "booster,defender" ",") as |pc|}}
              <li class="items-header flexrow cyberdeck-rezzed-software-list bg-pink">
                <div class="rezzed-program-name text-bold bg-pink">{{pc}}</div>
                <div class="rezzed-program-per text-bold bg-pink text-center"></div>
                <div class="rezzed-program-spd text-bold bg-pink text-center"></div>
                <div class="rezzed-program-atk text-bold bg-pink text-center">{{localize "CPR.global.blackIce.stats.atk"}}</div>
                <div class="rezzed-program-def text-bold bg-pink text-center">{{localize "CPR.global.blackIce.stats.def"}}</div>
                <div class="rezzed-program-rez-and-decrement text-bold bg-pink text-center">{{localize "CPR.global.generic.rez"}}</div>
                <div class="rezzed-program-reset text-bold bg-pink text-center"></div>
              </li>
              {{#each ../cyberdeck.data.data.programs.rezzed as |program|}}
                {{#if (cprCompare program.data.class "===" pc)}}
                  <li class="items-header item flexrow cyberdeck-rezzed-software-list" data-item-id="{{program._id}}">
                    <div class="rezzed-program-name">
                          &nbsp;<a class="name item-view" title="{{localize "CPR.characterSheet.bottomPane.fight.clickToView"}}" data-cyberdeck-id="{{../../cyberdeck.id}}" data-program-id="{{program._id}}">{{program.name}}</a>
                    </div>
                    <div class="rezzed-program-per text-bold text-center"></div>
                    <div class="rezzed-program-spd text-bold text-center"></div>
                    <div class="rezzed-program-atk text-center">{{program.data.atk}}</div>
                    <div class="rezzed-program-def text-center">{{program.data.def}}</div>
                    <div class="rezzed-program-rez-and-decrement text-center">
                      <div class="rezzed-program-rez text-center">{{program.data.rez}}</div>
                      <div class="rezzed-program-decrement-rez text-center">{{#if (cprCompare program.data.rez ">" 0)}}<a class="program-execution" data-execution-type="reduce-rez" data-cyberdeck-id="{{../../cyberdeck.id}}" data-program-id="{{program._id}}"><i class="far fa-minus-square" title="{{localize "CPR.characterSheet.bottomPane.fight.reduceRez"}}"></i></a>{{/if}}</div>
                    </div>
                    <div class="rezzed-program-reset text-center"><a class="program-execution" data-execution-type="reset-rez" data-cyberdeck-id="{{../../cyberdeck.id}}" data-program-id="{{program._id}}"><i class="fas fa-undo" title="{{localize "CPR.characterSheet.bottomPane.fight.resetRez"}}"></i></a></div>
                  </li>
                {{/if}}
              {{/each}}
            {{/each}}
            <li class="items-header flexrow cyberdeck-rezzed-software-list bg-pink">
              <div class="rezzed-program-name text-bold bg-pink">{{localize "CPR.global.programClass.blackice"}}</div>
              <div class="rezzed-program-per text-bold bg-pink text-center">{{localize "CPR.global.blackIce.stats.per"}}</div>
              <div class="rezzed-program-spd text-bold bg-pink text-center">{{localize "CPR.global.blackIce.stats.spd"}}</div>
              <div class="rezzed-program-atk text-bold bg-pink text-center">{{localize "CPR.global.blackIce.stats.atk"}}</div>
              <div class="rezzed-program-def text-bold bg-pink text-center">{{localize "CPR.global.blackIce.stats.def"}}</div>
              <div class="rezzed-program-rez-and-decrement text-bold bg-pink text-center">{{localize "CPR.global.generic.rez"}}</div>
            </li>
            {{#each cyberdeck.data.data.programs.rezzed as |program|}}
              {{#if (cprCompare program.data.class "===" "blackice")}}
                <li class="items-header item flexrow cyberdeck-rezzed-software-list" data-item-id="{{program._id}}">
                  <div class="rezzed-program-name">
                    &nbsp;<a class="name item-view" title="{{localize "CPR.characterSheet.bottomPane.fight.clickToView"}}" data-cyberdeck-id="{{../cyberdeck.id}}" data-program-id="{{program._id}}">{{program.name}} ({{localize (cprFindConfigValue "blackIceType" program.data.blackIceType)}})</a>
                  </div>
                  <div class="rezzed-program-per text-center">{{program.data.per}}</div>
                  <div class="rezzed-program-spd text-center">{{program.data.spd}}</div>
                  <div class="rezzed-program-atk text-center">{{program.data.atk}}</div>
                  <div class="rezzed-program-def text-center">{{program.data.def}}</div>
                  <div class="rezzed-program-rez-and-decrement text-center">
                    <div class="rezzed-program-rez text-center">{{program.data.rez}}</div>
                    <div class="rezzed-program-decrement-rez text-center">{{#if (cprCompare ../actor.data.type "===" "mook")}}{{#if (cprCompare program.data.rez ">" 0)}}<a class="program-execution" data-execution-type="reduce-rez" data-cyberdeck-id="{{../cyberdeck.id}}" data-program-id="{{program._id}}"><i class="far fa-minus-square" title="{{localize "CPR.characterSheet.bottomPane.fight.reduceRez"}}"></i></a>{{/if}}{{/if}}</div>
                  </div>
                  <div class="rezzed-program-reset">
                    {{#if (cprCompare ../actor.data.type "===" "mook")}}
                    &nbsp;
                    <a class="program-execution" data-roll-type="cyberdeckProgram" data-execution-type="atk" data-cyberdeck-id="{{../cyberdeck.id}}" data-program-id="{{program._id}}"><i class="fas fa-fist-raised red-fg" title="{{localize "CPR.characterSheet.bottomPane.fight.rollAnAttack"}}"></i></a>
                    <a class="program-execution" data-roll-type="cyberdeckProgram" data-execution-type="damage" data-cyberdeck-id="{{../cyberdeck.id}}" data-program-id="{{program._id}}"><i class="fas fa-tint red-fg" title="{{localize "CPR.actorSheets.commonActions.rollDamage"}}" ></i></a>
                    <a class="program-execution" data-roll-type="cyberdeckProgram" data-execution-type="def" data-cyberdeck-id="{{../cyberdeck.id}}" data-program-id="{{program._id}}"><i class="fas fa-shield-virus red-fg" title="{{localize "CPR.characterSheet.bottomPane.fight.rollDefense"}}" ></i></a>
                    {{/if}}
                  </div>
                  </li>
              {{/if}}
            {{/each}}
          </div>
        </div>
    </div>
    {{/if}}
</div>
{{cprTrace "END CPR-FIGHT.HBS"}}
